extends ../layouts/page-no-nav
block content
  .form-signin
    if error
      .alert.alert-danger(role='alert')
        strong= string('Oops')
        span  
        span= string('Invalid_Username_Or_Password')
  
    form(method='POST')
      label.sr-only(for='user')= string('Email_Address')
      input.form-control(type='email', id='user', name='user', placeholder= string('Email_Address'), value= user, required, autofocus= !error)
      
      label.sr-only(for='pass')= string('Password')
      input.form-control(type='password', id='pass', name='pass', placeholder= string('Password'), required, autofocus= error)
      
      button.btn.btn-lg.btn-primary.btn-block(type='submit')= string('Log_In')
