.tile.challenge-list
  .container
    each category in categories
      .category(id=category[0].category class= category[0].colour)
        h2.heading(class= category[0].colour + '-pill')= category[0].category + ' Challenges'

        .challenges
           ul 
             each challenge in category
               if challenge.comingSoon
                 li
                   a(disabled="disabled" class= challenge.colour + '-challenge')
                     .challenge.disabled
                       .image(style="background-image: url('/challenge-placeholder.jpg')")
                       .details
                         .name
                           span= challenge.name
                         .type Coming Soon
               else
                 li
                   a(href=challenge.link class= challenge.colour + '-challenge')
                     .challenge
                       .image(style="background-image: url('/challenge-placeholder.jpg')")
                       .details
                         .name
                           span= challenge.name
                         .type= challenge.type

    //- .hidden-sm.hidden-xs
    //-   .col-md-12
    //-     .challenges-list-header
    //-       h1(class= category[0].colour + '-pill')= category[0].category

    //-   .col-md-12
    //-     .challenge-list-box
    //-       .row
    //-         each challenge in category
    //-           .col-md-4
    //-             .challenges-list-challenge
    //-               if challenge.comingSoon
    //-                 a.btn.btn-block(disabled class= challenge.colour + '-challenge')= challenge.name
    //-                   div
    //-                     .white-pill= string('Coming_Soon')
    //-               else
    //-                 a.btn.btn-block(href=challenge.link class= challenge.colour + '-challenge')= challenge.name
    //-                   div
    //-                     .white-pill= challenge.type