table.table.table-condensed.no-table-top-border
  tr
    td
      strong= string('Height')
    td(class=user.height ? '' : 'red-highlight', width="100%")= user.height ? user.height + string('CM') : string('Not_Set')
    td
      a.btn.btn-info(href="height/")= string('Change')
  tr
    td
      strong= string('Weight')
    td(class=user.weight ? '' : 'red-highlight')= user.weight ? user.weight + string('KG') : string('Not_Set')
    td
      a.btn.btn-info(href="weight/")= string('Change')
  tr
    td
      strong= string('Location')
    td
      p= string('Region') + ': '
        span(class=user.location.regionName ? '' : 'red-highlight')= (user.location.regionName || string('Not_Set'))
      p= string('District') + ': '
        span(class=user.location.districtName ? '' : 'red-highlight')= (user.location.districtName || string('Not_Set'))
    td
      a.btn.btn-info(href="location/")= string('Change')
  tr
    td
      strong= string('Routine')
    td(class=user.routineType ? '' : 'red-highlight')= user.routineType || string('Not_Set')
    td
      a.btn.btn-info(href="routine/")= string('Change')
  tr
    td
      strong= string('Gym')
    td(class=user.gym ? '' : 'red-highlight')= user.gym || string('Not_Set')
    td
      a.btn.btn-info(href="gym/")= string('Change')
  tr
    td
      strong= string('Privacy')
    td
    td
      a.btn.btn-info(href="privacy/")= string('Change')
  tr
    td
      strong= string('Notifications')
    td
    td
      a.btn.btn-info(href="notifications/")= string('Change')