section
  h2.purple-pill.user-profile-stats.no-margin-bottom= string('Following')
  if user.following.length > 0
    .following-users
      .row
        each followingUser in user.following
          .col-xs-3
            a(href='/user/' + followingUser.username + '/')
              img.img-circle.avatar.lazyload(data-srcset=followingUser.avatar + ' 1x, ' + followingUser.avatarRetina + ' 2x', alt=followingUser.username, title=followingUser.username, src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
  else
    p.margin-top= string(isLoggedInUser ? 'You_Are_Not_Following_Anyone' : 'User_Is_Not_Following_Anyone')