section
  h2.purple-pill.user-profile-stats.no-margin-bottom= string('Followers')
  if user.followers.length > 0
    .following-users
      .row
        each follower in user.followers
          .col-xs-3
            a(href='/user/' + follower.username + '/')
              img.img-circle.avatar.lazyload(data-srcset=follower.avatar + ' 1x, ' + follower.avatarRetina + ' 2x', alt=follower.username, title=follower.username, src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
  else
    p.margin-top= string(isLoggedInUser ? 'You_Dont_Have_Followers' : 'User_Has_No_Followers')