.modal(id='evidenceImagePopup' tabindex='-1' role='dialog' aria-labelledby='evidenceImagePopupLabel')
  .modal-dialog.modal-sm(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label= string('Close'))
          span(aria-hidden='true') &times;
        h4.modal-title(id='evidenceImagePopupLabel')= string('Evidence')
      .modal-body.text-center
        img.img-thumbnail.img-responsive.evidence-src

      .modal-footer
        .btn-toolbar.notification-buttons.notification-buttons--large
          button.btn.btn-like.pull-left.margin-top(type='button' title=string('Like') data-update-id="NULL")
            i.fa.fa-thumbs-up
            span.likes(data-update-id="NULL")
          
          a.btn.btn-primary.window-popup.pull-left.margin-top.share-evidence-button(href='#', target='_blank')= ' ' + string('Share')
          
          .dropdown.pull-right.margin-top
            button.btn.btn-default.dropdown-toggle(type="button" id="dropdownMenuImage1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true")
               i.fa.fa-ellipsis-h
               
            ul.dropdown-menu(aria-labelledby="dropdownMenuImage1")
              li
                a.btn-delete(href="#" data-update-id="NULL")= string('Delete')
              li
                a.btn-flag(href="#" data-update-id="NULL")= string('Flag_As_Not_Appropriate')