-
  var resultData = [];
  for (var index = 0; index < results.length; index++) {
    var result = results[index];
  
    resultData.push({
      type: result.imageValidated ? 'image' : (result.videoValidated ? 'video' : null),
      id: result.id,
      src: result.evidence,
      likes: result.likes,
      flags: result.flags,
      updateId: result.updateId
    })
  };
  
script var resultData = !{JSON.stringify(resultData)}

.row
  .col-xs-12.visible-xs-block
    #leaderboard-cards
      each result, index in results
        - var isValidated = result.videoValidated || result.imageValidated;
        
        .row(class = loggedInUser && loggedInUser.id === result.userId ? 'user-highlight' : '' data-update-id=result.updateId)
          .col-xs-12
            a(href='/user/' + result.username + '/')
              img.img-circle.avatar.lazyload(data-srcset=result.avatar + ' 1x, ' + result.avatarRetina + ' 2x', alt=result.username, title=result.username, src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
              
            span.pull-right
              .leaderboard-button
                if result.videoValidated
                  a.btn.btn-info.result-link(href='#responsive' data-id=index)
                    img(src='/video.svg')
                else if result.imageValidated
                  a.btn.btn-info.result-link(href='#responsive' data-id=index)
                    img(src='/camera.svg')
            
              if !result.lastRank || result.lastRank > result.rank
                i.fa.fa-chevron-up.fa-2x
              else if result.lastRank < result.rank
                i.fa.fa-chevron-down.fa-2x
              else
                i.fa.fa-minus.fa-2x
            
            div= '#' + result.rank
            
            a(href='/user/' + result.username + '/')= result.firstName + ' ' + result.lastName
            
            div
              if result.videoValidated
                a.result-link(href='#responsive' data-id=index)= result.result
              else if result.imageValidated
                a.result-link(href='#responsive' data-id=index)= result.result
              else
                = result.result
              
            .btn-toolbar.notification-buttons
              button.btn.btn-like.pull-left(type='button' title=string('Like') class=result.userLikes ? 'btn-liked' : '' data-update-id=result.updateId)
                i.fa.fa-thumbs-up
                span.likes.always-visible(data-update-id=result.updateId)= result.likes
              
              .footer-text.small.pull-left.gray-text= result.submitted.fromNow()
              
              .dropdown.pull-right
                button.btn.btn-default.dropdown-toggle(type="button" id="dropdownMenu" + result.id data-toggle="dropdown" aria-haspopup="true" aria-expanded="true")
                   i.fa.fa-ellipsis-h
          
                ul.dropdown-menu(aria-labelledby="dropdownMenu" + result.id)
                  if loggedInUser
                    if result.userId === loggedInUser.id
                      li
                        a.btn-delete(href="#" data-update-id=result.updateId)= string('Delete')
                  li
                    a.btn-flag(href="#" data-update-id=result.updateId)= string('Flag_As_Not_Appropriate')

  .col-xs-12.visible-sm-block.visible-md-block.visible-lg-block
    table.table#leaderboard-table
      tbody
        each result, index in results
          - var isValidated = result.videoValidated || result.imageValidated;
          tr(class = loggedInUser && loggedInUser.id === result.userId ? 'user-highlight' : '' data-update-id=result.updateId)
            
            td
              a(href='/user/' + result.username + '/')
                img.img-circle.avatar.lazyload(data-srcset=result.avatar + ' 1x, ' + result.avatarRetina + ' 2x', alt=result.username, title=result.username, src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")

            td
              p= '#' + result.rank
            
            td()
              p
                a(href='/user/' + result.username + '/')= result.firstName + ' ' + result.lastName
              p
                small.gray-text= string('Submitted') + ' ' + result.submitted.fromNow()
              
            td.result-text
              if result.videoValidated
                a.result-link(href='#responsive' data-id=index)= result.result
              else if result.imageValidated
                a.result-link(href='#responsive' data-id=index)= result.result
              else
                = result.result
            
            td
              if !result.lastRank || result.lastRank > result.rank
                i.fa.fa-chevron-up.fa-2x
              else if result.lastRank < result.rank
                i.fa.fa-chevron-down.fa-2x
              else
                i.fa.fa-minus.fa-2x
                
            td
              .btn-toolbar
                .dropdown.pull-right
                  button.btn.btn-default.dropdown-toggle(type="button" id="dropdownMenu" + result.id data-toggle="dropdown" aria-haspopup="true" aria-expanded="true")
                     i.fa.fa-ellipsis-h
                  
                  ul.dropdown-menu(aria-labelledby="dropdownMenu" + result.id)
                    if loggedInUser
                      if result.userId === loggedInUser.id
                        li
                          a.btn-delete(href="#" data-update-id=result.updateId)= string('Delete')
                    li
                      a.btn-flag(href="#" data-update-id=result.updateId)= string('Flag_As_Not_Appropriate')
                      
                button.btn.btn-like.pull-right(type='button' title=string('Like') class=result.userLikes ? 'btn-liked' : '' data-update-id=result.updateId)
                  i.fa.fa-thumbs-up
                  span.likes(data-update-id=result.updateId)= result.likes
              
                .leaderboard-button.pull-right
                  if result.videoValidated
                    a.btn.btn-info.result-link(href='#responsive' data-id=index)
                      img(src='/video.svg')
                      span= string('Video')
                  else if result.imageValidated
                    a.btn.btn-info.result-link(href='#responsive' data-id=index)
                      img(src='/camera.svg')
                      span= string('Image')
                      
                