
.row
  .col-xs-9
    h1.orange-pill= challenge.name + ' ' + string('In') + ' ' + currentAreaName
  .col-xs-3
    button.btn.btn-warning.leaderboard-filter-button(type='button' data-toggle='collapse' data-target='#leaderboardFilter' aria-expanded='false' aria-controls='leaderboardFilter' title=string('Filter'))
      img(src='/pencil.svg')
      span.visible-md-inline.visible-lg-inline= string('Filter')

.row
  .col-sm-12
    .collapse#leaderboardFilter
      include validation-error-alert
    
      form(method='post')
        if groups.length > 1
          .form-group
            label.control-label(for='FilterGroup')= string('Group')
            select.form-control(id='FilterGroup', name='FilterGroup')
              each group in groups
                option(value = group.name, selected = (group.id === challenge.groupId ? true : false))= group.name
          
        .form-group(class = getFieldValidationClass('Location'))
          label.control-label(for='FilterLocation')= string('Location')
          #search-all-locations
            input.form-control.typeahead(id='FilterLocation', name='FilterLocation')
          
        .form-group
          label.control-label(for='FilterGender')= string('Gender')
          select.form-control(id='FilterGender', name='FilterGender')
            option(value = -1, selected)= string('Both')
            option(value = 'male', selected = filter.isMale !== null && filter.isMale === true)= string('Male')
            option(value = 'female', selected = filter.isMale !== null && !filter.isMale)= string('Female')
        
        .form-group
          label.control-label(for='FilterAge')= string('Age_Group')
          select.form-control(id='FilterAge', name='FilterAge')
            option(value = -1, selected)= string('All')
            each group in ageGroups
              option(value = group.name, selected = group.selected)= group.name
            
        .form-group
          label.control-label(for='FilterWeight')= string('Weight_Group')
          select.form-control(id='FilterWeight', name='FilterWeight')
            option(value = -1, selected)= string('All')
            each group in weightGroups
              option(value = group.name, selected = group.selected)= group.name
              
        .form-group
          .checkbox
            label
              input(type='checkbox', name='FilterOnlyShowValidated', checked=onlyShowValidated)
              = string('Only_Show_Validated_Results')
        
        .text-center
          button.btn.btn-lg.btn-primary(type='submit')= string('Update')
