.tile.leaderboard-list
  .container
    each category in categories
      .category(id=category[0].category class= category[0].colour)
        h2.heading= category[0].category + ' Challenges'

        .challenges
           ul 
             each challenge in category
               if challenge.comingSoon
                 li
                   a(disabled="disabled" class= challenge.colour + '-challenge')
                     .challenge.disabled
                       .details
                         .name
                           span= challenge.name
               else
                 li
                   a(href= challenge.link class= challenge.colour + '-challenge')
                     .challenge
                       .details
                         .name
                           span= challenge.name