.modal(id='evidenceVideoPopup' tabindex='-1' role='dialog' aria-labelledby='evidenceVideoPopupLabel')
  .modal-dialog.modal-sm(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label= string('Close'))
          span(aria-hidden='true') &times;
        h4.modal-title(id='evidenceVideoPopupLabel')= string('Evidence')
      .modal-body.text-center
        div
          .embed-responsive.embed-responsive-16by9
            video#evidenceVideo(poster='/purple-logo.svg')
              source.evidence-src(type='video/mp4')
              p.vjs-no-js To view this video please enable JavaScript.
        
      .modal-footer
        .btn-toolbar.notification-buttons.notification-buttons--large
          button.btn.btn-like.pull-left.margin-top(type='button' title=string('Like') data-update-id="NULL")
            i.fa.fa-thumbs-up
            span.likes(data-update-id="NULL")
          
          a.btn.btn-primary.window-popup.pull-left.margin-top.share-evidence-button(href='#', target='_blank')= ' ' + string('Share')
          
          .dropdown.pull-right.margin-top
            button.btn.btn-default.dropdown-toggle(type="button" id="dropdownMenuVideo1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true")
               i.fa.fa-ellipsis-h
            
            ul.dropdown-menu(aria-labelledby="dropdownMenuVideo1")
              li
                a.btn-delete(href="#" data-update-id="NULL")= string('Delete')
              li
                a.btn-flag(href="#" data-update-id="NULL")= string('Flag_As_Not_Appropriate')