-
  var categoryColours = {
    Strength: 'purple',
    Cardio: 'orange',
    Multi: 'green'
  };

each nomination in nominations
  .user-activity(class='user-activity--' + categoryColours[nomination.challengeCategory])
    
    h2.white-pill= nomination.challengeName
    h1= string('Challenged_By')
    
    .row
      each nominator in nomination.nominators
        .col-xs-2
          a(href='/user/' + nominator.username + '/')
            img.img-circle.avatar.lazyload(data-srcset=nominator.avatar + ' 1x, ' + nominator.avatarRetina + ' 2x', alt=nominator.username, title=nominator.username, src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
  
    if isLoggedInUser
      .margin-top
        .btn-toolbar.text-center
          a.btn.btn-lg.btn-info(href=nomination.link)= string('Take_Challenge')