section
  h2.purple-pill= string('Suggestions')
  
  table.table
    tbody
      each result in nominationSuggestions
        tr
          td
            a(href='/user/' + result.username + '/')
              img.img-circle.avatar.lazyload(data-srcset=result.avatar + ' 1x, ' + result.avatarRetina + ' 2x', alt=result.username, title=result.username, src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
          
          td(style="width: 100%")
            a(href='/user/' + result.username + '/')= result.firstName + ' ' + result.lastName
            
          td
            a.btn.btn-primary(href=searchLink + result.username + '/')= string('Nominate')