if numberOfPages > 1
  - var urlPrefix = (page || 1) === 1 ? '' : '../';
  
  nav
    ul.pagination
      if (page - 3 > 0)
        li
          a(href=urlPrefix, aria-label='Previous')
            span(aria-hidden="true") &laquo;
            
      if (page - 2 === 1)
        li
          a(href=urlPrefix)= 1
          
      if (page - 2 > 1)
        li
          a(href=urlPrefix + (page - 2) + '/')= page - 2
          
      if (page - 1 === 1)
        li
          a(href=urlPrefix)= 1
          
      if (page - 1 > 1)
        li
          a(href=urlPrefix + (page - 1) + '/')= page - 1
          
      li.active
        a= page
        
      if (page + 1 <= numberOfPages)
        li
          a(href=urlPrefix + (page + 1) + '/')= page + 1
          
      if (page + 2 <= numberOfPages)
        li
          a(href=urlPrefix + (page + 2) + '/')= page + 2
          
      if (page + 3 <= numberOfPages)
        li
          a(href=urlPrefix + numberOfPages + '/', aria-label='Next')
            span(aria-hidden="true") &raquo;
