section
  h2.purple-pill.user-profile-stats.no-margin-bottom= string('Clients')
  if user.clients.length > 0
    .following-users
      .row
        each client in user.clients
          .col-xs-3
            a(href='/user/' + client.username + '/')
              img.img-circle.avatar.lazyload(data-srcset=client.avatar + ' 1x, ' + client.avatarRetina + ' 2x', alt=client.username, title=client.username, src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
  else
    p.margin-top= string(isLoggedInUser ? 'You_Dont_Have_Any_Clients' : 'User_Has_No_Clients')