.results
  ul
    each result in results
      li
        .object.user-result
          .avatar
            .v-wrapper
              .v-container
                  //- a(href='/user/' + result.username + '/')
                  img.img-circle.lazyload(data-srcset=result.avatar + ' 1x, ' + result.avatarRetina + ' 2x', alt=result.username, title=result.username, src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
          .meta
            .block
            .block
          .details
            .block
              .v-wrapper
                .v-container
                  .icon
                  .label Name
                  .value= result.firstName + ' ' + result.lastName
            .block
              .v-wrapper
                .v-container
                  .icon
                  .label Location
                  .value Southampton, SO15 3HY
          .rating
          //- a(href='/user/' + result.username + '/')= result.firstName + ' ' + result.lastName

.object.pagination
  include pagination