.object.social-feed(data-user-id=user.id, data-show-only-mine=user.showOnlyMine)
  if socialUpdates.length > 0
    each update in socialUpdates    
      include social-feed-update
    .object.btn-style-one.outline.purple
      input(type="button", value="Load More", load-more)