.card(data-update-timestamp=update.created.toString(), data-update-id=update.id)
  
  .user
    a(href='/user/' + update.username + '/')
      .name= update.firstName + " " + update.lastName
      .avatar
        img.lazyload(data-srcset=update.avatar + ' 1x, ' + update.avatarRetina + ' 2x', alt=update.username, title=update.username, src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")

  if update.videos.length > 0 || update.images.length > 0 
    .media
      each videoAttachment in update.videos
        .video
          video.video-js(controls poster=videoAttachment.placeholderImageUrl preload='none')
            source(src=videoAttachment.videoUrl type='video/mp4')
            p.vjs-no-js To view this video please enable JavaScript.
      each image in update.images
        .image(style="background-image:url('" + image + "-sm.png" +"')")

  if update.body
    .body
      p= update.body

  .toolbar
    if loggedInUser
      .like
        button.btn.btn-like(type='button' title=string('Like') class=update.userLikes ? 'btn-liked' : '' data-update-id=update.id)
          i.fa.fa-thumbs-up
          span.likes.always-visible(data-update-id=update.id)= update.likes
    .details
      .posted= update.created.fromNow()
      if loggedInUser
        if loggedInUser.id !== update.userId
          .flag 
             button.btn-flag(href="#" data-update-id=update.id)
              i.fa.fa-flag
        if loggedInUser.id === update.userId
          .trash 
             button.btn-delete(href="#" data-update-id=update.id)
              i.fa.fa-trash

    if loggedInUser
      if loggedInUser.id === update.userId
        //- = string('You')
      else
      //-   a(href='/user/' + update.username + '/')= update.firstName + ' ' + update.lastName
      //- = ' ' + string('Social_Update_Type_' + update.type) + ': '
  
    //- if update.result
    //-   - var challengeGroupText = update.result.challengeGroupName === '-' ? ' - ' : ' (' + update.result.challengeGroupName + ') - ';
    //-   a(href='/result/' + update.result.id + '/')= update.result.challengeName + challengeGroupText + update.result.result
    
  
    
    //- .btn-toolbar.notification-buttons
    //-   button.btn.btn-like.pull-left(type='button' title=string('Like') class=update.userLikes ? 'btn-liked' : '' data-update-id=update.id)
    //-     i.fa.fa-thumbs-up
    //-     span.likes.always-visible(data-update-id=update.id)= update.likes
        
    //-   a.btn.btn-default.pull-left(href='/update/' + update.id + '/')= string('Share')
      
    //-   .footer-text.small.pull-left.gray-text= update.created.fromNow()
      
    //-   .dropdown.pull-right
    //-     button.btn.btn-default.dropdown-toggle(type="button" id="dropdownMenu" + update.created data-toggle="dropdown" aria-haspopup="true" aria-expanded="true")
    //-        i.fa.fa-ellipsis-h
  
    //-     ul.dropdown-menu(aria-labelledby="dropdownMenu" + update.created)
    //-       if update.userId === loggedInUser.id
    //-         li
    //-           a.btn-delete(href="#" data-update-id=update.id)= string('Delete')
    //-       li
    //-         a.btn-flag(href="#" data-update-id=update.id)= string('Flag_As_Not_Appropriate')