.sidebar

  .object.submit-result

    h2.heading Add your own result

    if loggedInUser

      form#result-evidence-uploader(method='post', enctype='multipart/form-data')

        input(type='hidden' id='Measurement' value=challenge.measurement)

        include validation-error-alert
        
        section.result

          if groups.length > 1
            .form-group.required#groupValidation(class = getFieldValidationClass('Group'))
              .select-wrapper
                select.form-control(id='FilterGroup' name='FilterGroup')
                  unless group
                    option(value = -1 disabled selected) Select a category
                  each group in groups
                    option(value=group.name selected=group.selected)= group.name

          .input-wrapper.required#resultValidation(class = getFieldValidationClass('Result'))
            input(type='text', id='Result', name='Result', placeholder= string('Result_Value_Placeholder_' + challenge.measurement), value=result)

        section.media

          .form-group(class = getFieldValidationClass('Evidence'))
            label.control-label(for='Evidence') Validate your result by uploading a video or photo
            
            #uploadProgressContainer.collapse
              span= ' ' + string('Uploading')
              .progress
                .progress-bar.progress-bar-success.active.progress-bar-striped(role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100")
                  span
                  span.collapse= string('Processing')

            input.form-control(type='file', id='Evidence', name='Evidence', class="filestyle", data-input="false", data-buttonText="Choose a file...")

        section.submit 
          .button 
            button(type='submit') Submit your result

    else
      
      section.login-required

        p You must login to your GymFit account before you can submit a result.

        .object.btn-style-two 
          a(href='/login/') Login

  .object.nominate-a-friend
      form(method="post")
        h2.heading Nominate a friend
        .input-wrapper
          input(type='text', id='Nominate', name='Nominate', placeholder="Their email address")
        .object.btn-style-two
          button(type="submit") Nominate Now

    //- section
    //-   h4.purple-pill= string('How_to_Submit_Your_Result')
    //-   .embed-responsive.embed-responsive-16by9
    //-     iframe(src="https://www.youtube.com/embed/QYn4drKehFU?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen)
        
    //-   h4.purple-pill.margin-top= string('How_to_Upload_Your_Result')
    //-   .embed-responsive.embed-responsive-16by9
    //-     iframe(src="https://www.youtube.com/embed/7KJ03PX5sWg?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen)