.legal-wording
  p Our <a href="/gb/privacy-policy/" target="_blank">Privacy Policy (click here)</a> contains full details of how we use and protect your information but a short summary is as follows.
  p GD Broadcasting Limited (GymFit) will hold your registration information with other information it holds about you (including through your use of the GymFit website and GymFit App) and will use it:
  ul
    li for registration, membership and administration
    li to provide the services you request and to contact you in the event of queries
    li to track and analyse activity on our website and app
    li for market research
    li to create an individual profile for you and to enable us to understand and respect your preferences 
