li
  - var reviewer = review.reviewer
  .reviewer
    a(href="")
      .avatar
        img.profile-picture.lazyload(data-srcset=reviewer.avatar + ' 1x, ' + reviewer.avatarRetina + ' 2x  ', alt=reviewer.username, title=reviewer.username, src="data:image/gif;base64,  R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
      .name= reviewer.firstName + " " + reviewer.lastName
      .location= (reviewer.location.districtName ? reviewer.location.districtName : reviewer.location.countyName) + ", " + reviewer.location.countryCode.toUpperCase()
  .review
    h3.title= '"' + review.title + '"'
    .rating
      ul
        - for (var i=1;i<=5;++i)
          li
            - var star = (review.rating >= i ? '100' : '0')
            img(src="/star-" + star + ".png", srcset="/star-" + star + ".png 1x, /star-" + star + "@2x.png 2x")
    .body!= review.bodyHtml