h2.purple-pill.user-profile-stats.margin-top= string('Stats')

table.user-profile-stats-table
  if user.age
    tr
      td= string('Age')
      td
        strong= user.age
      
  if user.height
    tr
      td= string('Height')
      td
        strong= user.height.toFixed(2).replace('.00', '') + ' ' + string('CM')
        
  if user.weight
    tr
      td= string('Weight')
      td
        strong= user.weight.toFixed(2).replace('.00', '') + ' ' + string('KG')
        
  if user.routineType
    tr
      td= string('Routine')
      td
        strong= user.routineType
        
  if user.gym && user.gym.toLowerCase() !== 'none'
    tr
      td= string('Gym')
      td
        strong= user.gym
