.col-md-6
  .row
    .col-sm-12
      p.no-form-group-bottom-margin I DO NOT WANT information or offers available from GymFit
  .row
    .col-xs-12
      .checkbox.no-margin-bottom
        label
          input(type='checkbox', name='GymFitEmailOptOut' checked = !gymFitEmailOptIn)
          | By email
    .col-xs-12
      .checkbox.no-margin-bottom
        label
          input(type='checkbox', name='GymFitSMSOptOut' checked = !gymFitSMSOptIn)
          | By text
    .col-xs-12
      .checkbox
        label
          input(type='checkbox', name='GymFitOnlineOptOut' checked = !gymFitOnlineOptIn)
          | Personalised online message

.col-md-6
  .row
    .col-sm-12
      div.margin-top.visible-xs-block.visible-sm-block
      p.no-form-group-bottom-margin I DO NOT WANT GymFit to send me information or offers available from GymFit Partners
  .row
    .col-xs-12
      .checkbox.no-margin-bottom
        label
          input(type='checkbox', name='PartnersEmailOptOut' checked = !partnersEmailOptIn)
          | By email
    .col-xs-12
      .checkbox.no-margin-bottom
        label
          input(type='checkbox', name='PartnersSMSOptOut' checked = !partnersSMSOptIn)
          | By text
    .col-xs-12
      .checkbox
        label
          input(type='checkbox', name='PartnersOnlineOptOut' checked = !partnersOnlineOptIn)
          | Personalised online message