section
  h2.purple-pill.user-profile-stats= string(isLoggedInUser ? 'My_Challenges' : 'Challenges')

  .row
    .col-sm-12
      include user-activities
      
      if activities.length === 0 && !isLoggedInUser
        p.no-margin-bottom= string('User_Has_Not_Competed_In_Any_Challenges')
      
  if isLoggedInUser
    .row
      .col-sm-6.margin-top
        a.btn.btn-lg.btn-primary.btn-with-icon.btn-block(href="/gb/new/")
          img(src='/running-man.svg')
          span= string('New_Challenge')
            
      .col-sm-6.margin-top
        a.btn.btn-lg.btn-primary.btn-block(href="/gb/")= string('View_Leaderboards')