li
  .avatar
    img.lazyload(data-srcset=profile.avatar + ' 1x, ' + profile.avatarRetina + ' 2x', alt=profile.username, title=profile.username, src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
  .name= profile.firstName + " " + profile.lastName
  .action
    .action-wrapper
      .action-container
        .object.btn-style-one.outline.purple
          a(href="/user/" + profile.username + "/") View Profile