.activity-rankings
  table.table
    tbody
      tr
        td
          div
            .pull-left= string('Local')
            .pull-right
              if !activity.districtPrevious || activity.districtPrevious > activity.districtCurrent
                i.fa.fa-chevron-up
              else if activity.districtCurrent < activity.districtCurrent
                i.fa.fa-chevron-down
              else
                i.fa.fa-minus
            .clearfix
          p
            = activity.districtCurrent
            small= activity.districtTotal
          
        td
          div
            .pull-left= string('Regional')
            .pull-right
              if !activity.regionPrevious || activity.regionPrevious > activity.regionCurrent
                i.fa.fa-chevron-up
              else if activity.regionCurrent < activity.regionCurrent
                i.fa.fa-chevron-down
              else
                i.fa.fa-minus
            .clearfix
            
          p
            = activity.regionCurrent
            small= activity.regionTotal
        
      tr
        td
          div
            .pull-left= string('National')
            .pull-right
              if !activity.countryPrevious || activity.countryPrevious > activity.countryCurrent
                i.fa.fa-chevron-up
              else if activity.countryCurrent < activity.countryCurrent
                i.fa.fa-chevron-down
              else
                i.fa.fa-minus
            .clearfix
            
          p
            = activity.countryCurrent
            small= activity.countryTotal
          
        td
          div
            .pull-left= string('World')
            .pull-right
              if !activity.worldPrevious || activity.worldPrevious > activity.worldCurrent
                i.fa.fa-chevron-up
              else if activity.worldCurrent < activity.worldCurrent
                i.fa.fa-chevron-down
              else
                i.fa.fa-minus
            .clearfix
            
          p
            = activity.worldCurrent
            small= activity.worldTotal