-
  var categoryColours = {
    Strength: 'purple',
    Cardio: 'orange',
    Multi: 'green'
  };


each activity in activities
  .user-activity(class='user-activity--' + categoryColours[activity.category])
    div
      .pull-left
        h1= activity.challengeName + (activity.challengeGroupName === '-' ? '' : (' ' + activity.challengeGroupName))
        p= string('Last_Attempted') + ' ' + activity.submitted.fromNow()
      h2.white-pill.pull-right= activity.result
      .clearfix
      
    .row
      .col-sm-8
        include user-activity-rankings
    
      .col-sm-4
        if isLoggedInUser
          .row.margin-bottom
            .col-xs-6.col-sm-12
              a.btn.btn-info.btn-block(href=activity.tryAgainLink)= string('Try_Again')
            
            .col-xs-6.col-sm-12
              a.btn.btn-info.btn-block.nominate-button(href=activity.nominateLink)= string('Nominate_People')

        a.btn.btn-info.btn-block(href=activity.viewLink)= string('View')