form(method='post')
  each notification in notifications
    .alert(role='alert', class= 'alert-' + notification.type)
      strong= notification.title
      span= ' - ' + notification.description
      if notification.isUserDismissable === '1'
        button.close(type='submit', name='acknowledge-notification-' + notification.id, aria-label="Close")
          span(aria-hidden="true") &times;
