-
  var getFieldValidationClass = function(fieldName) {
    if (!validationErrors || validationErrors.length < 1) {
      return;
    }
    
    return validationErrors.map(function(validationError) {
      return validationError[0].replace(/_/g, '');
    }).indexOf(fieldName) > -1 ? 'has-error' : '';
  }
  
  var errorsPresent = validationErrors && validationErrors.length > 0;

.object.alert.alert-danger#validationErrorAlert(role='alert', class = errorsPresent ? '' : 'collapse')
  strong= string('Oops')
  span  
  span= string('Form_Has_Errors')
  ul
    if errorsPresent
      each validationError in validationErrors
        li
          strong= string(validationError[0])
          span= ' - ' + string(validationError[1]) + (validationError[2] ? ' ' + validationError[2] : '')
