.object.write-review
  form(method="post" action="/user/" + user.username + "/reviews/leave-review/")
    .heading
      h2 Leave your own<br /><strong>Review</strong>
    .rating
      .rating-wrapper
        .rating-container
          ul
            li
              .star
                input(type="radio" checked="checked" name="rating" value="1" id="rating1")
                label(for="rating1")
            li
              .star
                input(type="radio" name="rating" value="2" id="rating2")
                label(for="rating2")
            li
              .star
                input(type="radio" name="rating" value="3" id="rating3")
                label(for="rating3")
            li
              .star
                input(type="radio" name="rating" value="4" id="rating4")
                label(for="rating4")
            li
              .star
                input(type="radio" name="rating" value="5" id="rating5")
                label(for="rating5")
            li.go
              .object.btn-style-one
                button(type="submit") Go