table.table.table-striped
  thead
    tr
      th= string('Email_Address')
      th
  tbody
    each user in users
      tr
        td= user.username
        
        td
          .pull-right
            .btn-toolbar
              unless user.username === username
                a.btn.btn-danger(href= '/admin-user/' + user.id + '/delete/')= string('Delete')