include validation-error-alert

form.form-horizontal(method='post')
  if user.id
    .form-group
      label.col-sm-2.control-label= string('ID')
      .col-sm-10
        p.form-control-static= user.id

  .form-group(class = getFieldValidationClass('EmailAddress'))
    label.col-sm-2.control-label(for='Username')= string('Email_Address')
    .col-sm-10
      input.form-control(type='text', id='Username', name='Username', value=user.username, autofocus)
      
  .form-group(class = getFieldValidationClass('Password'))
    label.col-sm-2.control-label(for='Password')= string('Password')
    .col-sm-10
      input.form-control(type='password', id='Password', name='Password')
      
  .form-group
    .col-sm-offset-2.col-sm-10
      button.btn.btn-primary(type='submit')= string('Save')
      span  
      a.btn.btn-default(href='/admin-users/')= string('Cancel')