form.form-horizontal(method='post')
  .form-group
    label.col-sm-2.control-label= string('ID')
    .col-sm-10
      p.form-control-static= user.id
      
  .form-group
    label.col-sm-2.control-label= string('Email_Address')
    .col-sm-10
      p.form-control-static= user.username
      
  .form-group
    .col-sm-offset-2.col-sm-10
      .btn-toolbar
        button.btn.btn-danger(type='submit')= string('Delete')
        a.btn.btn-default(href='/admin-users/')= string('Cancel')