include validation-error-alert

form.form-horizontal(method='post', enctype='multipart/form-data')
  if advertisement.id
    .form-group
      label.col-sm-2.control-label= string('ID')
      .col-sm-10
        p.form-control-static= advertisement.id

  .form-group(class = getFieldValidationClass('Name'))
    label.col-sm-2.control-label(for='Name')= string('Name')
    .col-sm-10
      input.form-control(type='text', id='Name', name='Name', value=advertisement.name, autofocus)
      
  .form-group(class = getFieldValidationClass('Link'))
    label.col-sm-2.control-label(for='Link')= string('Link')
    .col-sm-10
      input.form-control(type='text', id='Link', name='Link', value=advertisement.link, placeholder=string('Link_Placeholder'))
      
  .form-group
    label.col-sm-2.control-label= string('Areas')
    .col-sm-10
      include advertisement-area-list
      
  .form-group(class = getFieldValidationClass('SmallHorizontalImage'))
    label.col-sm-2.control-label(for='SmallHorizontalImage')= string('Small_Horizontal_Image')
    .col-sm-10
      if advertisement.smallHorizontalImagePreview
        img.img-thumbnail(src=advertisement.smallHorizontalImagePreview)
        
      input.form-control(type='file', id='SmallHorizontalImage', name='SmallHorizontalImage', aria-describedby='SmallHorizontalImageHelpBlock')
      span.help-block(id='SmallHorizontalImageHelpBlock')= string('Small_Horizontal_Image_Upload_Instructions')
      
  .form-group(class = getFieldValidationClass('LargeVerticalImage'))
    label.col-sm-2.control-label(for='LargeVerticalImage')= string('Large_Vertical_Image')
    .col-sm-10
      if advertisement.largeVerticalImageExtensionPreview
        img.img-thumbnail(src=advertisement.largeVerticalImageExtensionPreview)
        
      input.form-control(type='file', id='LargeVerticalImage', name='LargeVerticalImage', aria-describedby='LargeVerticalImageHelpBlock')
      span.help-block(id='LargeVerticalImageHelpBlock')= string('Large_Vertical_Image_Upload_Instructions')
  
  .form-group
    .col-sm-offset-2.col-sm-10
      button.btn.btn-primary(type='submit')= string('Save')
      span  
      a.btn.btn-default(href='/advertisements/')= string('Cancel')
