
ul.list-group
  .advertisement-area-list
    li.list-group-item
      .checkbox
        label
          input.checkbox(type='checkbox', name= 'countrySelected', checked=country.selected)
          span= country.name
          
    if areas
      each region in areas
        li.list-group-item
          .checkbox
            label
              input.checkbox(type='checkbox', name= 'r:' + region.id, checked=region.selected)
              span(style='padding-left:25px;')= region.name
      
        if region.counties
          each county in region.counties
            li.list-group-item
              .checkbox
                label
                  input.checkbox(type='checkbox', name= 'c:' + county.id, checked=county.selected)
                  span(style='padding-left:50px;')= county.name
            
            if county.districts
              each district in county.districts
                li.list-group-item
                  .checkbox
                    label
                      input.checkbox(type='checkbox', name= 'd:' + district.id, checked=district.selected)
                      span(style= 'padding-left:75px;')= district.name
