table.table.table-striped
  thead
    tr
      th= string('ID')
      th= string('Name')
      th= string('Link')
      th= string('Areas')
      th
  tbody
    each advertisement in advertisements
      tr
        td= advertisement.id
        td= advertisement.name
        td= advertisement.link
        td= advertisement.areas.join(', ')
        td
          .pull-right
            a.btn.btn-primary(href= '/advertisement/' + advertisement.id + '/')= string('Edit')
