form.form-horizontal(method='post')
  if post.id
    .form-group
      label.col-sm-2.control-label= string('ID')
      .col-sm-10
        p.form-control-static= post.id

  .form-group
    label.col-sm-2.control-label(for='Name')= string('Name')
    .col-sm-10
      p.form-control-static= post.name
      
  .form-group
    label.col-sm-2.control-label(for='Published')= string('Published')
    .col-sm-10
      p.form-control-static= post.published
      
  .form-group
    label.col-sm-2.control-label(for='Summary')= string('Summary')
    .col-sm-10
      textarea.form-control(id='Summary', name='Summary', rows=5, disabled)= post.summary
      
  .form-group
    label.col-sm-2.control-label(for='BodyCopy')= string('Body_Copy')
    .col-sm-10
      textarea.form-control(id='BodyCopy', name='BodyCopy', rows=5, disabled)= post.bodyCopy
      
  .form-group
    .col-sm-offset-2.col-sm-10
      .btn-toolbar
        button.btn.btn-danger(type='submit')= string('Delete')
        a.btn.btn-default(href='/blog-posts/')= string('Cancel')
