table.table.table-striped
  thead
    tr
      th= string('ID')
      th= string('Published')
      th= string('Name')
      th
  tbody
    each post in posts
      tr
        td= post.id
        td= post.published.fromNow()
        td
          a(href=post.url, target="_blank")= post.name
        td
          .pull-right
            .btn-toolbar
              a.btn.btn-danger(href= '/blog-posts/' + post.id + '/delete/')= string('Delete')
              a.btn.btn-primary(href= '/blog-posts/' + post.id + '/')= string('Edit')
