include validation-error-alert

form.form-horizontal(method='post')
  if post.id
    .form-group
      label.col-sm-2.control-label= string('ID')
      .col-sm-10
        p.form-control-static= post.id

  .form-group(class = getFieldValidationClass('Name'))
    label.col-sm-2.control-label(for='Name')= string('Name')
    .col-sm-10
      input.form-control(type='text', id='Name', name='Name', value=post.name, autofocus)
      
  .form-group(class = getFieldValidationClass('Published'))
    label.col-sm-2.control-label(for='Published')= string('Published')
    .col-sm-10
      .input-group()
        input.form-control(type='text', id='Published', name='Published', value=post.published)
        span.input-group-addon
            span.fa.fa-calendar
      
  .form-group(class = getFieldValidationClass('Summary'))
    label.col-sm-2.control-label(for='Summary')= string('Summary')
    .col-sm-10
      textarea.form-control(id='Summary', name='Summary', rows=5)= post.summary
      
  .form-group(class = getFieldValidationClass('BodyCopy'))
    label.col-sm-2.control-label(for='BodyCopy')= string('Body_Copy')
    .col-sm-10
      textarea.form-control(id='BodyCopy', name='BodyCopy', rows=5, aria-describedby='BodyCopyHelpBlock', placeholder=string('Markdown_Placeholder'))= post.bodyCopy
      span.help-block(id='BodyCopyHelpBlock') !{string('Markdown_Tip')}
      
  .form-group
    .col-sm-offset-2.col-sm-10
      button.btn.btn-primary(type='submit')= string('Save')
      span  
      a.btn.btn-default(href='/blog-posts/')= string('Cancel')
      
script.
  $(function () {
      $('#Published').datetimepicker({
        format: 'DD/MM/YYYY HH:mm:ss a',
        sideBySide: true
      });
  });
