include validation-error-alert

form.form-horizontal(method='post')
  if challenge.id
    .form-group
      label.col-sm-2.control-label= string('ID')
      .col-sm-10
        p.form-control-static= challenge.id

  .form-group(class = getFieldValidationClass('Name'))
    label.col-sm-2.control-label(for='Name')= string('Name')
    .col-sm-10
      input.form-control(type='text', id='Name', name='Name', value=challenge.name, autofocus)
  
  .form-group(class = getFieldValidationClass('Category'))
    label.col-sm-2.control-label(for='Category')= string('Category')
    .col-sm-10
      select.form-control(id='Category', name='Category')
        if challenge.categoryId === undefined
          option(value = -1, disabled, selected)= string('Select')
        each category in categories
          option(value = category.id, selected = (category.id === parseInt(challenge.categoryId)))= category.name
      
  .form-group(class = getFieldValidationClass('Type'))
    label.col-sm-2.control-label(for='Type')= string('Type')
    .col-sm-10
      select.form-control(id='Type', name='Type')
        if challenge.typeId === undefined
          option(value = -1, disabled, selected)= string('Select')
        each type in types
          option(value = type.id, selected = (type.id === parseInt(challenge.typeId)))= type.name
          
  .form-group(class = getFieldValidationClass('Groups'))
    label.col-sm-2.control-label(for='Groups')= string('Groups')
    .col-sm-10
      input.form-control(type='text', id='Groups', name='Groups', value=challenge.groups, aria-describedby='BodyCopyHelpBlock', placeholder=string('Groups_Placeholder'))
      span.help-block(id='GroupsHelpBlock')= string('Options_Available') + ' ' + availableGroups
      
  .form-group(class = getFieldValidationClass('BodyCopy'))
    label.col-sm-2.control-label(for='BodyCopy')= string('Body_Copy')
    .col-sm-10
      textarea.form-control(id='BodyCopy', name='BodyCopy', rows=5, aria-describedby='BodyCopyHelpBlock', placeholder=string('Markdown_Placeholder'))= challenge.bodyCopy
      span.help-block(id='BodyCopyHelpBlock') !{string('Markdown_Tip')}
      
  .form-group(class = getFieldValidationClass('SubmissionMessage'))
    label.col-sm-2.control-label(for='SubmissionMessage')= string('Submission_Message')
    .col-sm-10
      input.form-control(type='text', id='SubmissionMessage', name='SubmissionMessage', value=challenge.submissionMessage, placeholder=string('Submission_Message_Placeholder'))
      
  .form-group
    label.col-sm-2.control-label(for='Hidden')= string('Hidden')
    .col-sm-10
      .checkbox
        label
          input(type='checkbox', id='Hidden', name='Hidden', checked=challenge.hidden)
          
  .form-group
    label.col-sm-2.control-label(for='ComingSoon')= string('Coming_Soon')
    .col-sm-10
      .checkbox
        label
          input(type='checkbox', id='ComingSoon', name='ComingSoon', checked=challenge.comingSoon)

  .form-group
    label.col-sm-2.control-label= string('Result_Submissions')
    .col-sm-10
      p.form-control-static= challenge.totalResults


  .form-group
    .col-sm-offset-2.col-sm-10
      button.btn.btn-primary(type='submit')= string('Save')
      span  
      a.btn.btn-default(href='/challenges/')= string('Cancel')
