include validation-error-alert

form.form-horizontal(method='post')
  if challenge.id
    .form-group
      label.col-sm-2.control-label= string('ID')
      .col-sm-10
        p.form-control-static= challenge.id

  .form-group(class = getFieldValidationClass('Name'))
    label.col-sm-2.control-label(for='Name')= string('Name')
    .col-sm-10
      p.form-control-static= challenge.name
  
  .form-group(class = getFieldValidationClass('Category'))
    label.col-sm-2.control-label(for='Category')= string('Category')
    .col-sm-10
      p.form-control-static= challenge.category
      
  .form-group(class = getFieldValidationClass('Type'))
    label.col-sm-2.control-label(for='Type')= string('Type')
    .col-sm-10
      p.form-control-static= challenge.type
          
  .form-group(class = getFieldValidationClass('Groups'))
    label.col-sm-2.control-label(for='Groups')= string('Groups')
    .col-sm-10
      p.form-control-static= challenge.groups
      
  .form-group(class = getFieldValidationClass('BodyCopy'))
    label.col-sm-2.control-label(for='BodyCopy')= string('Body_Copy')
    .col-sm-10
      textarea.form-control(id='BodyCopy', name='BodyCopy', rows=5, disabled)= challenge.bodyCopy
      
  .form-group(class = getFieldValidationClass('SubmissionMessage'))
    label.col-sm-2.control-label(for='SubmissionMessage')= string('Submission_Message')
    .col-sm-10
      p.form-control-static= challenge.submissionMessage
  
  if challenge.totalResults > 0
    .form-group.red-text
      label.col-sm-2.control-label= string('Danger')
      .col-sm-10
        p.form-control-static= string('This_Will_Delete_Results') + challenge.totalResults

  .form-group
    .col-sm-offset-2.col-sm-10
      button.btn.btn-danger(type='submit')= string('Delete')
      span  
      a.btn.btn-default(href='/challenges/')= string('Cancel')
