table.table.table-striped
  thead
    tr
      th= string('ID')
      th= string('Name')
      th= string('Category')
      th= string('Type')
      th= string('Groups')
      th= string('Result_Submissions')
      th
  tbody
    each challenge in challenges
      tr
        td= challenge.id
        td
          a(href=challenge.url, target="_blank")= challenge.name
        td= challenge.category
        td= challenge.type
        td= challenge.groups.join(', ')
        td= challenge.totalResults
        td
          .pull-right
            .btn-toolbar
              a.btn.btn-danger(href= '/challenge/' + challenge.id + '/delete/')= string('Delete')
              a.btn.btn-primary(href= '/challenge/' + challenge.id + '/')= string('Edit')
