include validation-error-alert

form.form-horizontal(method='post')
  h2= string('Leaderboard')

  .form-group(class = getFieldValidationClass('UpdateFrequency'))
    label.col-sm-2.control-label= string('Update_Frequency')
    .col-sm-10
      - var weekDayLabels = [ string('Monday'), string('Tuesday'), string('Wednesday'), string('Thursday'), string('Friday'), string('Saturday'), string('Sunday') ];
      
      each dayLabel, index in weekDayLabels
        .checkbox
          label
            input(type='checkbox', name='LeaderboardUpdateFrequency-' + (index + 1), checked=leaderboard.updateFrequency.indexOf(index + 1) > -1)
            = string('Every') + ' ' + dayLabel

  h2= string('Home_Page')  
  .form-group
    label.col-sm-2.control-label= string('Custom_HTML_Block')
    .col-sm-10
      textarea.form-control(rows="5" name="CustomHomePageHTML")= customHomePageHTML

  .form-group
    .col-sm-offset-2.col-sm-10
      button.btn.btn-primary(type='submit')= string('Save')
      span  
      a.btn.btn-default(href='/configuration/')= string('Cancel')
