table.table.table-striped
  thead
    tr
      th= string('ID')
      th= string('Name')
      th= string('Districts')
      th
  tbody
    each county in counties
      tr
        td= county.id
        td= county.name
        td!= county.districts.join('<br />')
        td
          .pull-right
            a.btn.btn-primary(href= 'county/' + county.id + '/')= string('Edit')
