include validation-error-alert

form.form-horizontal(method='post')
  if county.id
    .form-group
      label.col-sm-2.control-label= string('ID')
      .col-sm-10
        p.form-control-static= county.id

  .form-group(class = getFieldValidationClass('Name'))
    label.col-sm-2.control-label(for='Name')= string('Name')
    .col-sm-10
      input.form-control(type='text', id='Name', name='Name', value=county.name, autofocus)
      
  if county.id
    .form-group
      label.col-sm-2.control-label= string('Districts')
      .col-sm-10
        if districts && districts.length > 0
          include district-table
        else
          p= string('No_Data')
        
        a.btn.btn-primary(href='district/new/')
          i.fa.fa-plus
          span  
          span= string('New')
      
  .form-group
    .col-sm-offset-2.col-sm-10
      button.btn.btn-primary(type='submit')= string('Save')
      span  
      a.btn.btn-default(href='../../')= string('Cancel')
