link(href="/c3.min.css" rel="stylesheet" type="text/css")
script(src="/d3.v3.min.js" charset="utf-8")
script(src="/c3.min.js")
script!= 'var chartData = ' + JSON.stringify(chartData) + ';'

#chart-placeholder

script(src="/dashboard.js")