include validation-error-alert

form.form-horizontal(method='post')
  if district.id
    .form-group
      label.col-sm-2.control-label= string('ID')
      .col-sm-10
        p.form-control-static= district.id

  .form-group(class = getFieldValidationClass('Name'))
    label.col-sm-2.control-label(for='Name')= string('Name')
    .col-sm-10
      input.form-control(type='text', id='Name', name='Name', value=district.name, autofocus)
      
  .form-group(class = getFieldValidationClass('Latitude'))
    label.col-sm-2.control-label(for='Latitude')= 'Latitude'
    .col-sm-10
      input.form-control(type='text', id='Latitude', name='Latitude', value=district.latitude)

  .form-group(class = getFieldValidationClass('Longitude'))
    label.col-sm-2.control-label(for='Longitude')= 'Longitude'
    .col-sm-10
      input.form-control(type='text', id='Longitude', name='Longitude', value=district.longitude)

  .form-group
    .col-sm-offset-2.col-sm-10
      button.btn.btn-primary(type='submit')= string('Save')
      span  
      a.btn.btn-default(href='../../')= string('Cancel')
