table.table.table-striped
  thead
    tr
      th= string('ID')
      th= string('Name')
      th= string('Lat/Lon')
      th
  tbody
    each district in districts
      tr
        td= district.id
        td= district.name
        td= district.latitude + ', ' + district.longitude
        td
          .pull-right
            a.btn.btn-primary(href= 'district/' + district.id + '/')= string('Edit')
