include validation-error-alert

form.form-horizontal(method='post')
  .form-group(class = getFieldValidationClass('StandardTemplate'))
    label.col-sm-2.control-label(for='StandardTemplate')= string('Standard_Template')
    .col-sm-10
      textarea.form-control(rows='15' id='StandardTemplate' name='StandardTemplate' aria-describedby='StandardTemplateHelpBlock')= standardTemplate
      span.help-block(id='StandardTemplateHelpBlock') !{string('Email_Template_Help')}
      
      
  .form-group(class = getFieldValidationClass('EmailConfirmationSubject'))
    label.col-sm-2.control-label(for='EmailConfirmationSubject')= string('Email_Confirmation_Subject')
    .col-sm-10
      input.form-control(type='text', id='EmailConfirmationSubject' name='EmailConfirmationSubject', value=emailConfirmationSubject)
      
  .form-group(class = getFieldValidationClass('EmailConfirmationPlainBody'))
    label.col-sm-2.control-label(for='EmailConfirmationPlainBody')= string('Email_Confirmation_Plain_Body')
    .col-sm-10
      textarea.form-control(rows='5' id='EmailConfirmationPlainBody' name='EmailConfirmationPlainBody', aria-describedby='EmailConfirmationPlainBodyHelpBlock')= emailConfirmationPlainBody
      span.help-block(id='EmailConfirmationPlainBodyHelpBlock')= string('Email_Confirmation_Plain_Body_Help')
      
  .form-group(class = getFieldValidationClass('EmailConfirmationHtmlBody'))
    label.col-sm-2.control-label(for='EmailConfirmationHtmlBody')= string('Email_Confirmation_Html_Body')
    .col-sm-10
      textarea.form-control(rows='5' id='EmailConfirmationHtmlBody' name='EmailConfirmationHtmlBody' aria-describedby='EmailConfirmationHtmlBodyHelpBlock')= emailConfirmationHtmlBody
      span.help-block(id='EmailConfirmationHtmlBodyHelpBlock')= string('Email_Confirmation_Html_Body_Help')


  .form-group(class = getFieldValidationClass('PasswordResetSubject'))
    label.col-sm-2.control-label(for='PasswordResetSubject')= string('Password_Reset_Subject')
    .col-sm-10
      input.form-control(type='text', id='PasswordResetSubject' name='PasswordResetSubject', value=passwordResetSubject)
      
  .form-group(class = getFieldValidationClass('PasswordResetPlainBody'))
    label.col-sm-2.control-label(for='PasswordResetPlainBody')= string('Password_Reset_Plain_Body')
    .col-sm-10
      textarea.form-control(rows='5' id='PasswordResetPlainBody' name='PasswordResetPlainBody', aria-describedby='PasswordResetPlainBodyHelpBlock')= passwordResetPlainBody
      span.help-block(id='PasswordResetPlainBodyHelpBlock')= string('Password_Reset_Plain_Body_Help')
      
  .form-group(class = getFieldValidationClass('PasswordResetHtmlBody'))
    label.col-sm-2.control-label(for='PasswordResetHtmlBody')= string('Password_Reset_Html_Body')
    .col-sm-10
      textarea.form-control(rows='5' id='PasswordResetHtmlBody' name='PasswordResetHtmlBody' aria-describedby='PasswordResetHtmlBodyHelpBlock')= passwordResetHtmlBody
      span.help-block(id='PasswordResetHtmlBodyHelpBlock')= string('Password_Reset_Html_Body_Help')
      
      
  .form-group(class = getFieldValidationClass('ResultRejectedSubject'))
    label.col-sm-2.control-label(for='ResultRejectedSubject')= string('Result_Rejected_Subject')
    .col-sm-10
      input.form-control(type='text', id='ResultRejectedSubject' name='ResultRejectedSubject', value=resultRejectedSubject)
      
  .form-group(class = getFieldValidationClass('ResultRejectedPlainBody'))
    label.col-sm-2.control-label(for='ResultRejectedPlainBody')= string('Result_Rejected_Plain_Body')
    .col-sm-10
      textarea.form-control(rows='5' id='ResultRejectedPlainBody' name='ResultRejectedPlainBody', aria-describedby='ResultRejectedPlainBodyHelpBlock')= resultRejectedPlainBody
      span.help-block(id='ResultRejectedPlainBodyHelpBlock') !{string('Result_Rejected_Plain_Body_Help')}
      
  .form-group(class = getFieldValidationClass('ResultRejectedHtmlBody'))
    label.col-sm-2.control-label(for='ResultRejectedHtmlBody')= string('Result_Rejected_Html_Body')
    .col-sm-10
      textarea.form-control(rows='5' id='ResultRejectedHtmlBody' name='ResultRejectedHtmlBody' aria-describedby='ResultRejectedHtmlBodyHelpBlock')= resultRejectedHtmlBody
      span.help-block(id='ResultRejectedHtmlBodyHelpBlock') !{string('Result_Rejected_Html_Body_Help')}
      
      
  .form-group(class = getFieldValidationClass('UserBlockedSubject'))
    label.col-sm-2.control-label(for='UserBlockedSubject')= string('User_Blocked_Subject')
    .col-sm-10
      input.form-control(type='text', id='UserBlockedSubject' name='UserBlockedSubject', value=userBlockedSubject)
      
  .form-group(class = getFieldValidationClass('UserBlockedPlainBody'))
    label.col-sm-2.control-label(for='UserBlockedPlainBody')= string('User_Blocked_Plain_Body')
    .col-sm-10
      textarea.form-control(rows='5' id='UserBlockedPlainBody' name='UserBlockedPlainBody', aria-describedby='UserBlockedPlainBodyHelpBlock')= userBlockedPlainBody
      span.help-block(id='UserBlockedPlainBodyHelpBlock') !{string('User_Blocked_Plain_Body_Help')}
      
  .form-group(class = getFieldValidationClass('UserBlockedHtmlBody'))
    label.col-sm-2.control-label(for='UserBlockedHtmlBody')= string('User_Blocked_Html_Body')
    .col-sm-10
      textarea.form-control(rows='5' id='UserBlockedHtmlBody' name='UserBlockedHtmlBody' aria-describedby='UserBlockedHtmlBodyHelpBlock')= userBlockedHtmlBody
      span.help-block(id='UserBlockedHtmlBodyHelpBlock') !{string('User_Blocked_Html_Body_Help')}
      
      
  .form-group(class = getFieldValidationClass('UserUnblockedSubject'))
    label.col-sm-2.control-label(for='UserUnblockedSubject')= string('User_Unblocked_Subject')
    .col-sm-10
      input.form-control(type='text', id='UserUnblockedSubject' name='UserUnblockedSubject', value=userUnblockedSubject)
      
  .form-group(class = getFieldValidationClass('UserUnblockedPlainBody'))
    label.col-sm-2.control-label(for='UserUnblockedPlainBody')= string('User_Unblocked_Plain_Body')
    .col-sm-10
      textarea.form-control(rows='5' id='UserUnblockedPlainBody' name='UserUnblockedPlainBody')= userUnblockedPlainBody
      
  .form-group(class = getFieldValidationClass('UserUnblockedHtmlBody'))
    label.col-sm-2.control-label(for='UserUnblockedHtmlBody')= string('User_Unblocked_Html_Body')
    .col-sm-10
      textarea.form-control(rows='5' id='UserUnblockedHtmlBody' name='UserUnblockedHtmlBody')= userUnblockedHtmlBody
      
      
  .form-group(class = getFieldValidationClass('UserAvatarRemovedSubject'))
    label.col-sm-2.control-label(for='UserAvatarRemovedSubject')= string('User_Avatar_Removed_Subject')
    .col-sm-10
      input.form-control(type='text', id='UserAvatarRemovedSubject' name='UserAvatarRemovedSubject', value=userAvatarRemovedSubject)
      
  .form-group(class = getFieldValidationClass('UserAvatarRemovedPlainBody'))
    label.col-sm-2.control-label(for='UserAvatarRemovedPlainBody')= string('User_Avatar_Removed_Plain_Body')
    .col-sm-10
      textarea.form-control(rows='5' id='UserAvatarRemovedPlainBody' name='UserAvatarRemovedPlainBody')= userAvatarRemovedPlainBody
      
  .form-group(class = getFieldValidationClass('UserAvatarRemovedHtmlBody'))
    label.col-sm-2.control-label(for='UserAvatarRemovedHtmlBody')= string('User_Avatar_Removed_Html_Body')
    .col-sm-10
      textarea.form-control(rows='5' id='UserAvatarRemovedHtmlBody' name='UserAvatarRemovedHtmlBody')= userAvatarRemovedHtmlBody
      
      
  .form-group(class = getFieldValidationClass('RegisterReminderSubject'))
    label.col-sm-2.control-label(for='RegisterReminderSubject')= string('Register_Reminder_Subject')
    .col-sm-10
      input.form-control(type='text', id='RegisterReminderSubject' name='RegisterReminderSubject', value=registerReminderSubject)
      
  .form-group(class = getFieldValidationClass('RegisterReminderPlainBody'))
    label.col-sm-2.control-label(for='RegisterReminderPlainBody')= string('Register_Reminder_Plain_Body')
    .col-sm-10
      textarea.form-control(rows='5' id='RegisterReminderPlainBody' name='RegisterReminderPlainBody')= registerReminderPlainBody
      
  .form-group(class = getFieldValidationClass('RegisterReminderHtmlBody'))
    label.col-sm-2.control-label(for='RegisterReminderHtmlBody')= string('Register_Reminder_Html_Body')
    .col-sm-10
      textarea.form-control(rows='5' id='RegisterReminderHtmlBody' name='RegisterReminderHtmlBody')= registerReminderHtmlBody
      
      
  .form-group(class = getFieldValidationClass('UserChallengeProgressSubject'))
    label.col-sm-2.control-label(for='UserChallengeProgressSubject')= string('User_Challenge_Progress_Subject')
    .col-sm-10
      input.form-control(type='text', id='UserChallengeProgressSubject' name='UserChallengeProgressSubject', value=userChallengeProgressSubject)
      
  .form-group(class = getFieldValidationClass('UserChallengeProgressPlainBody'))
    label.col-sm-2.control-label(for='UserChallengeProgressPlainBody')= string('User_Challenge_Progress_Plain_Body')
    .col-sm-10
      textarea.form-control(rows='5' id='UserChallengeProgressPlainBody' name='UserChallengeProgressPlainBody')= userChallengeProgressPlainBody
      
  .form-group(class = getFieldValidationClass('UserChallengeProgressHtmlBody'))
    label.col-sm-2.control-label(for='UserChallengeProgressHtmlBody')= string('User_Challenge_Progress_Html_Body')
    .col-sm-10
      textarea.form-control(rows='5' id='UserChallengeProgressHtmlBody' name='UserChallengeProgressHtmlBody')= userChallengeProgressHtmlBody
      
      
  .form-group(class = getFieldValidationClass('LeaderboardRankingSubject'))
    label.col-sm-2.control-label(for='LeaderboardRankingSubject')= string('Leaderboard_Ranking_Subject')
    .col-sm-10
      input.form-control(type='text', id='LeaderboardRankingSubject' name='LeaderboardRankingSubject', value=leaderboardRankingSubject)
      
  .form-group(class = getFieldValidationClass('LeaderboardRankingPlainBody'))
    label.col-sm-2.control-label(for='LeaderboardRankingPlainBody')= string('Leaderboard_Ranking_Plain_Body')
    .col-sm-10
      textarea.form-control(rows='5' id='LeaderboardRankingPlainBody' name='LeaderboardRankingPlainBody')= leaderboardRankingPlainBody
      
  .form-group(class = getFieldValidationClass('LeaderboardRankingHtmlBody'))
    label.col-sm-2.control-label(for='LeaderboardRankingHtmlBody')= string('Leaderboard_Ranking_Html_Body')
    .col-sm-10
      textarea.form-control(rows='5' id='LeaderboardRankingHtmlBody' name='LeaderboardRankingHtmlBody')= leaderboardRankingHtmlBody
      
      
  .form-group(class = getFieldValidationClass('UserDeletedSubject'))
    label.col-sm-2.control-label(for='UserDeletedSubject')= string('User_Deleted_Subject')
    .col-sm-10
      input.form-control(type='text', id='UserDeletedSubject' name='UserDeletedSubject', value=userDeletedSubject)
      
  .form-group(class = getFieldValidationClass('UserDeletedPlainBody'))
    label.col-sm-2.control-label(for='UserDeletedPlainBody')= string('User_Deleted_Plain_Body')
    .col-sm-10
      textarea.form-control(rows='5' id='UserDeletedPlainBody' name='UserDeletedPlainBody')= userDeletedPlainBody
      
  .form-group(class = getFieldValidationClass('UserDeletedHtmlBody'))
    label.col-sm-2.control-label(for='UserDeletedHtmlBody')= string('User_Deleted_Html_Body')
    .col-sm-10
      textarea.form-control(rows='5' id='UserDeletedHtmlBody' name='UserDeletedHtmlBody')= userDeletedHtmlBody
      
      
  .form-group(class = getFieldValidationClass('UserPasswordChangedSubject'))
    label.col-sm-2.control-label(for='UserPasswordChangedSubject')= string('User_Password_Changed_Subject')
    .col-sm-10
      input.form-control(type='text', id='UserPasswordChangedSubject' name='UserPasswordChangedSubject', value=userPasswordChangedSubject)
      
  .form-group(class = getFieldValidationClass('UserPasswordChangedPlainBody'))
    label.col-sm-2.control-label(for='UserPasswordChangedPlainBody')= string('User_Password_Changed_Plain_Body')
    .col-sm-10
      textarea.form-control(rows='5' id='UserPasswordChangedPlainBody' name='UserPasswordChangedPlainBody')= userPasswordChangedPlainBody
      
  .form-group(class = getFieldValidationClass('UserPasswordChangedHtmlBody'))
    label.col-sm-2.control-label(for='UserPasswordChangedHtmlBody')= string('User_Password_Changed_Html_Body')
    .col-sm-10
      textarea.form-control(rows='5' id='UserPasswordChangedHtmlBody' name='UserPasswordChangedHtmlBody')= userPasswordChangedHtmlBody
      
      
  .form-group(class = getFieldValidationClass('UserNominatedSubject'))
    label.col-sm-2.control-label(for='UserNominatedSubject')= string('User_Nominated_Subject')
    .col-sm-10
      input.form-control(type='text', id='UserNominatedSubject' name='UserNominatedSubject', value=userNominatedSubject)
      
  .form-group(class = getFieldValidationClass('UserNominatedPlainBody'))
    label.col-sm-2.control-label(for='UserNominatedPlainBody')= string('User_Nominated_Plain_Body')
    .col-sm-10
      textarea.form-control(rows='5' id='UserNominatedPlainBody' name='UserNominatedPlainBody')= userNominatedPlainBody
      
  .form-group(class = getFieldValidationClass('UserNominatedHtmlBody'))
    label.col-sm-2.control-label(for='UserNominatedHtmlBody')= string('User_Nominated_Html_Body')
    .col-sm-10
      textarea.form-control(rows='5' id='UserNominatedHtmlBody' name='UserNominatedHtmlBody')= userNominatedHtmlBody
      
      
  .form-group(class = getFieldValidationClass('UserNominationAcceptedSubject'))
    label.col-sm-2.control-label(for='UserNominationAcceptedSubject')= string('User_Nomination_Accepted_Subject')
    .col-sm-10
      input.form-control(type='text', id='UserNominationAcceptedSubject' name='UserNominationAcceptedSubject', value=userNominationAcceptedSubject)
      
  .form-group(class = getFieldValidationClass('UserNominationAcceptedPlainBody'))
    label.col-sm-2.control-label(for='UserNominationAcceptedPlainBody')= string('User_Nomination_Accepted_Plain_Body')
    .col-sm-10
      textarea.form-control(rows='5' id='UserNominationAcceptedPlainBody' name='UserNominationAcceptedPlainBody')= userNominationAcceptedPlainBody
      
  .form-group(class = getFieldValidationClass('UserNominationAcceptedHtmlBody'))
    label.col-sm-2.control-label(for='UserNominationAcceptedHtmlBody')= string('User_Nomination_Accepted_Html_Body')
    .col-sm-10
      textarea.form-control(rows='5' id='UserNominationAcceptedHtmlBody' name='UserNominationAcceptedHtmlBody')= userNominationAcceptedHtmlBody
      
      
  .form-group(class = getFieldValidationClass('SocialUpdateRejectedSubject'))
    label.col-sm-2.control-label(for='SocialUpdateRejectedSubject')= string('Social_Update_Rejected_Subject')
    .col-sm-10
      input.form-control(type='text', id='SocialUpdateRejectedSubject' name='SocialUpdateRejectedSubject', value=socialUpdateRejectedSubject)
      
  .form-group(class = getFieldValidationClass('SocialUpdateRejectedPlainBody'))
    label.col-sm-2.control-label(for='SocialUpdateRejectedPlainBody')= string('Social_Update_Rejected_Plain_Body')
    .col-sm-10
      textarea.form-control(rows='5' id='SocialUpdateRejectedPlainBody' name='SocialUpdateRejectedPlainBody' aria-describedby='SocialUpdateRejectedPlainBodyHelpBlock')= socialUpdateRejectedPlainBody
      span.help-block(id='SocialUpdateRejectedPlainBodyHelpBlock') !{string('Social_Update_Rejected_Plain_Body_Help')}
      
  .form-group(class = getFieldValidationClass('SocialUpdateRejectedHtmlBody'))
    label.col-sm-2.control-label(for='SocialUpdateRejectedHtmlBody')= string('Social_Update_Rejected_Html_Body')
    .col-sm-10
      textarea.form-control(rows='5' id='SocialUpdateRejectedHtmlBody' name='SocialUpdateRejectedHtmlBody' aria-describedby='SocialUpdateRejectedHtmlBodyHelpBlock')= socialUpdateRejectedHtmlBody
      span.help-block(id='SocialUpdateRejectedHtmlBodyHelpBlock') !{string('Social_Update_Rejected_Html_Body_Help')}
      
  
  .form-group
    .col-sm-offset-2.col-sm-10
      button.btn.btn-primary(type='submit')= string('Save')
      span  
      a.btn.btn-default(href='/email-templates/')= string('Cancel')
