include validation-error-alert

form.form-horizontal(method='post')

  if email.id
    .form-group
      label.col-sm-2.control-label= string('ID')
      .col-sm-10
        p.form-control-static= email.id

  .form-group(class = getFieldValidationClass('Name'))
    label.col-sm-2.control-label(for='Name')= string('Name')
    .col-sm-10
      input.form-control(type='text', id='Name', name='Name', value=email.name, autofocus)

  .form-group(class = getFieldValidationClass('Type'))
    label.col-sm-2.control-label(for='Type')= string('Type')
    .col-sm-10
      select.form-control(id='Type', name='Type')
        if email.typeId === undefined
          option(value = -1, disabled, selected)= string('Select')
        each typeOption in types
          option(value = typeOption.id, selected = email.typeId === typeOption.id)= string(typeOption.value)
          
  .form-group(class = getFieldValidationClass('Subject'))
    label.col-sm-2.control-label(for='Subject')= string('Subject')
    .col-sm-10
      input.form-control(type='text', id='Subject' name='Subject', value=email.subject)
      
  .form-group(class = getFieldValidationClass('PlainBody'))
    label.col-sm-2.control-label(for='PlainBody')= string('Plain_Body')
    .col-sm-10
      textarea.form-control(rows='15' id='PlainBody' name='PlainBody' aria-describedby='PlainBodyHelpBlock')= email.plainBody
      span.help-block(id='PlainBodyHelpBlock') !{string('Email_Body_Help')}
      
  .form-group(class = getFieldValidationClass('HtmlBody'))
    label.col-sm-2.control-label(for='HtmlBody')= string('Html_Body')
    .col-sm-10
      textarea.form-control(rows='15' id='HtmlBody' name='HtmlBody' aria-describedby='HtmlBodyHelpBlock')= email.htmlBody
      span.help-block(id='HtmlBodyHelpBlock') !{string('Email_Body_Help')}
      
  .form-group
    .col-sm-offset-2.col-sm-10
      button.btn.btn-primary(type='submit')= string('Save')
      span  
      a.btn.btn-default(href='/emails/')= string('Cancel')
