table.table.table-striped
  thead
    tr
      th= string('ID')
      th= string('Name')
      th= string('Type')
      th= string('Subject')
      th
  tbody
    each email in emails
      tr
        td= email.id
        td= email.name
        td= string(email.type)
        td= email.subject
        td
          .pull-right
            .btn-toolbar
              a.btn.btn-primary(href= '/email/' + email.id + '/preview/')= string('Preview')
              a.btn.btn-primary(href= '/email/' + email.id + '/')= string('Edit')
