table.table.table-striped
  thead
    tr
      th= string('Submitted')
      th= string('Flags')
      th= string('Likes')
      th= string('Challenge')
      th= string('Group')
      th= string('Result')
      th= string('Evidence')
      th= string('Username')
      th
  tbody
    each result in latestResults
      tr
        td= result.submitted.fromNow()
        td= result.flagCount
        td= result.likeCount
        td= result.challengeName
        td= result.challengeGroup
        td
          a(href=result.resultLink target='_blank')= result.result
        
        if result.evidenceLink
          td
            a(href=result.evidenceLink target='_blank')= string(result.imageValidated ? 'Image' : 'Video')
        else
          td
        
        td
          a(href=result.userLink target='_blank')= result.username
          
        td
          .pull-right
            .btn-toolbar
              a.btn.btn-success(href= '/result/' + result.resultId + '/approve/')= string('Approve')
              a.btn.btn-danger(href= '/result/' + result.resultId + '/reject/')= string('Reject')