table.table.table-striped
  thead
    tr
      th= string('ID')
      th= string('Type')
      th= string('Title')
      th= string('Description')
      th
  tbody
    each notification in notifications
      tr
        td= notification.id
        td= notification.type
        td= notification.title
        td= notification.description
        td
          .pull-right
            a.btn.btn-primary(href= '/notification/' + notification.id + '/')= string('Edit')
