include validation-error-alert

form.form-horizontal(method='post')
  if notification.id
    .form-group
      label.col-sm-2.control-label= string('ID')
      .col-sm-10
        p.form-control-static= notification.id
        
  .form-group(class = getFieldValidationClass('Type'))
    label.col-sm-2.control-label(for='Type')= string('Type')
    .col-sm-10
      select.form-control(id='Type', name='Type')
        if notification.typeId === undefined
          option(value = -1, disabled, selected)= string('Select')
        each notificationType, index in notificationTypes
          option(value = index, selected = (notificationType.id == notification.typeId ? true : false))= notificationType.value
        
  .form-group
    label.col-sm-2.control-label(for='UserDismissable')= string('User_Dismissable')
    .col-sm-10
      .checkbox
        label
          input.checkbox(type='checkbox', name= 'UserDismissable', checked=notification.isUserDismissable === '1')
          span= string('User_Dismissable_Description')

  .form-group(class = getFieldValidationClass('Title'))
    label.col-sm-2.control-label(for='Title')= string('Title')
    .col-sm-10
      input.form-control(type='text', id='Title', name='Title', value=notification.title)
      
  .form-group(class = getFieldValidationClass('Description'))
    label.col-sm-2.control-label(for='Description')= string('Description')
    .col-sm-10
      input.form-control(type='text', id='Description', name='Description', value=notification.description)

  .form-group
    .col-sm-offset-2.col-sm-10
      button.btn.btn-primary(type='submit')= string('Save')
      span  
      a.btn.btn-default(href='/notifications/')= string('Cancel')
