table.table.table-striped
  thead
    tr
      th= string('ID')
      th= string('Name')
      th
  tbody
    each page in pages
      tr
        td= page.id
        td
          a(href=page.url, target="_blank")= page.name
        td
          .pull-right
            .btn-toolbar
              a.btn.btn-danger(href= '/page/' + page.id + '/delete/')= string('Delete')
              a.btn.btn-primary(href= '/page/' + page.id + '/')= string('Edit')
