include validation-error-alert

form.form-horizontal(method='post')
  if page.id
    .form-group
      label.col-sm-2.control-label= string('ID')
      .col-sm-10
        p.form-control-static= page.id

  .form-group(class = getFieldValidationClass('Name'))
    label.col-sm-2.control-label(for='Name')= string('Name')
    .col-sm-10
      p.form-control-static= page.name
      
  .form-group(class = getFieldValidationClass('BodyCopy'))
    label.col-sm-2.control-label(for='BodyCopy')= string('Body_Copy')
    .col-sm-10
      textarea.form-control(id='BodyCopy', name='BodyCopy', rows=5, disabled)= page.bodyCopy

  .form-group
    .col-sm-offset-2.col-sm-10
      button.btn.btn-danger(type='submit')= string('Delete')
      span  
      a.btn.btn-default(href='/pages/')= string('Cancel')
