table.table.table-striped
  thead
    tr
      th= string('ID')
      th= string('Name')
      th= string('Counties')
      th= string('Lat/Lon')
      th
  tbody
    each region in regions
      tr
        td= region.id
        td= region.name
        td!= region.counties.join('<br />')
        td= region.latitude + ', ' + region.longitude
        td
          .pull-right
            a.btn.btn-primary(href= '/region/' + region.id + '/')= string('Edit')
