include validation-error-alert

form.form-horizontal(method='post')
  if region.id
    .form-group
      label.col-sm-2.control-label= string('ID')
      .col-sm-5
        p.form-control-static= region.id

  .form-group(class = getFieldValidationClass('Name'))
    label.col-sm-2.control-label(for='Name')= string('Name')
    .col-sm-10
      input.form-control(type='text', id='Name', name='Name', value=region.name, autofocus)

  .form-group(class = getFieldValidationClass('Latitude'))
    label.col-sm-2.control-label(for='Latitude')= 'Latitude'
    .col-sm-10
      input.form-control(type='text', id='Latitude', name='Latitude', value=region.latitude)

  .form-group(class = getFieldValidationClass('Longitude'))
    label.col-sm-2.control-label(for='Longitude')= 'Longitude'
    .col-sm-10
      input.form-control(type='text', id='Longitude', name='Longitude', value=region.longitude)
      
  if region.id
    .form-group
      label.col-sm-2.control-label= string('Counties')
      .col-sm-10
        if counties && counties.length > 0
          include county-table
        else
          p= string('No_Data')
        
        a.btn.btn-primary(href='county/new/')
          i.fa.fa-plus
          span  
          span= string('New')
      
  .form-group
    .col-sm-offset-2.col-sm-10
      button.btn.btn-primary(type='submit')= string('Save')
      span  
      a.btn.btn-default(href='/regions/')= string('Cancel')
