include validation-error-alert

form.form-horizontal(method='post')
  .form-group
    label.col-sm-2.control-label= string('ID')
    .col-sm-10
      p.form-control-static= result.resultId
      
  .form-group
    label.col-sm-2.control-label= string('Ratio_Percent')
    .col-sm-10
      p.form-control-static= result.flagPercent
      
  .form-group
    label.col-sm-2.control-label= string('Flags')
    .col-sm-10
      p.form-control-static= result.flagCount
      
  .form-group
    label.col-sm-2.control-label= string('Likes')
    .col-sm-10
      p.form-control-static= result.likeCount
      
  if result.evidenceLink
    .form-group
      label.col-sm-2.control-label= string('Evidence')
      .col-sm-10
        p.form-control-static
          a(href=result.evidenceLink target='_blank')= string(result.imageValidated ? 'Image' : 'Video')

  .form-group(class = getFieldValidationClass('Reason'))
    label.col-sm-2.control-label(for='Reason')= string('Reason')
    .col-sm-10
      input.form-control(type='text', id='Reason', name='Reason', value=reason, aria-describedby='ReasonHelpBlock' autofocus)
      span.help-block(id='ReasonHelpBlock')= string('Reason_Help_Block')
      
  .form-group
    .col-sm-offset-2.col-sm-10
      button.btn.btn-danger(type='submit')= string('Reject')
      span  
      a.btn.btn-default(href='/results/')= string('Cancel')
