if lastSavedItem
  .alert.alert-success.alert-dismissible(role='alert')
    button.close(type='button', data-dismiss='alert' aria-label='Close')
      span(aria-hidden='true') &times;
    strong= string('Success')
    span= ' ' + string(lastSavedItemMessage || 'Saved') + ' ' + lastSavedItem
