table.table.table-striped
  thead
    tr
      th= string('Attachment')
      th= string('Type')
      th
  tbody
    each attachment in socialUpdate.attachments
      tr
        td
          a(href=attachment.file target='_blank')= attachment.file
        td= string(attachment.type)
        
        td
          .pull-right
            .btn-toolbar
              a.btn.btn-danger(href= attachment.deleteLink)= string('Delete')