include validation-error-alert

form.form-horizontal(method='post')
  .form-group
    label.col-sm-2.control-label= string('Ratio_Percent')
    .col-sm-10
      p.form-control-static= socialUpdate.flagPercent
      
  .form-group
    label.col-sm-2.control-label= string('Flags')
    .col-sm-10
      p.form-control-static= socialUpdate.flagCount
      
  .form-group
    label.col-sm-2.control-label= string('Likes')
    .col-sm-10
      p.form-control-static= socialUpdate.likeCount
  
  .form-group
    label.col-sm-2.control-label= string('Update')
    .col-sm-10
      p.form-control-static= socialUpdate.body
      
  .form-group
    label.col-sm-2.control-label= string('Tags')
    .col-sm-10
      p.form-control-static= socialUpdate.tags.join(', ')
      
  .form-group
    label.col-sm-2.control-label= string('Attachments')
    .col-sm-10
      include social-update-attachment-table
      
  .form-group
    .col-sm-offset-2.col-sm-10
      .btn-toolbar
        a.btn.btn-success(href= 'approve/')= string('Approve')
        a.btn.btn-danger(href= 'reject/')= string('Reject')
        a.btn.btn-default(href='/social-updates/')= string('Cancel')