table.table.table-striped
  thead
    tr
      th= string('Published')
      th= string('Ratio_Percent')
      th= string('Flags')
      th= string('Likes')
      th= string('Username')
      th= string('Update')
      th= string('Tags')
      th= string('Images')
      th= string('Videos')
      th
  tbody
    each socialUpdate in socialUpdates
      tr
        td= socialUpdate.created.fromNow()
        td= socialUpdate.flagPercent
        td= socialUpdate.flagCount
        td= socialUpdate.likeCount
        
        td
          a(href=socialUpdate.userLink target='_blank')= socialUpdate.username
        td= socialUpdate.body
        td= socialUpdate.tags.join(', ')
        
        td
          if socialUpdate.images.length > 0
            a(href=socialUpdate.link)= socialUpdate.images.length
          else
            = socialUpdate.images.length
        
        td
          if socialUpdate.videos.length > 0
            a(href=socialUpdate.link)= socialUpdate.videos.length
          else
            = socialUpdate.videos.length
        
        td
          .pull-right
            .btn-toolbar
              a.btn.btn-success(href= socialUpdate.link + 'approve/')= string('Approve')
              a.btn.btn-danger(href= socialUpdate.link + 'reject/')= string('Reject')
