table.table.table-striped
  thead
    tr
      th= string('Username')
      th= string('Name')
      th= string('Bio')
      th= string('Registered')
      th= string('Last_Logged_In')
      th
  tbody
    each user in users.users
      tr
        td
          a(href=user.link target='_blank')= user.username
        td= user.firstName + ' ' + user.lastName
        td= user.bio
        td= user.registrationDate.format("dddd, MMMM Do YYYY, h:mm:ss a")
        td= user.lastLoginDate.isValid() ? user.lastLoginDate.fromNow() : string('Never_Logged_In')
        td
          .pull-right
            .btn-group
              button.btn.btn-default.dropdown-toggle(data-toggle="dropdown" aria-expanded="false")
                span Edit
                span  
                span.caret

              ul.dropdown-menu.dropdown-pull-left
                if user.bio
                  li
                    a(href= '/user/' + user.id + '/remove-bio/')= string('Remove_Bio')
                    
                if user.avatarUploaded
                  li
                    a(href= '/user/' + user.id + '/remove-avatar/')= string('Remove_Avatar')
                
                li
                  if user.blocked
                    a(href= '/user/' + user.id + '/unblock/')= string('Unblock')
                  else
                    a(href= '/user/' + user.id + '/block/')= string('Block')
                
                li.divider
                
                li
                  a(href= '/user/' + user.id + '/delete/')= string('Delete') 