include validation-error-alert

form.form-horizontal(method='post')
  .form-group
    label.col-sm-2.control-label= string('ID')
    .col-sm-10
      p.form-control-static= user.id
      
  .form-group
    label.col-sm-2.control-label= string('Username')
    .col-sm-10
      p.form-control-static
        a(href=user.link target='_blank')= user.username
      
  .form-group
    label.col-sm-2.control-label= string('Name')
    .col-sm-10
      p.form-control-static= user.firstName + ' ' + user.lastName

  .form-group(class = getFieldValidationClass('Reason'))
    label.col-sm-2.control-label(for='Reason')= string('Reason')
    .col-sm-10
      input.form-control(type='text', id='Reason', name='Reason', value=reason, aria-describedby='ReasonHelpBlock' autofocus)
      span.help-block(id='ReasonHelpBlock')= string('Reason_Help_Block')
      
  .form-group.red-text
    label.col-sm-2.control-label= string('Danger')
    .col-sm-10
      p.form-control-static= string('This_Will_Delete_User')
      
  .form-group
    .col-sm-offset-2.col-sm-10
      .btn-toolbar
        button.btn.btn-danger(type='submit')= string('Delete')
        a.btn.btn-default(href='/users/')= string('Cancel')
