table.table.table-striped
  thead
    tr
      th= string('Username')
      th= string('Name')
      th
  tbody
    each user in featured.users
      tr
        td
          a(href=user.link target='_blank')= user.username
        td= user.firstName + ' ' + user.lastName
        td
          .pull-right
            .btn-group
              button.btn.btn-default.dropdown-toggle(data-toggle="dropdown" aria-expanded="false")
                span Edit
                span  
                span.caret

              ul.dropdown-menu.dropdown-pull-left
                
                li
                  a(href= '/user/featured/' + user.id + '/delete/')= string('Delete') 