include validation-error-alert

form.form-horizontal(method='post', enctype='multipart/form-data')

  p Choose a user from the drop down menu

  .form-group
    label.col-sm-2.control-label= string('User')
    .col-sm-10
      p.form-control-static
        select(name="userId", class="selectpicker", data-live-search="true")
          if users
            each user in users
                option(value=user.id)= user.firstName + ' ' + user.lastName + ' (' + user.username + ')'

  .form-group
    .col-sm-offset-2.col-sm-10
      button.btn.btn-primary(type='submit')= string('Add')
      span  
      a.btn.btn-default(href='/users/')= string('Cancel')