-
  var getFieldValidationClass = function(fieldName) {
    if (!validationErrors || validationErrors.length < 1) {
      return;
    }
    
    return validationErrors.map(function(validationError) {
      return validationError[0].replace(/_/g, '');
    }).indexOf(fieldName) > -1 ? 'has-error' : '';
  }

if validationErrors && validationErrors.length > 0
  .alert.alert-danger(role='alert')
    strong= string('Oops')
    span  
    span= string('Form_Has_Errors')
    ul
      each validationError in validationErrors
        li
          strong= string(validationError[0])
          span= ' - ' + string(validationError[1]) + (validationError[2] ? ' ' + validationError[2] : '')
