extends ../../layouts/page
block content
  include ../../components/saved-item-alert

  if users && users.length > 0
    include ../../components/admin-user-table
  else
    p= string('No_Data')

  a.btn.btn-primary(href='/admin-user/new/')
    i.fa.fa-plus
    span  
    span= string('New')