.adv {
  text-align: center;

  .img-responsive {
    display: inline;
  }

  margin-bottom: 15px;
}

.no-left-padding {
  @media (min-width: @screen-sm-min) {
    padding-right: 0px;
  }
}

.no-right-padding {
  @media (min-width: @screen-sm-min) {
    padding-left: 0px;
  }
}
