.challenges-list-header {
  background-color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 5px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;

  h1.orange-pill, h1 {
    font-size: 1.18em;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.challenges-list-challenge {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 2px;
  background: white;
  text-transform: uppercase;
  
  a {
    border: 0px;
    font-size: 0.77em;
    color:white;

    text-align: left;
    
    background-size: 30px, 10px;
    background-position: 8px center, right 8px center;
    background-repeat: no-repeat;
    
    padding-left: 48px;
    padding-right: 30px;
  }
  
  a:hover, a:active, a:focus {
    color: white;
  }

  .white-pill {
    font-size: 0.80em;
  }
  
  @media (max-width: @screen-sm-max) {
    &:last-of-type {
      margin-bottom: 15px;
      padding-bottom: 15px;
      border-bottom: 2px solid @gymfit-dark-gray;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
    }
  }
  
  .purple-challenge {
    background-color: @gymfit-purple;
    background-image: url('/weight.svg'), url('/right-arrow.svg');
    
    .white-pill {
      color: @gymfit-purple;
    }
  }
  
  .orange-challenge {
    background-color: @gymfit-orange;
    background-image: url('/heart.svg'), url('/right-arrow.svg');
    
    .white-pill {
      color: @gymfit-orange;
    }
  }

  .green-challenge {
    background-color: @gymfit-green;
    background-image: url('/stopwatch.svg'), url('/right-arrow.svg');
    
    .white-pill {
      color: @gymfit-green;
    }
  }

  .magenta-challenge {
    background-color: @gymfit-magenta;
    
    .white-pill {
      color: @gymfit-magenta;
    }
  }
  
  .btn[disabled] {
    cursor: default;
  }

  @media (min-width: @screen-md-min) {
    padding-bottom: 15px;
  }
}

.challenge-list-box {
  background: white;
  margin-bottom: 15px;
  border-bottom: 2px solid @gymfit-dark-gray;
  padding-left: 30px;
  padding-right: 15px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  
  .col-md-4 {
    padding-left: 0px;
    padding-right: 0px;
  }
  
  .challenges-list-challenge  {
    padding-left: 0px;
    padding-right: 15px;
    
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
}