body {
  background: @gymfit-purple;
}

h1, h2, h3, h4 {
  font-weight: 700;
  letter-spacing: -1px;
}

h1, h2, h3, h4 {
  margin-top: 0px;
  margin-bottom: 15px;
}

select {
  border-radius: 0;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-appearance: none;
}

table, .table {
  margin-bottom: 15px;
}

.pagination {
  margin-top: 15px;
  margin-bottom: 0px;
}

.form-control {
  font-size: 16px;
}

.btn-toolbar .btn {
  float: none;
}

.btn-lg {
  border-width: 2px;
  text-transform: uppercase;
}

.btn-with-icon {
  padding-left: 5px;
  
  img {
    margin-right: 5px;
  }
}

.page-background {
  padding-top: 15px;
  background-color: @gymfit-page-background;
}

.margin-top {
  margin-top: 15px;
}

.margin-left {
  margin-left: 15px;
}

.margin-bottom {
  margin-bottom: 15px;
}

.no-margin-bottom {
  margin-bottom: 0px;
}

.no-padding-right {
  padding-right: 0px;
}

.no-table-top-border {
  tbody {
    tr:first-of-type {
      td {
        border-top-color: transparent;
      }
    }
  }
}

.red-highlight {
  color: @gymfit-magenta;
}

.gray-text {
  color: @gymfit-very-dark-gray
}

.cookiebanner {
  font-family: 'Montserrat' !important;
}

section {
  background: white;
  padding: 15px;
  margin-bottom: 15px;
  border-bottom: 2px solid @gymfit-dark-gray;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
}

.sidebar {
  @media (min-width: @screen-sm-min) {
    padding-left: 0px;
  }
}

footer {
  margin-top: 18px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8em;
  margin-bottom: 45px;

  a, a:hover, a:active {
    color: white;
  }

  img {
    width: 60px;
  }
  
  @media (max-width: @screen-xs-max) {
    margin-bottom: 80px;
  }
  
  .fa-stack-1x {
    color: @gymfit-purple;
  }
  
  .fa-lg {
    font-size: 2.5em;
  }
}
