.fullscreen-hero-image {
  background: @gymfit-page-background;
  min-height: 300px;
  
  @media (min-width: @screen-sm-min) {
    min-height: 600px;
  }
  
  .container {
    max-width: 970px;
  }
}

.fullscreen-hero-image-content {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  
  @media (min-width: @screen-sm-min) {
    padding-top: 45px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 30px;
  }
  
  @media (min-width: @screen-md-min) {
    padding-top: 60px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 45px;
  }
  
  h1 {
    text-align: center;
    margin-top: 0px;
  }
}