.gymfit-not-available {
  text-align: center;
  
  img {
    width: 200px;
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 1.5em;
    font-weight: 400;
    color: black;
  }
}