.home-page {
  @media (min-width: @screen-md-min) {
    background: url('/home-hero-large.jpg?v=2') no-repeat fixed;
    background-position: left 50px;
    
    .page-background {
      padding-top: 0px;
    }
  }
  
  .adv {
    margin-top: 15px;
    
    @media (max-width: @screen-sm-max) {
      margin-top: 0px;
    }
  }
}

.top-padding {
  @media (min-width: @screen-md-min) {
    padding-top: 15px;
  }
}

.home-hero {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  
  @media (max-width: @screen-sm-max) {
    background-image: url('/home-hero-small.jpg?v=2');
  }
  
  text-align: center;

  h1 {
    color: white;
    font-size: 2em;
    margin-top: 20px;
    text-shadow:
      -1px -1px 0 #000, 
       1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000,
       2px 2px 4px #000000;
  }
  
  h1:nth-of-type(2) {
    font-size: 1.3em;
  }
  
  iframe {
    margin-top: 10px;
  }

  h2 {
    color: white;
    font-weight: 400;
    font-size: 1.2em;
    text-transform: none;
  }
  
  a {
    margin-top: 10px;
    margin-bottom: 15px;
  }
  
  .big-screen-app-buttons {
    width: 300px;
    margin-top: 50%;
    padding-top: 150px;
  }
}