.fa-chevron-up {
  color: @gymfit-green;
}

.fa-chevron-down {
  color: @gymfit-magenta;
}

.fa-minus {
  color: @gymfit-orange;
}

.fa-thumbs-down {
  color: @gymfit-magenta;
}

.fa-twitter {
  color: @twitter-brand;
}

.fa-facebook {
  color: @facebook-brand;
}

.btn-like, .btn-like:hover, .btn-like:active, .btn-like:focus {
  color: @gymfit-green;
  background: white;
  border: 1px solid @gymfit-green;
}

.btn-liked, .btn-liked:hover, .btn-liked:active, .btn-liked:focus {
  color: @gymfit-orange;
  border-color: @gymfit-orange;
}