.leaderboard-placeholder {
  background: url('/leaderboard-placeholder.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  min-height: 588px;
  margin-top: 15px;
  padding-top: 75px;
  padding-left: 15px;
  padding-right: 15px;

  .content {
    background: white;
    max-width: 600px;
    border: solid 2px @gymfit-gray;
    padding: 40px;
    text-align: center;
    margin: 0 auto;

    h1 {
      font-size: 1.8em;
      text-transform: none;
      margin-top: 0px;
      margin-bottom: 20px;
    }

    p {
      font-weight: 700;
    }

    b {
      color: @gymfit-orange;
    }
  }
}

.leaderboard-filter-button {
  float: right;
  margin-bottom: 15px;
  padding-left: 8px;
  padding-right: 8px;
  
  img {
    width: 20px;
  }
  
  span {
    margin-left: 5px;
  }
}

.leaderboard-button {
  a {
    img {
      width: 20px;
    }
    
    span {
      margin-left: 5px;
    }
  }
}

#leaderboardFilter {
  background: @gymfit-orange;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  
  input, select {
    background: @gymfit-orange;
    color: white;
    border-color: white;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
  }
  
  label, p {
    color: white;
  }
  
  .btn-primary {
    color: white;
    background: @gymfit-purple;
  }
  
  .has-error {
    label, p {
      color: @gymfit-magenta;
    }
    
    input, select {
      background: @gymfit-orange;
      border-color: @gymfit-magenta;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
    }
  }
}

#leaderboard-table {
  margin-bottom: 0px;
  
  .avatar {
    width: 40px;
  }
  
  .result-text{
    white-space: nowrap;
  }
  
  .dropdown-toggle {
    margin-left: 5px;
  }
}

#leaderboard-cards {
  .row {
    border-top: 1px solid @gymfit-gray;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  .row:last-of-type {
    border-bottom: 1px solid @gymfit-gray;
  }
  
  .avatar {
    width: 40px;
    margin-right: 15px;
    float: left;
    margin-bottom: 20px;
  }
  
  strong {
    display: block;
  }
  
  .leaderboard-button {
    display: inline;
    margin-right: 5px;
  }
}

.user-highlight {
  font-weight: 700;
}
