.markdownContent {
  h1, h2, h3 {
    color: white;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    display: inline-block;
    padding-top: 3px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.2em;
    margin-top: 0px;
    margin-bottom: 15px;
  }
  
  h1 {
    background: @gymfit-purple;
  }
  
  h2 {
    background: @gymfit-orange;
  }
  
  h3 {
    background: @gymfit-magenta;
  }
  
  strong, em {
    color: @gymfit-orange;
  }
  
  img {
    margin-left: auto;
    margin-right: auto;
  }
}