.legal-wording {
  p, h1, h2, h3, h4, blockquote, strong, em, li, label, ol {
    font-size: 0.8em;
    color: black !important;
  }
  
  h1, h2, h3, h4 {
    background: none;
    padding: 0px;
  }
}