.navbar-brand {
  padding-top: 10px;

  img {
    width: 120px;
  }
}

.navbar-toggle {
  border: none;
  padding-bottom: 0px;

  .icon-bar {
    height: 4px;
  }
}

.navbar-header {
  .new-challenge-button {
    img {
      margin-top: 18px;
      height: 29px;
      margin-right: 15px;
    }
  }
}

.navbar-nav {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;

  li {
    .user-avatar {
      padding-top: 5px;

      img {
        height: 50px;
        width: 50px;
        margin-right: 10px;
      }
    }

    .cyan-nav-pill {
      border: 2px solid @gymfit-cyan;
      border-radius: 6px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      color: @gymfit-cyan;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      display: inline;

      &:hover, &:active, &:focus {
        color: @gymfit-cyan;
      }
    }

    .new-challenge-button {
      padding-top: 14px;
      
      img {
        height: 33px;
      }
    }
  }

  @media (min-width: @screen-sm-min) {
    li {
      .user-avatar {
        margin-top: 0px;
        padding-right: 0px;
      }

      a {
        padding-bottom: 0px;
      }
    }
  }
  
  @media (min-width: @screen-md-min) {
    li {
      .user-avatar {
        img {
          margin-right: 0px;
        }
      }
    }
  }
}

.nav-spacer {
  height: @navbar-height;
}
