.notification-buttons {
  .footer-text {
    margin-left: 8px;
    margin-top: 8px;
  }
  
  &--large {
    .btn {
      padding: 10px 16px;
      font-size: 18px;
      line-height: 1.3333333;
      border-radius: 6px;
    }
    
    .footer-text {
      font-size: 1.0em;
      margin-top: 28px;
    }
  }
  
  .btn {
    span {
      display: none;
    }
    
    .always-visible {
      display: inline-block;
    }
  }
  
  .fa-facebook {
    padding-left: 4px;
    padding-right: 4px;
  }
  
  .fa-thumbs-up {
    padding-left: 0px;
    padding-right: 10px;
  }
  
  @media (min-width: @screen-xs-max) {
    .btn {
      span {
        display: inline-block;
      }
    }
    
    .fa-facebook, .fa-twitter, .fa-thumbs-up {
      padding-left: 0px;
      padding-right: 10px;
    }
  }
}

#evidenceVideoPopup, #evidenceImagePopup {
  .modal-footer {
    padding-top: 0px;
  }
  
  @media (min-width: @screen-xs-max) {
    .modal-sm {
      width: 70%;
    }
  }
}

.dropdown {
  .btn-default, .btn-default:active, .btn-default:hover, .btn-default:focus {
    color: @gymfit-very-dark-gray;
    border-color: @gymfit-very-dark-gray;
  }
}