.alert {
  margin-bottom: 5px;

  &:last-of-type {
    margin-bottom: 15px;
  }

  background-color: transparent;
  border-width: 2px;
}

.alert.no-margin-bottom {
  &:last-of-type {
    margin-bottom: 0px;
  }
}

.notifications {
  .alert {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}