.btn-style(@bg-color: @gymfit-orange, @font-color: #fff, @font-size: 14px, @v-padding: 16px, @h-padding: 30px){
	background-color: @bg-color;
	color: @font-color;
	text-transform: uppercase;
	font-weight: 600;
	font-size: @font-size;
	padding: @v-padding @h-padding;
	cursor: pointer;
	text-decoration: none;
	position: relative;
	.border-radius(100px,100px,100px,100px);
	.transition(@ease: ease-out);
	outline: none;
	&:hover {
		background-color: #000;
		color: #fff;
	}
	&.shadow {
		.box-shadow(0px 1px 3px 0px rgba(0,0,0,0.07), 0px 4px 14px 0px rgba(0,0,0,0.09));
	}
	&.outline {
		background-color: transparent;
		color: @bg-color;
		padding: (@v-padding - 3px) @h-padding;
		overflow: hidden;
		.box-shadow(0px 0px 0px 3px @bg-color);
		&:hover {
			background-color: @bg-color;
			color: #fff;
		}
	}
}

.object {
	&.heading-style-one {
		font-family: @font-averta;
		font-size: 35px;
		color: #FFFFFF;
		line-height: 44px;
		font-weight: normal;
		strong {
			font-weight: 600;
		}
	}
	&.heading-style-two {
		font-weight: 600;
		font-size: 40px;
		color: @gymfit-purple;
		line-height: 44px;
	}
	&.btn-style-one {
		display: inline-block;
		height: 40px;
		vertical-align: middle;
		overflow: hidden;
		input[type="file"]{
			text-indent: -100px;
		}
		&.outline {
			a,
			button,
			input {
				border: 3px solid #fff;
				background-color: transparent;
				padding-top: 8px;
				padding-bottom: 8px;
				color: #fff;
				&:hover {
					border-color: black;
				}
			}
			&.purple {
				a:not(:hover),
				button:not(:hover),
				input:not(:hover) {
					border-color: @gymfit-purple;
					color: @gymfit-purple;
				}
			}
			&.orange {
				a:not(:hover),
				button:not(:hover),
				input:not(:hover) {
					border-color: @gymfit-orange;
					color: @gymfit-orange;
				}
			}
		}
		a, 
		button,
		input {
			display: inline-block;
			margin: auto 0;
			height: 100%;
			width: 100%;
			font-family: @font-averta;
			text-decoration: none;
			background-color: transparent;
			border:none;
			font-size: 0.875em; // 14 / 16
			color: #67377E;
			letter-spacing: 1px;
			line-height: 18px;
			text-transform: uppercase;
			font-weight: 600;
			padding: 11px 20px;
			transition: all .3s ease-out;
			cursor: pointer;
			background-color: #fff;
			.rounded(5px);
			&:hover {
				background-color: black;
				color: #fff;
			}
		}
	}
	&.btn-style-two {
		display: inline-block;
		height: 60px;
		vertical-align: middle;
		overflow: hidden;
		&.outline {
			a,
			button,
			input {
				border: 3px solid @gymfit-deep-purple;
				background-color: transparent;
				padding-top: 8px;
				padding-bottom: 8px;
				color: #fff;
				&:hover {
					border-color: black;
				}
			}
		}
		a, 
		button,
		input {
			display: inline-block;
			margin: auto 0;
			height: 100%;
			width: 100%;
			font-family: @font-averta;
			text-decoration: none;
			background-color: @gymfit-deep-purple;
			border:none;
			font-size: 0.875em; // 14 / 16
			color: white;
			letter-spacing: 1px;
			line-height: 18px;
			text-transform: uppercase;
			font-weight: 600;
			padding: 11px 30px;
			transition: all .3s ease-out;
			cursor: pointer;
			.rounded(30px);
			&:hover {
				background-color: black;
				color: #fff;
			}
		}
	}
	&.btn-style-three {
		.btn-style-one;
		height: 50px;
		a, button {
			color: #fff;
			background-color: @gymfit-purple;
		}
	}
	&.inline-link {
		color: @gymfit-purple;
		.transition(@ease: ease-out);
		text-decoration: none;
		position: relative;
		&:after {
			content: "";
			height: 2px;
			width: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
			background-color: @gymfit-purple;
		}
		&:hover {
			color: #000;
			&:after {
				background-color: #000;
			}
		}
	}

	&.content {
		font-size: 14px;

		.paragraphStyle(){
			color: #4A4A4A;
			line-height: 29px;
			font-size: 1.42857142857143em; // 20 / 14
		}

		p {
			margin: 0;
			display: inline-block;			
			.paragraphStyle();
		}

		strong {
			font-weight: 600;
		}

		p a {
			display: inline-block;
			text-decoration: none;
			position: relative;
			color: @gymfit-purple;
			&:after {
				display: block;
				position: absolute;
				bottom: 0px;
				left: 0;
				content: "";
				width: 100%;
				height: 2px;
				background-color: @gymfit-deep-purple;
				.transition(@ease: ease-out);
			}
			&:hover {
				&:after {
					width: 30%;
				}
			}
		}

		h2 {
			font-weight: 500;
			font-size: 2.5em; // 35 / 14
			color: @gymfit-deep-purple;
		}

		h3,h4,h5,h6 {
			font-size: 1.78571428571429em; // 25 / 14
			font-weight: 500;
			line-height: 30px;
			margin-top: 22px;
		}

		ul li {
			margin-left: 20px;
			padding-left: 6px;
			// list-style-position: inside;
		}
		ol {
			counter-reset: counter;
			li {
				list-style: none;
				position: relative;
				padding-left: 26px;
				&:before {
					content: counter(counter, decimal) ".";
					counter-increment: counter;
					position: absolute;
					top: 0;
					left: 0;
					font-weight: 600;
					color: @gymfit-deep-purple;
				}
			}
		}
		> ul > li,
		> ol > li {
			// display: list-item;
			.paragraphStyle();
			> p {
				// display: initial;
				// .paragraphStyle();
			}
		}

		blockquote + ol,
		blockquote + ol,
		blockquote + ol,
		blockquote + ol,
		blockquote + ol,
		blockquote + ol,
		ol + blockquote,
		ol + blockquote,
		ol + blockquote,
		ol + blockquote,
		ol + blockquote,
		ol + blockquote,
		blockquote + h1,
		blockquote + h2,
		blockquote + h3,
		blockquote + h4,
		blockquote + h5,
		blockquote + h6,
		h1 + blockquote,
		h2 + blockquote,
		h3 + blockquote,
		h4 + blockquote,
		h5 + blockquote,
		h6 + blockquote,
		h1 + ul,
		h2 + ul,
		h3 + ul,
		h4 + ul,
		h5 + ul,
		h6 + ul,
		h1 + ol,
		h2 + ol,
		h3 + ol,
		h4 + ol,
		h5 + ol,
		h6 + ol,
		ul + h1,
		ul + h2,
		ul + h3,
		ul + h4,
		ul + h5,
		ul + h6,
		h1 + p,
		h2 + p,
		h3 + p,
		h4 + p,
		h5 + p,
		h6 + p,
		p + h1,
		p + h2,
		p + h3,
		p + h4,
		p + h5,
		p + h6,
		hr + blockquote,
		blockquote + hr,
		p + hr,
		hr + p,
		ol + p,
		p + ol,
		ul + p,
		p + ul,
		p + p {
			margin-top: 29px;
		}

		ul li + li {
			margin-top: 5px;
		}

		ol li + li {
			margin-top: 29px;
		}
		li > ul {
			margin-top: 29px;
		}

		p + h2,
		ul + h2,
		ol + h2 {
			margin-top: 82px;
		}

	}
	&.logo {
		display: inline-block;
		width: 154px;
		height: 55px;
		.background-size;
		background-image: url('/gymfit-logo.png');
		&.dark {
			background-image: url('/gymfit-purple-logo.png');
		}
	}
	&.social {
		display: inline-block;
		width: 31px;
		height: 31px;
		.background-size;
		.transition;
		&:hover {
			.opacity(0.5);
		}
		&.facebook {
			background-image: url('/icon-social-facebook.png');
		}
		&.twitter {
			background-image: url('/icon-social-twitter.png');
		}
		&.instagram {
			background-image: url('/icon-social-instagram.png');
		}
	}
	&.curve {
		.down {
			height: 1100px;
			width: 175%;
			position: absolute;
			bottom: 0;
			left: -37.5%;
			background-color: #fff;
			overflow: hidden;
			.border-radius(0, 100%, 100%, 0);
			.container {
				height: 100%;
				padding: 0;
				// overflow: visible;
			}
		}
		.up {
			height: 1100px;
			width: 175%;
			position: absolute;
			top: 5px;
			left: -37.5%;
			background-color: #fff;
			overflow: hidden;
			.border-radius(100%, 0, 0, 100%);
		}
		&.with-border {
			.down {
				border-bottom: 6px solid @gymfit-orange;
			}
			.up {
				border-top: 6px solid @gymfit-orange;
			}
		}
	}
	&.field {
		background: #EFEFEF;
		.border-radius(3px,3px,3px,3px);
		position: relative;
		border: 1px solid #E3E3E3;
		input {
			display: block;
			width: 100%;
			height: 100%;
			border:none;
			background-color: transparent;
			margin: 0;
			font-family: @font-averta;
			font-size: 18px;
			color: #000;
			line-height: normal;
			padding: 18px 20px 19px;
			outline: none;
			.placeholder(#9B9B9B);
		}
		label + input {
			padding-left: 56px;
		}
		label {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 56px;
			.icon {
				display: table;
				vertical-align: middle;
				text-align: center;
				height: 100%;
				width: 100%;
				.wrapper {
					display: table-cell;
					width: 100%;
					height: 100%;
					vertical-align: middle;
				}
				img {
					display: inline-block;
					max-width: 100%;
					margin-top: 3px;
				}
			}
		}
	}
	&.checkbox {
		overflow: hidden;
		label {
			display: inline-block;
			margin-left: 10px;
			font-size: 14px;
			font-weight: 500;
			vertical-align: middle;
			cursor: pointer;
			z-index: 10;
			position: relative;
		}
		.input-container {
			display: inline-block;
			vertical-align: middle;
			overflow: hidden;
			width: 20px;
			height: 20px;
			border: 2px solid #4A4A4A;
			.rounded(5px);
			cursor: pointer;
			position: relative;
			input[type="checkbox"]{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 15;
				.opacity(0);
				&:checked + .mark {
					&:after {
						display: inline-block;
					}
				}
			}
			.mark {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: white;
				z-index: 10;
				cursor: pointer;
				&:after {
					content: "";
					width: 12px;
					height: 12px;
					position: absolute;
					.rounded(12px);
					top: 2px;
					left: 2px;
					background-color: #4A4A4A;
					display: none;
				}
			}
		}
	}
	&.success {
		display: none;
		z-index: 50;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #fff;
		padding: 40px 40px;
		text-align: center;
		.success-wrapper {
			display: table;
			width: 100%;
			height: 100%;
			.success-container {
				display: table-cell;
				vertical-align: middle;
			}
		}
		p {
			display: block;
			font-size: 20px;
			color: #4A4A4A;
			line-height: 29px;
			strong {
				color: @gymfit-purple;
				font-weight: 500;
			}
			& + p {
				margin-top: 31px;
			}
		}
		.heading {
			display: block;
 			font-weight: 500;
			font-size: 30px;
			color: @gymfit-orange;
			line-height: 44px;
			& + p {
				margin-top: 10px;
			}
		}
		.pre-heading {
			display: block;
			font-weight: 500;
			font-size: 20px;
			color: #000000;
			line-height: 44px;
			& + .heading {
				margin-top: -7px;
			}
		}
	}
	&.form-msg {
		display: block;
		text-align: center;
		padding: 15px;
		.rounded(4px);
		&.failed {
		    color: #a94442;
		    background-color: #f2dede;
		    border: 1px solid #ebccd1;
		}
		&.success {
			color: #3c763d;
			background-color: #dff0d8;
			border: 1px solid #d6e9c6;
		}
	}
	&.alert {
		padding: 15px 25px;
		.rounded(3px);
		&.alert-danger {
			color: #a94442;
			background-color: #f2dede;
			border: 2px solid #ebccd1;
		}
		&.alert-warning {
			color: #FFB266;
			background-color: #FFF9EF;
			border: 2px solid #FFDEBE;
		}
		ul {
			display: block;
			margin-top: 10px;
			li {
				list-style-position: inside;
			}
		}
	}
	&.search {

		.heading {
			font-family: @font-averta-thin;
			font-size: 2.8125em; // 45 / 16
			color: #FFFFFF;
			letter-spacing: 0.84px;
			line-height: 53px;
			text-transform: uppercase;
			strong {
				font-family: @font-averta;
				font-weight: 700;
			}
		}
		form {
			display: block;
			margin-top: 30px;
			width: 930px;
			margin-left: auto;
			margin-right: auto;
		}
		.field-group {
			height: 60px;
			display: inline-block;
			width: 78.494623655914%; //  730 / 930
			background: #FFFFFF;
			text-align: left;
			.rounded(3px);
			vertical-align: middle;

			.tt-menu {
				border:none;
				top: ~"calc(100% + 15px)" !important;
			}

			.input-wrapper {
				display: inline-block;
				width: 65.753424657534%; // 480 / 730v
				vertical-align: middle;
				position: relative;
				height: 100%;
				&:before {
					content: "";
					width: 11px;
					height: 17px;
					position: absolute;
					top: ~"calc(50% - 8px)";
					left: 21px;
					z-index: 10;
					.background-size(cover);
					.image-set('/field-location-icon.png', '/field-location-icon@2x.png');
				}
			}
			.select-wrapper {
				display: inline-block;
				vertical-align: middle;
				height: 100%;
				width: 34.246575342466%; // 250 / 730
				position: relative;
				margin-left: -5px;
				background-color: transparent;
				&:before {
					content: "";
					position: absolute;
					top: 0;
					left: -1px; 
					width: 1px;
					height: 100%;
					background-color: #E0E0E0;
				}
				&:after {
					content: "";
					width: 12px;
					height: 7px;
					position: absolute;
					top: 27px;
					right: 25px;
					.background-size(cover);
					.image-set('/field-down-arrow-icon.png', '/field-down-arrow-icon@2x.png');
				}
			}
			input,
			select {
				height: 100%;
				width: 100%;
				display: inline-block;
				vertical-align: middle;
				border:none;
				padding: 0;
				margin: 0;
				outline: none;
				background-color: transparent;
				font-family: @font-averta;
				font-size: 1.125em; // 18 / 16
				-webkit-appearance: none;
				appearance: none;
			}
			select::-ms-expand {
			    display: none;
			}
			input {
				padding: 0 45px;
				height: 100%;
			}
			select {
				color: @gymfit-deep-purple;
				padding: 0 0 0 27px;
				width: 120%;
				position: relative;
				z-index: 10;
				background-color: transparent;
			}
		}
		.object.btn-style-one {
			vertical-align: middle;
			height: 60px;
			width: 18.709677419355%; // 174 / 930
			margin-left: 1.720430107527%; // 16 / 930
			a,
			button {
				&:not(:hover){
					background-color: @gymfit-orange;
					color: #fff;
				}
				font-size: 1em;
				color: #FFFFFF;
				letter-spacing: 3px;
				line-height: 12px;
			}
		}
	}
	&.sign-up-widget {
		position: fixed;
		bottom: 60px;
		right: 40px;
		max-width: 310px;
		background: #FFFFFF;
		.box-shadow(0px 1px 3px 0px rgba(0,0,0,0.07), 0px 4px 14px 0px rgba(0,0,0,0.09));
		.rounded(5px);
		z-index: 30;
		padding: 20px;
		text-align: right;
		padding-left: 140px;
		&:before {
			content: "";
			position: absolute;
			top: -30px;
			left: -45px; 
			width: 205px;
			height: 187px;
			.background-size(cover);
			.image-set('/widget-running-man.png', '/widget-running-man@2x.png');
			z-index: 35;
		}
		p {
			font-size: 1.0625em; // 17 / 16
			color: #4A4A4A;
			strong {
				color: @gymfit-deep-purple;
				font-weight: 600;
			}
		}
		.close {
			position: absolute;
			top: -15px;
			right: -10px;
			z-index: 35;
			&:after {
				content: "";
				display: inline-block;
				width: 35px;
				height: 35px;
				.background-size(cover);
				.image-set('/close-widget-icon.png', '/close-widget-icon@2x.png');
			}
		}
		.link {	
			font-weight: 600;
			font-size: 0.875em; // 14 / 16
			color: @gymfit-orange;
			letter-spacing: 2px;
			line-height: 12px;
			text-transform: uppercase;
			text-decoration: none;
			position: relative;
			margin-top: 10px;
			display: inline-block;
			&:before {
				content: "";
				position: absolute;
				bottom : -5px;
				left: 0;
				height: 2px;
				background-color: @gymfit-orange;
				width: 100%;
				transition: all .3s ease-out;
			}
			&:hover {
				&:before {
					width: 30%;
				}
			}
		}
	}
	&.submit-result {
		background: #FFFFFF;
		.box-shadow(0px 1px 3px 0px rgba(0,0,0,0.07), 0px 4px 14px 0px rgba(0,0,0,0.09));
		.rounded(5px);
		overflow: hidden;
		.object.alert {
			margin: 25px 25px 0 25px;
		}
		.heading {
			display: block;
			font-weight: 500;
			font-size: 1.125em; // 18 / 16
			color: #FFFFFF;
			letter-spacing: 1.35px;
			background-color: @gymfit-orange;
			text-align: center;
			text-transform: uppercase;
			padding: 22px 20px;
		}
		section {
			display: block;
			padding: 25px;
			background-color: #fff;
		}
		.submit {
			position: relative;
			text-align: center;
			padding: 17px 20px 22px;
			.button {
				display: inline-block;
				position: relative;
				&:after {
					content: "";
					position: absolute;
					bottom: -5px;
					left: 0;
					width: 100%;
					height: 2px;
					background-color: @gymfit-orange;
					.transition();
				}
				button {
					display: inline-block;
					color: @gymfit-orange;
					background-color: transparent;
					border: none;
					cursor: pointer;
					font-size: 1em;
					font-family: @font-averta;
					outline: none;
					position: relative;
					.transition();
				}
				&:hover {
					&:after {
						background-color: black;
						width: 30%;
					}
					button {
						color: black;
					}
				}
			}
		}
		.login-required {
			padding-bottom: 30px;
			.object.content;
			.object.btn-style-two {
				height: 50px;
				width: 100%;
				max-width: 260px;
				margin: 0 auto;
				display: block;
				text-align: center;
				margin-top: 25px;
				a {
					padding: 16px 30px;
				}
			}
		}
		.media {
			background-color: #EFEFEF;
			.background-size(cover);
			.image-set('/submit-result-media-backgroun.jpg', '/submit-result-media-backgroun.jpg');
			padding: 30px 25px 25px;
			label {
				display: block;
				text-align: center;
				font-weight: 500;
				font-size: 1.125em; // 18 / 16
				color: #4A4A4A;
				line-height: 24px;
				max-width: 280px;
				margin:  0 auto;
				outline: none;
			}
			.filestyle {
				.opacity(0);
				outline: none;
			}
			.bootstrap-filestyle {
				background-color: @gymfit-orange;
				cursor: pointer;
				display: block;
				max-width: 260px;
				margin: 18px auto 0;
				padding: 12px 0 14px;
				position: relative;
				.rounded(50px);
				.transition();
				&:hover {
					background-color: black;
				}
				span, label {
					cursor: pointer;
					outline: none;
				}
				.badge {
					position: absolute;
					width: 24px;
					height: 24px;
					color: #fff;
					top: 13px;
					right: 20px;
					font-size: 0.75em; // 12 / 16
					background-color: black;
					.rounded(60px);
				}
				.buttonText {
					color: #fff;
					text-transform: uppercase;
					font-weight: 600;
					font-size: 0.875em; // 14 / 16
					color: #FFFFFF;
					letter-spacing: 1px;
					line-height: 18px;
					cursor: pointer;
				}
			}
		}
		.select-wrapper {
			background: #FFFFFF;
			border: 1px solid #979797;
			.rounded(3px);
			position: relative;
			height: 60px;
			margin-bottom: 25px;
			&:after {
				content: "";
				width: 12px;
				height: 7px;
				position: absolute;
				top: 27px;
				right: 20px;
				.background-size(cover);
				.image-set('/field-down-arrow-icon.png', '/field-down-arrow-icon@2x.png');
			}
			select {
				height: 100%;
				width: 100%;
				display: inline-block;
				vertical-align: middle;
				border:none;
				padding: 0 0 0 15px;
				margin: 0;
				outline: none;
				background-color: transparent;
				font-family: @font-averta;
				font-size: 1.125em; // 18 / 16
				-webkit-appearance: none;
				appearance: none;
				position: relative;
				position: absolute;
			}
		}
		.input-wrapper {
			display: block;
			background: #F0F0F0;
			position: relative;
			&:before {
				content: "";
				position: absolute;
				top: 22px;
				left: 15px;
				width: 16px;
				height: 15px;
				.background-size();
				.image-set('/number-icon.png', '/number-icon@2x.png');
			}
			input {
				display: block;
				background-color: transparent;
				width: 100%;
				border: 1px solid #E3E3E3;
				border-radius: 3px;
				padding: 17px 20px 18px 38px;
				font-size: 1.125em;
				color: #828282;
				outline: none;
				line-height: 18px;
				font-family: @font-averta;
			}
		}
	}
	&.nominate-a-friend {
		background: #FFFFFF;
		.box-shadow(0px 1px 3px 0px rgba(0,0,0,0.07), 0px 4px 14px 0px rgba(0,0,0,0.09));
		.rounded(5px);
		position: relative;
		padding: 127px 25px 30px;
		text-align: center;
		.background-size(cover);
		.image-set('/nominate-a-friend-bg.png', '/nominate-a-friend-bg.png');
		&:before {
			content: "";
			position: absolute;
			top: -50px;
			left: ~"calc(50% - 130px)";
			width: 260px;
			height: 170px;
			.background-size(cover);
			.image-set('/nominate-a-friend.png', '/nominate-a-friend@2x.png');
		}
		.heading {
			display: block;
			font-weight: 600;
			font-size: 1.125em; // 18 / 16
			color: @gymfit-purple;
			letter-spacing: 1.35px;
			text-transform: uppercase;
		}
		.object.btn-style-two {
			height: 50px;
			width: 100%;
			max-width: 260px;
			margin-top: 28px;
		}
		.input-wrapper {
			display: block;
			background: #F0F0F0;
			position: relative;
			margin-top: 25px;
			&:before {
				content: "";
				position: absolute;
				top: 23px;
				left: 15px;
				width: 16px;
				height: 12px;
				.background-size(cover);
				.image-set('/field-icon-email.png', '/field-icon-email@2x.png');
			}
			input {
				display: block;
				background-color: transparent;
				width: 100%;
				border: 1px solid #E3E3E3;
				border-radius: 3px;
				padding: 17px 20px 18px 38px;
				font-size: 1.125em;
				color: #828282;
				outline: none;
				line-height: 18px;
				font-family: @font-averta;
			}
		}
	}
	&.profile-card {
		display: block;
		background: #FFFFFF;
		.rounded(5px);
		padding: 30px 40px;
		.avatar {
			display: block;
			margin: 0 auto;
			width: 110px;
			height: 110px;
			overflow: hidden;
			.rounded(60px);
			img {
				display: block;
			}
		}
		.name {
			display: block;
			text-align: center;
			font-weight: 500;
			.font-size(21,16);
			color: @gymfit-deep-purple;
			text-transform: uppercase;
			margin-top: 21px;
		}
		.bio {
			display: block;
			margin-top: 10px;
			p {
				display: block;
				.font-size(18,16);
				line-height: 27px;
				text-align: center;
			}
		}
	}
	&.social-feed {
		display: block;
		.object.btn-style-one.outline.purple {
			display: block;
			width: 100%;
			max-width: 40%;
			margin: 30px auto 0;
		}
		.card {
			display: block;
			border-top: 6px solid @gymfit-deep-purple;
			.rounded(5px);
			overflow: hidden;
			background-color: white;
			& + .card {
				margin-top: 25px;
			}
			.user {
				display: block;
				background-color: white;
				position: relative;
				a {
					display: block;
					padding: 18px 35px 19px;
					text-decoration: none;
				}
				.name {
					display: block;
					font-weight: 500;
					.font-size(18,16);
				}
				.avatar {
					position: absolute;
					top: 10px;
					right: 35px;
					width: 40px;
					height: 40px;
					overflow: hidden;
					.rounded(20px);
					img {
						display: block;
						width: 100%;
					}
				}
				& + .body {
					border-top: 1px solid #F0F0F0;
				}
			}
			.media {
				display: block;
				width: 100%;
				height: 350px;
				.image {
					display: block;
					width: 100%;
					height: 100%;
					.background-size(cover);
					background-position: center center;
				}
				.video {
					display: block;
					width: 100%;
					height: 100%;
					video {
						display: block;
						width: 100%;
						height: 100%;
						background-color: @gymfit-deep-purple;
					}
				}
			}
			.body {
				padding: 27px 35px;
				p {
					display: block;
					.font-size(18,16);
					color: #4A4A4A;
					line-height: 27px;
				}
			}
			.toolbar {
				display: block;
				background-color: #F8C31C;
				padding: 15px 35px;
				position: relative;
				min-height: 55px;
				.btn(){
					display: inline-block;
					position: relative;
					z-index: 1;
					.rounded(5px);
					border: 2px solid black;
					height: 29px;
					vertical-align: middle;
					.active(){
						background-color: black;
						color: #fff;
						cursor: pointer;
					}
					button {
						background-color: transparent;
						border:none;
						width: 100%;
						height: 100%;
						padding: 0 10px;
						outline: none;
						font-family: @font-averta;
						font-weight: 600;
						.font-size(14, 16);
						.transition();
					}
					&:hover {
						button {
							.active();
						}
					}
				}

				.like {
					.btn();
					button {
						padding-bottom: 1px;
						.likes {
							margin-left: 7px;
						}
						&.btn-liked {
							.active();
						}
					}
				}
				.flag {
					.btn();
					button {
						padding: 0 6px 0 5px;
					}
				}
				.trash {
					.btn();
					button {
						padding: 0 7px 1px 7px;
					}
				}
				.details {
					width: 100%;
					position: absolute;
					top: 15px;
					right: 35px;
					z-index: 0;
					text-align: right;
				}
				.posted {
					display: inline-block;
					vertical-align: middle;
					.font-size(14,16);
					color: #000000;
					& + .flag,
					& + .trash {
						margin-left: 15px;
					}
				}
			}
		}
	}
	&.user-list {
		background-color: white;
		.rounded(5px);
		overflow: hidden;
		.heading {	
			display: block;
			font-weight: 500;
			.font-size(21,16);
			color: #FFFFFF;
			padding: 22px 25px 21px;
			text-transform: uppercase;
			background-color: @gymfit-orange;
		}
		.list {
			display: block;
			list-style: none;
			li {
				display: block;
				padding: 15px 25px;
				position: relative;
				& + li {
					border-top: 1px solid #F0F0F0;
				}
			}
		}
		.avatar {
			display: inline-block;
			vertical-align: middle;
			overflow: hidden;
			width: 60px;
			height: 60px;
			.rounded(30px);
			position: relative;
			z-index: 2;
			img {
				display: block;
				width: 100%;
			}
		}
		.name {
			display: inline-block;
			vertical-align: middle;
			font-weight: 500;
			.font-size(18,16);
			color: #4A4A4A;
			line-height: 18px;
			margin-left: 40px;
			position: relative;
			z-index: 2;
		}
		.action {
			position: absolute;
			top: 0;
			right: 0;
			width: 100%;
			height: 100%;
			z-index: 0;
			padding-right: 25px;
			.action-wrapper {
				display: table;
				width: 100%;
				height: 100%;
				vertical-align: middle;
				text-align: right;
				.action-container {
					display: table-cell;
					width: 100%;
					height: 100%;
					vertical-align: middle;
				}
			}
		}
	}
	&.reviews {
		position: relative;
		& + .object.view-more,
		& + .object.page-left-right {
			margin-top: 40px;
		}
		> ul {
			display: block;
			> li {
				position: relative;
				list-style: none;
				display: block;
				background: #FFFFFF;
				.rounded(5px);
				padding: 50px 40px;
				min-height: 250px;
				& + li {
					margin-top: 40px;
				}

			}
		}
		.reviewer {
			position: absolute;
			top: 50px;
			left: 30px;
			width: 155px;
			text-align: center;
			a {
				text-decoration: none;
			}
			.avatar {
				display: inline-block;
				width: 90px;
				height: 90px;
				.rounded(45px);
				overflow: hidden;
				img {
					display: block;
					width: 100%;
				}
			}
			.name {
				font-weight: 500;
				.font-size(18,16);
				color: #4A4A4A;
				line-height: 27px;
				margin-top: 7px;
			}
			.location {
				font-size: 16px;
				color: #4A4A4A;
				line-height: 27px;
			}
		}
		.review {
			display: block;
			width: 100%;
			padding-left: 195px;
			.title {
				display: block;
				font-style: italic;
				.font-size(22, 16);
				color: @gymfit-deep-purple;
				line-height: 30px;
				font-weight: normal;
			}
			.rating {
				display: block;
				margin-top: 11px;
				ul {
					display: block;
					font-size: 0px;
					li {
						font-size: 16px;
						display: inline-block;
						list-style: none;
						& + li {
							margin-left: 2px;
						}
						img {
							max-width: 100%;
						}
					}
				}
			}
			.body {
				margin-top: 26px;
				display: block;
				.font-size(18,16);
				color: #4A4A4A;
				line-height: 27px;
				p + p {
					margin-top: 20px;
				}
			}
		}
	}
	&.star-rating {
		display: inline-block;
		vertical-align: middle;
		background: #f7c236;
		.box-shadow(0px 1px 3px 0px rgba(0,0,0,0.07), 0px 4px 14px 0px rgba(0,0,0,0.09));
		.rounded(100px);
		overflow: hidden;
		padding: 6px 20px 5px;
		margin-top: -2px;
		ul {
			display: inline-block;
			font-size: 0px;
			li {
				display: inline-block;
				list-style: none;
				width: 29px;
				height: 26px;
				position: relative;
				font-size: 16px;
				& + li {
					margin-left: 3px;
				}
				&:after {
					content: "";
					width: 100%;
					height: 100%;
					.background-size(cover);
					.image-set('/star-rating.png', '/star-rating@2x.png');
					position: absolute;
					top: 0;
					left: 0;
					z-index: 5;
				}
				&:before {
					position: absolute;
					width: 0;
					height: 100%;
					background-color: #fff;
					top: 0;
					left: 0;
					content: "";
					z-index: 1;
				}
				&.p10 {
					&:before {
						width: ~"calc(10% + 6px)";
					}
				}
				&.p20 {
					&:before {
						width: ~"calc(20% + 5px)";
					}
				}
				&.p30 {
					&:before {
						width: ~"calc(30% + 4px)";
					}
				}
				&.p40 {
					&:before {
						width: ~"calc(40% + 2px)";
					}
				}
				&.p50 {
					&:before {
						width: 50%;
					}
				}
				&.p60 {
					&:before {
						width: ~"calc(60% - 2px)";
					}
				}
				&.p70 {
					&:before {
						width: ~"calc(70% - 3px)";
					}
				}
				&.p80 {
					&:before {
						width: ~"calc(80% - 4px)";
					}

				}	
				&.p90 {
					&:before {
						width: ~"calc(90% - 5px)";
					}
				}
				&.p100 {
					&:before {
						width: 100%;
					}
				}					
			}
		}
	}
	&.write-review {
		display: block;
		.rounded(5px);
		position: relative;
		overflow: hidden;
		background-color: #67377E;
		.heading {
			display: inline-block;
			background-color: #F8C31C;
			color: @gymfit-deep-purple;
			line-height: 26px;
			text-transform: uppercase;
			font-weight: normal;
			padding: 20px 25px;
			position: relative;
			z-index: 5;
			&:after {
				content: "";
				position: absolute;
			    top: -30%;
			    right: -25px;
			    width: 100px;
			    height: 150%;
				background-color: #F8C31C;
				.rotation(20deg);
				z-index: 0;
			}
			h2 {
				.font-size(22, 16);
				font-weight: normal;
				position: relative;
				z-index: 5;
			}
			strong {
				font-weight: 700;
			}
		}
		.rating {
			position: absolute;
			top: 0;
			right: 0;
			width: 100%;
			height: 100%;
			text-align: right;
			padding-right: 30px;
			z-index: 10;
			.rating-wrapper {
				display: table;
				width: 100%;
				height: 100%;
				.rating-container {
					display: table-cell;
					width: 100%;
					vertical-align: middle;
				}
			}
			ul {
				display: block;
				list-style: none;
				font-size: 0px;
				li {
					font-size: 16px;
					display: inline-block;
					vertical-align: middle;
					& + li {
						margin-left: 4px;
					}
					&.go {
						margin-left: 40px;
						.object.btn-style-one {
							button {
								font-weight: 700;
								.font-size(22, 16);
								&:after {
									content: "";
									display: inline-block;
									width: 9px;
									height: 15px;
									margin-left: 6px;
									.background-size(cover);
									.image-set('/btn-arrow-right-purple.png', '/btn-arrow-right-purple@2x.png');
								}
							}
							&:hover {
								button:after {
									.image-set('/btn-arrow-right-white.png', '/btn-arrow-right-white@2x.png');	
								}
							}
						}
					}
				}
			}
			.star {
				overflow: hidden;
				position: relative;
				width: 41px;
				height: 38px;
				&.active {
					label {
						&:before {
							.image-set('/leave-review-star-100.png', '/leave-review-star-100@2x.png');
						}
					}
				}
				input {
					position: absolute;
					top: -100px;
					left: -100px;
					z-index: 5;
					&:checked + label {
						&:before {
							.image-set('/leave-review-star-100.png', '/leave-review-star-100@2x.png');
						}
					}
				}
				label {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					z-index: 10;
					cursor: pointer;
					&:before {
						content: "";
						width: 41px;
						height: 38px;
						.background-size(cover);
						position: absolute;
						top: 0;
						left: 0;
						.image-set('/leave-review-star-0.png', '/leave-review-star-0@2x.png');
					}
					&:hover {
						&:before {
							.image-set('/leave-review-star-100.png', '/leave-review-star-100@2x.png');
						}
					}
				}
			}
		}
		& + .object.reviews {
			margin-top: 40px;
		}
	}
	&.rating-bar {
		display: block;
		background: #FFFFFF;
		.box-shadow(0px 1px 3px 0px rgba(0,0,0,0.07), 0px 4px 14px 0px rgba(0,0,0,0.09));
		.rounded(5px);
		position: relative;
		overflow: hidden;
		padding: 20px 35px;
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 8px;
			height: 100px;
			background-color: @gymfit-deep-purple;
		}
		.object.star-rating {
			display: inline-block;
			vertical-align: middle;
		}
		.rating {
			display: inline-block;
			vertical-align: middle;
			font-weight: 500;
			text-transform: uppercase;
			.font-size(20, 16);
			margin-left: 30px;
		}
		.reviews {
			display: inline-block;
			vertical-align: middle;
			.font-size(20, 16);
			font-weight: 500;
			text-transform: lowercase;
			position: absolute;
			top: 26px;
			right: 35px;
			width: 100%;
			text-align: right;
		}
	}
	&.view-more {
		display: block;
		text-align: center;
		a {				
			display: inline-block;
			font-weight: 600;
			.font-size(14,16);
			color: @gymfit-deep-purple;
			letter-spacing: 1px;
			line-height: 18px;
			text-transform: uppercase;
			text-decoration: none;
			position: relative;
			&:after {
				content: "";
				width: 100%;
				height: 2px;
				background-color: @gymfit-deep-purple;
				position: absolute;
				bottom: -4px;
				left: 0;
				.transition();
			}
			&:hover {
				&:after {
					width: 30%;
				}
			}
		}
	}
	&.page-left-right {
		min-height: 50px;
		.object.btn-style-one {
			height: 50px;
			a {
				text-transform: none;
				.font-size(18, 16);
				font-weight: 500;
				letter-spacing: normal;
				padding: 13px 30px;
			}
			&.right {
				float: right;
			}
		}
	}
	&.tips {
		background: #FFFFFF;
		.rounded(5px);
		padding: 40px 40px 30px;
		text-align: center;
		.heading {
			font-weight: 500;
			.font-size(18,16);
			color: @gymfit-orange;
			letter-spacing: 1.35px;
			text-transform: uppercase;
			& + p {
				margin-top: 24px;
			}
		}
		p {
			display: block;
			.font-size(18,16);
			color: #4A4A4A;
			line-height: 27px;
			& + ul {
				margin-top: 27px;
			}
		}
		ul {
			display: block;
			list-style: none;
			counter-reset: list-item-counter;
			li {
				display: block;
				line-height: 27px;
				color: #9B9B9B;
				.font-size(18,16);
				& + li {
					margin-top: 27px;
				}
				&:before {
					content: counter(list-item-counter) ". ";
					counter-increment: list-item-counter;
					font-weight: 600;
					color: @gymfit-orange;
				}
			}
		}

	}
	&.choose-rating {
		background: #FFFFFF;
		.rounded(5px);
		padding: 30px 40px 40px;
		.heading {
			display: block;
			font-weight: 600;
			.font-size(18,16);
			color: @gymfit-purple;
			letter-spacing: 1.35px;
			text-transform: uppercase;
		}
		.rating {
			display: block;
			width: 100%;
			z-index: 10;
			margin-top: 27px;
			ul {
				display: block;
				list-style: none;
				font-size: 0px;
				li {
					font-size: 16px;
					display: inline-block;
					vertical-align: middle;
					& + li {
						margin-left: 4px;
					}
				}
			}
			.star {
				overflow: hidden;
				position: relative;
				width: 61px;
				height: 57px;
				&.active {
					label {
						&:before {
							.image-set('/choose-review-star-100.png', '/choose-review-star-100@2x.png');
						}
					}
				}
				input {
					position: absolute;
					top: -100px;
					left: -100px;
					z-index: 5;
					&:checked + label {
						&:before {
							.image-set('/choose-review-star-100.png', '/choose-review-star-100@2x.png');
						}
					}
				}
				label {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					z-index: 10;
					cursor: pointer;
					&:before {
						content: "";
						width: 61px;
						height: 57px;
						.background-size(cover);
						position: absolute;
						top: 0;
						left: 0;
						.image-set('/choose-review-star-0.png', '/choose-review-star-0@2x.png');
					}
					&:hover {
						&:before {
							.image-set('/choose-review-star-100.png', '/choose-review-star-100@2x.png');
						}
					}
				}
			}
		}
		& + .write-review-form {
			margin-top: 30px;
		}
	}
	&.write-review-form {
		background: #FFFFFF;
		.rounded(5px);
		padding: 30px 40px 40px;
		.heading {
			display: block;
			font-weight: 600;
			.font-size(18,16);
			color: @gymfit-purple;
			letter-spacing: 1.35px;
			text-transform: uppercase;
		}
		.object.alert {
			margin-top: 25px;
		}
		input[type="text"] {
			display: block;
			font-family: @font-averta;
			.font-size(18,16);
			margin-top: 25px;
			border: 1px solid #F0F0F0;
			.rounded(3px);
			outline: none;
			padding: 15px 20px;
			width: 100%;
			color: #4A4A4A;
		}
		textarea {
			display: block;
			margin-top: 25px;
			width: 100%;
			min-height: 200px;
			border:none;
			font-family: @font-averta;
			.font-size(18,16);
			color: #4A4A4A;
			line-height: 29px;
			background: #F0F0F0;
			outline: none;
			.rounded(3px);
			padding: 20px 20px;
		}
		.object.btn-style-one {
			display: block;
			width: 100%;
			height: 50px;
			margin-top: 30px;
			button:not(:hover) {
				background-color: @gymfit-orange;
				color: #fff;
			}
		}
	}
	&.search-form {
		background: #FFFFFF;
		.box-shadow(0px 1px 3px 0px rgba(0,0,0,0.07), 0px 4px 14px 0px rgba(0,0,0,0.09));
		.rounded(5px);
		padding: 30px 30px;
		.heading {
			display: block;
			font-weight: normal;
			.font-size(25,16);
			color: #4A4A4A;
			strong {
				color: @gymfit-deep-purple;
				font-weight: 500;
				text-transform: capitalize;
			}
		}

		.tt-menu {
			top: ~"calc(100% + 15px)" !important;
		}

		form {
			display: block;
			margin-top: 25px;
			ul {
				display: block;
				list-style: none;
				font-size: 0px;
				li {
					display: inline-block;
					vertical-align: bottom;
					width: 21.666666666666667%;
					font-size: 16px;
					&:nth-child(1){
						width: 30%;
					}
					& + li {
						margin-left: 1.666666666666667%; 
					}
				}
			}
		}
		.object.btn-style-two {
			height: 50px;
			width: 100%;
			margin-bottom: 6px;
			&:not(:hover){
				button {
					background-color: @gymfit-orange;
				}
			}
		}
		.form-group {
			display: block;
			vertical-align: middle;
			.control-label {
				font-weight: 600;
				.font-size(12,16);
				color: #4A4A4A;
				letter-spacing: 2px;
				text-transform: uppercase;
				display: block;
				margin-bottom: 7px;
			}
			.twitter-typeahead  {
				height: 60px;
				width: 100%;
			}
			.icon.location {
				position: absolute;
				top: 21px;
				left: 25px;
				width: 11px;
				height: 17px;
				z-index: 10;
				.background-size(cover);
				.image-set('/field-location-icon.png', '/field-location-icon@2x.png');
			}
			.input-wrapper {
				display: block;
				background: #FFFFFF;
				position: relative;
				height: 60px;
				width: 100%;
				&.has-icon {
					input {
						padding-left: 48px;
					}
				}
				input {
					display: inline-block;
					width: 100%;
					border:none;
					height: 100%;
					vertical-align: middle;
					background-color: white !important;
					border: 1px solid #979797;
					.rounded(3px);
					position: absolute;
					top: 0;
					left: 0;
					font-family: @font-averta;
					.font-size(18,16);
					color: #4A4A4A;
					line-height: 18px;
					outline: none;
					padding-left: 25px;
					padding-right: 25px;
					padding-bottom: 1px;
				}
			}

			.select-wrapper {
				display: inline-block;
				vertical-align: middle;
				height: 60px;
				width: 100%;
				position: relative;
				background-color: white;
				&:after {
					content: "";
					width: 12px;
					height: 7px;
					position: absolute;
					top: 27px;
					right: 25px;
					.background-size(cover);
					.image-set('/field-down-arrow-icon.png', '/field-down-arrow-icon@2x.png');
				}
				select {
					height: 100%;
					width: 100%;
					display: inline-block;
					vertical-align: middle;
					border:none;
					padding: 0;
					margin: 0;
					outline: none;
					background-color: #fff;
					font-family: @font-averta;
					font-size: 1.125em; // 18 / 16
					-webkit-appearance: none;
					appearance: none;
					color: #4A4A4A;
					padding: 0 25px 0 25px;
					position: relative;
					z-index: 10;
					background-color: transparent;
					border: 1px solid #979797;
					.rounded(3px);
				}
				select::-ms-expand {
				    display: none;
				}
			}

		}
	}
	&.number-of-results {
		display: block;
		border-bottom: 1px solid #D8D8D8;
		.results {
		    margin-bottom: 21px;
		    display: inline-block;
		    vertical-align: bottom;
		}
	}
	&.user-result {
		display: block;
		background: #FFFFFF;
		.box-shadow(0px 1px 3px 0px rgba(0,0,0,0.07), 0px 4px 14px 0px rgba(0,0,0,0.09));
		.rounded(5px);
		overflow: hidden;
		position: relative;
		.v-wrapper {
			display: table;
			width: 100%;
			height: 100%;
			.v-container {
				display: table-cell;
				width: 100%;
				vertical-align: middle;
			}
		}
		.avatar {
			position: absolute;
			top: 0;
			left: 0;
			width: 230px;
			height: 100%;
			border-right: 1px solid #F0F0F0;
			img {
				display: inline-block;
				width: 40px;
				height: 40px;
			}
			.v-container {
				text-align: center;
			}
		}
		.meta {
			position: absolute;
			top: 0;
			left: 230px;
			width: 100px;
			height: 100%;
			border-right: 1px solid #F0F0F0;
			.block {
				display: block;
				width: 100%;
				height: 50%;
				& + .block {
					border-top: 1px solid #F0F0F0;
				}
			}
		}
		.details {
			height: 220px;
			padding-left: 330px;
			padding-right: 250px;
			.block {
				display: block;
				width: 100%;
				height: 50%;
				padding-left: 25px;
				padding-right: 25px;
				& + .block {
					border-top: 1px solid #F0F0F0;
				}
			}
		}
		.rating {
			position: absolute;
			top: 0;
			right: 0;
			width: 250px;
			height: 100%;
			.background-size(cover);
			.image-set('/result-rating-bg.jpg', '/result-rating-bg@2x.jpg');
		}
	}
}