.pill-mixin() {
  color: white;
  border-radius: 4px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  text-transform: uppercase;
}

.purple-pill {
  .pill-mixin;
  background: @gymfit-purple;
}

.magenta-pill {
  .pill-mixin;
  background: @gymfit-magenta;
}

.black-pill {
  .pill-mixin;
  background: @gymfit-black;
}

.orange-pill {
  .pill-mixin;
  background: @gymfit-orange;
}

.green-pill {
  .pill-mixin;
  background: @gymfit-green;
}

.big-pill-mixin(@file-name) {
  .pill-mixin;
  padding-left: 42px;
  text-transform: none;
  
  background-image: url(@file-name);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 8px center;
}

.purple-pill--big-with-icon {
  background: @gymfit-purple;
  .big-pill-mixin('/weight.svg');
}

.orange-pill--big-with-icon {
  background: @gymfit-orange;
  .big-pill-mixin('/heart.svg');
}

.green-pill--big-with-icon {
  background: @gymfit-green;
  .big-pill-mixin('/stopwatch.svg');
}

.white-pill {
  color: @gymfit-purple;
  background: white;
  border-radius: 4px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 2px;
  text-transform: none;
}
