@media all and (min-width: 1441px){
	.footer.large-wave {
		display: none;
	}
}

@media all and (max-width: 1300px){
	.tile.header > .container {
	    width: 90%;
	}
}

@media all and (max-width: 1260px){

	.tile.header .nav .login .object.btn-style-one.outline a {
		min-width: 60px;
		position: relative;
		&:before {
			content: "";
			position: absolute;
			top: ~"calc(50% - 9px)";
			left: ~"calc(50% - 8px)";
			width: 15px;
			height: 18px;
			.background-size(cover);
			background-image: url('/unlock-icon.png');
			background: -webkit-image-set(url('/unlock-icon.png') 1x, url('/unlock-icon@2x.png') 2x);
			background: image-set(url('/unlock-icon.png') 1x, url('/unlock-icon@2x.png') 2x);
		}
	}
	.tile.header .nav .create-account a {
		min-width: 60px;
		position: relative;
		&:before {
			content: "";
			position: absolute;
			top: ~"calc(50% - 11px)";
			left: ~"calc(50% - 10px)";
			width: 20px;
			height: 19px;
			.background-size(cover);
			background-image: url('/add-user-icon.png');
			background: -webkit-image-set(url('/add-user-icon.png') 1x, url('/add-user-icon@2x.png') 2x);
			background: image-set(url('/add-user-icon.png') 1x, url('/add-user-icon@2x.png') 2x);
		}
		&:hover {
			&:before {
			background-image: url('/add-user-white-icon.png');
			background: -webkit-image-set(url('/add-user-white-icon.png') 1x, url('/add-user-white-icon@2x.png') 2x);
			background: image-set(url('/add-user-white-icon.png') 1x, url('/add-user-white-icon@2x.png') 2x);
			}
		}
	}

	.tile.header .nav > ul > li + li {
		margin-left: 30px;
	}

	.tile.header.scrolled {
		.nav .create-account a {
			&:before {
				background-image: url('/add-user-white-icon.png');
				background: -webkit-image-set(url('/add-user-white-icon.png') 1x, url('/add-user-white-icon@2x.png') 2x);
				background: image-set(url('/add-user-white-icon.png') 1x, url('/add-user-white-icon@2x.png') 2x);
			}
		}
		.nav .login .object.btn-style-one.outline a {
			&:before {
				background-image: url('/unlock-purple-icon.png');
				background: -webkit-image-set(url('/unlock-purple-icon.png') 1x, url('/unlock-purple-icon@2x.png') 2x);
				background: image-set(url('/unlock-purple-icon.png') 1x, url('/unlock-purple-icon@2x.png') 2x);
			}
		}

	}

}

@media all and (max-width: 1160px){

	.object.curve {
		.up,
		.down {
			.rounded(0px);
		}
	}
	.tile.feature-video.curve-down > .image {
		display: block;
	}
	.tile.feature-video .object.curve .down .image {
		display: none;
	}
	.tile.feature-image-with-content.curve-down .container,
	.tile.feature-image-with-content .container {
		padding-top: 80px;
		padding-bottom: 80px;
	}
	.tile.curve-down + .tile.gym-pt {
		padding-top: 100px;
	}
}

@media all and (max-width: 1200px){
	.tile > .container {
		width: 90%;
	}

	.tile.modal.video {
		.container {
			max-width: 90%;
			width: initial;
		}
	}

}

@media all and (max-width: 1020px){
	.tile.header .nav > ul > li + li {
		margin-left: 20px;
	}
	.tile.header .nav .search {
		margin-left: 30px;
	}
	.object.search form {
		width: 100%;
	}
	.tile.challenge-list .challenges ul li {
		width: 48.529411764706%; // 495 / 1020 
		// margin-left: 2.941176470588%; // 30 / 1020 
		&:nth-child(odd),
		&:nth-child(even){
			margin-left: 0px;
		}
		&:nth-child(2n){
			margin-left: 2.941176470588%; // 30 / 1020 
		}
	}
}

@media all and (max-width: 980px){
	.tile.feature-image-with-content .image {
		.opacity(0.2);
	}

}

@media all and (max-width: 960px){
	.object.sign-up-widget {
		display: none;
	}
	.tile.header {
		background-color: #fff;
		top: 0;
		.container {
			height: 70px;
		}
		.logo {
			top: 7px;
		}
		.object.logo {
			background-image: url('/gymfit-purple-logo.png');
			height: 40px;
			width: 111px;
		}
		.object.btn-style-one {
			height: 35px;
			a, button {
				padding: 8px 14px;
			}
		}
		.nav {
			display: none;
		}
		.responsive-nav {
			display: table;
		}
	}
	.tile.leaderboard-list .challenges ul li {
		width: 48.263888888889%; // 417 / 864
		&:nth-child(odd),
		&:nth-child(even) {
			margin-left: 0;
		}
		&:nth-child(2n){
			margin-left: 3.472222222222%; // 30 / 864
		}
	}
	.tile.challenge {
		.container {
			padding-right: 0;
		}
		.sidebar {
			position: relative;
			display: block;
			margin-top: 40px;
			width: 100%;
		}
	}
}

@media all and (max-width: 900px){
	.object.search {
		.field-group {
			width: 100%;
		}
		.object.btn-style-one {
			margin-left: 0;
			width: 35%;
			margin-top: 30px;
			margin-bottom: 93px;
		}
	}
}
@media all and (max-width: 850px){
	.tile.feature-video .watch-video {
		width: 100%;
		.video-container {
			width: 100%;
			.image {
				width: 100%;
				background-position: center center;
			}
		}
	}
}

@media all and (max-width: 800px){
	.tile.feature-image-with-content .image {
		display: none;
	}
	.tile.feature-image-with-content {
		&.right {
			.content {
				direction: ltr;
				text-align: left;
			}
		}
		.content p {
			max-width: 100%;
		}
		.content { 
			max-width: 100%;
		}
	}
	.tile.feature-image-with-content .card {
		max-width: 100%;
	}
	.tile.header {
		.container > .logo {
			display: block;
			width: 100%;
			text-align: center;
			margin-bottom: 20px;
		}
		.nav {
			display: none;
			// .social {
			// 	display: none;
			// }
			// .spacer {
			// 	display: none;
			// }
			// .button {
			// 	display: block;
			// 	margin-top: 20px;
			// }
			// .instagram,
			// .button {
			// 	margin-right: 0;
			// }
		}
	}
	.tile.feature-video + .tile.feature-image-with-content.challenge {
		margin-top: -55px;
	}
}

@media all and (max-width: 767px){
	.tile.modal.video .video.finished .object.success {
		display: none;
	}
}


@media all and (max-width: 740px){
	.tile.features {
		ul {
			margin-top: -49px;
			li {
				width: 48.498498498498%; // 323 / 666
				margin-right: 3.003003003003%; // 20 / 666
				margin-top: 49px;
				&:nth-child(2n){
					margin-right: 0;
				}
			}
		}
	}
}

@media all and (max-width: 670px){
	.tile.challenge-list .challenges ul li {
		width: 100%;
		&:nth-child(odd),
		&:nth-child(even){
			margin-left: 0px;
		}
	}
	.tile.leaderboard-list .challenges ul li {
		width: 100%;
		&:nth-child(odd),
		&:nth-child(even) {
			margin-left: 0;
		}
	}
}

@media all and (max-width: 600px){
	.tile.footer.large-wave {
		display: none;
	}
	.tile.auth .intro br {
		display: none;
	}
	.tile.anchor-tabs ul li {
		display: block;
		width: 100%;
	}
}


@media all and (max-width: 500px){

	.object.search {
		.heading {
			font-size: 2.1875em; // 35 / 16
			line-height: normal;
		}
		.field-group {
			height: 100px;
			.input-wrapper {
				width: 100%;
				height: 50%;
				&:before {
					top: ~"calc(50% - 9px)";
				}
			}
			.select-wrapper {
				width: 100%;
				height: 50%;
				margin: 0;
				&:before {
					top: 0;
					left: 0;
					width: 100%;
					height: 1px;
				}
				&:after {
					top: ~"calc(50% - 3px)";
				}
			}
		}
		.object.btn-style-one {
			width: 100%;
			margin-top: 20px;
			height: 50px;
		}
	}

	.tile.features {
		ul li {
			width: 100%; // 323 / 666
			margin-right: 0; // 20 / 666
		}
	}
	.object.heading-style-one {
		font-size: 25px;
		line-height: 34px;
	}
	.object.heading-style-two {
		font-size: 25px;
		line-height: 27px;
	}
	.object.success .heading {
		font-size: 25px;
		line-height: 27px;
	}
	.tile.feature-image-with-content .content .heading {
		font-size: 40px;
		letter-spacing: 1.0px;
		line-height: 38px;
	}
	.tile.feature-video .watch-video .icon {
	    width: 122px;
	    height: 122px;
	}
	.tile.footer {
		padding-top:40px;
		padding-bottom: 40px;
		.copyright ul {
			margin-top: 20px;
			li {
				display: block;
				& + li {
					margin-left: 0;
				}
			}
		}
	}
	.tile.register .form .types {
		li {
			width: 100%;
			height: 137px;
			display: block;
			& + li {
				margin-left: 0;
				margin-top: 20px;
			}
			.title br {
				display: none;
			}
			label:after {
				height: 50px;
			}
		}
	}
}

@media all and (max-width: 400px){
	.object.content p a,
	.tile.feature-image-with-content .card p a {
		&:after {
			display: none;
		}
		text-decoration: underline;
		line-height: 24px;
		&:hover {
			text-decoration: none;
		}
	}
	.tile.feature-video .watch-video .video-container {
		padding: 0;
		box-shadow: none;
		margin-left: -5%;
		margin-right: -5%;
		.image {
			height: 250px;
			width: 120%;
			margin-left: -10%;
		}
	}
}

// iPad - Landscape
@media all and (max-width: 1024px) and (max-height: 768px){
	.tile.footer.large-wave {
		display: none;
	}
}
// 
// iPad - Portrait
@media all and (max-width: 768px) and (max-height: 1024px){
	.tile.footer.large-wave {
		display: none;
	}
}

// 6+
@media all and (max-width: 414px){
	.tile.header .responsive-nav .menu {
		a {
			min-width: 45px;
			text-align: center;
			&:before {
				margin: 0;
			}
			&:after {
				display: none;
			}
		}
	}
}

// 6
@media all and (max-width: 375px){
	.object.checkbox {
		position: relative;
		.input-container {
			position: absolute;
			top: 0;
			left: 0;
			padding-left: 0;
		}
		label {
			padding-left: 20px;
		}
	}
}

// 5
@media all and (max-width: 320px){
	
}



