.social-feed {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 350px;
  padding-right: 15px;
  
  .row {
    border-bottom: 1px solid @gymfit-dark-gray;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  .row:first-of-type {
    padding-top: 0px;
  }
  
  .row:last-of-type {
    border-bottom: 0px;
    padding-bottom: 0px;
  }
  
  p {
    min-height: 35px;
  }
  
  .avatarHolder {
    padding-right: 10px;
  }
  
  .notification-buttons {
    margin-top: 15px;
  }
}

.update-body {
  background: @gymfit-gray;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  padding: 15px;
}