@import "typography";
@import "variables";
@import "tiles";
@import "objects";
@import "responsive";

* {
	margin: 0;
	padding: 0;
	.box-sizing;
}
html,
body,
.site {
	height: 100%;
	// background-color: @gymfit-deep-purple;
}

body {
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	margin: 0;
	font-family: @font-averta;
	color: #4A4A4A;
}

.tt-menu {
    width: 100%;
    background-color: white;
    border: 1px solid #979797;
    border-radius: 3px;
    padding: 15px 25px;
    &:before {
    	content: "";
		width: 0; 
		height: 0; 
		position: absolute;
		top: -7px;
		left: 23px;
		border-left: 7px solid transparent;
		border-right: 7px solid transparent;
		border-bottom: 7px solid white;
		z-index: 2;
    }
	&:after {
    	content: "";
		width: 0; 
		height: 0; 
		position: absolute;
		top: -8px;
		left: 22px;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-bottom: 8px solid #979797;
		z-index: 1;
    }
    .tt-suggestion {
    	display: block;
    	cursor: pointer;
		.transition();
		&:hover {
			color: @gymfit-deep-purple;
		}
    	& + .tt-suggestion {
    		margin-top: 10px;
    	}
    }
}

.site {
	position: relative;
	&.no-nav {
		background-color: @gymfit-deep-purple;
		.tile.header {
			display: none;
		}
		.site-container {
			overflow:hidden;
			background-color: #5d3076
		}
		.tile.responsive-nav {
			display: none;
		}
	}
	.site-container {
		transition: all .3s ease-out;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 50;
		background-color: #fff;
		&:after {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			z-index: 0;
			width: 50px;
			height: 100%;
			box-shadow:  3px 1px 3px 0px rgba(0,0,0,0.01),  3px 2px 14px 0px rgba(0,0,0,0.10);
		}
	}
	&.nav-open {
		&.scrolled {
			.tile.header {
				.container {
					width: ~"calc(100% - 44px)";
				}
			}
			.tile.responsive-nav {
				padding-top: 115px;
			}
		}
		.site-container {
			margin-left: -260px;
		}
		.tile.header .responsive-nav .menu a {
			min-width: 37px;
			padding-left: 10px;
			padding-right: 10px;
			&:before {
				margin: 1px 0 0 0;
				width: 17px;
				height: 17px;
				background: url('/close-menu-icon.png');
				background: -webkit-image-set( url('/close-menu-icon.png') 1x, url('/close-menu-icon@2x.png') 2x );
				background: image-set( url('/close-menu-icon.png') 1x, url('/close-menu-icon@2x.png') 2x );
			}
			&:after {
				display: none;
			}
		}
	}
}


.collapse {
	display: none;
}

.no-scroll {
	overflow-y: hidden;
}

.modal-active {
	.tile.modal{
		display: block;
	}
	.no-scroll;
}

.tile {
	&.curve-down {
	    & + .tile {
	    	margin-top: -100px;
	    	padding-top: 185px;
	    }
	    & + .tile.gym-pt {
		    padding-top: 120px;	
	    }
	}
	&.curve-up {
		margin-top: -105px;
		.container {
			padding-top: 155px;
		}
	}
}