.tile {
	display:block;
	padding: 80px 0;
	z-index: 10;
	position: relative;
	background-color: #fff;
	.container {
		display: block;
		margin: 0 auto;
		width: 1110px;
		position: relative;
	}
	&.last {
		padding-bottom: (80px + 109px);
		& + .footer:not(.repeat-wave){
			margin-top: -109px;
		}
	}
	@import "tiles/header";
	@import "tiles/responsive-nav";
	@import "tiles/footer";
	@import "tiles/hero-search";
	@import "tiles/feature-video";
	@import "tiles/feature-image-with-content";
	@import "tiles/features";
	@import "tiles/register";
	@import "tiles/auth";
	@import "tiles/page";
	@import "tiles/page-title";
	@import "tiles/challenge-list";
	@import "tiles/leaderboard-list";
	@import "tiles/challenge";
	@import "tiles/anchor-tabs";
	@import "tiles/user-header";
	@import "tiles/user-nav";
	@import "tiles/user-content";
	@import "tiles/modal";
	@import "tiles/search";
}