a {
    color: inherit;
}

@font-face {
    font-family: 'AvertaLight';
    src: url('/fonts/averta-light-webfont.woff2') format('woff2'),
     url('/fonts/averta-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'AvertaLightItalic';
    src: url('/fonts/averta-lightitalic-webfont.woff2') format('woff2'),
         url('/fonts/averta-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvertaRegular';
    src: url('/fonts/averta-regular-webfont.woff2') format('woff2'),
         url('/fonts/averta-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvertaRegular';
    src: url('/fonts/averta-bold-webfont.woff2') format('woff2'),
         url('/fonts/averta-bold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'AvertaRegular';
    src: url('/fonts/averta-regularitalic-webfont.woff2') format('woff2'),
         url('/fonts/averta-regularitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'AvertaRegular';
    src: url('/fonts/averta-semibold-webfont.woff2') format('woff2'),
         url('/fonts/averta-semibold-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'AvertaRegular';
    src: url('/fonts/averta-black-webfont.woff2') format('woff2'),
         url('/fonts/averta-black-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'AvertaThin';
    src: url('/fonts/averta-extrathin-webfont.woff2') format('woff2'),
         url('/fonts/averta-extrathin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-averta: 'AvertaRegular', 'Helvetica', 'Sans-serif';
@font-averta-light: 'AvertaLight', 'Helvetica', 'Sans-serif';
@font-averta-thin: 'AvertaThin', 'Helvetica', 'Sans-serif';