.user-profile {
  height: 120px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  
  .profile-picture {
    width: 120px;
    float: left;
    margin-right: 15px;
  }
  
  .profile-name {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    
    h1 {  
      @media (max-width: @screen-xs-max) {
        font-size: 1.3em;
      }
    }
    
    h2 {
      @media (max-width: @screen-xs-max) {
        font-size: 1.1em;
      }
    }
  }
}

.profile-picture-edit {
  width: 120px;
}

.user-profile-stats {
  font-size: 1.3em;
}

.user-profile-stats-table {
  td:first-of-type {
    width: 135px;
  }
}

.following-users {
  text-align: center;

  img {
    margin-top: 15px;
  }
}