.user-activity {
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  padding: 15px;
  margin-bottom: 15px;
  min-height: 75px;
  color: white;
  
  h1 {
    color: white;
    font-weight: 400;
    font-size: 1.3em;
    text-transform: uppercase;
    margin-bottom: 0px;
  }
  
  h2 {
    font-size: 1.3em;
    text-transform: uppercase;
  }
  
  &&--purple {
    background: @gymfit-purple;
  }
  
  &&--orange {
    background: @gymfit-orange;
    
    .white-pill {
      color:  @gymfit-orange;
    }
  }
  
  &&--green {
    background: @gymfit-green;
    
    .white-pill {
      color:  @gymfit-green;
    }
  }
  
  &&--black {
    background: @gymfit-black;
    
    .white-pill {
      color:  @gymfit-black;
    }
  }
  
  .btn-info {
    color: white !important;
    border-color: white !important;
  }
  
  
  .activity-rankings {
    table {
      margin-bottom: 0px;
    }
    
    td {
      border-top: 0px;
    }
    
    .fa-chevron-up, .fa-chevron-down, .fa-minus {
      color: white;
    }
    
    p {
      font-size: 2em;
      margin: 0px;
    }
    
    small {
      font-weight: 400;
      font-size: 0.4em;
    }
    
    small:before {
      content: ' / ';
    }
  }
  
  &&:last-of-type {
    margin-bottom: 0px;
  }
  
  @media (min-width: @screen-xs-max) {
    .nominate-button {
      margin-top: 15px;
    }
  }
}