// @gymfit-purple: rgb(110, 45, 145);
@gymfit-purple: rgb(104, 54, 129);
@gymfit-deep-purple: rgb(103, 55, 126);
@gymfit-orange: rgb(245, 120, 0);
@gymfit-green: rgb(115, 200, 70);
@gymfit-cyan: rgb(0, 174, 239);
@gymfit-magenta: rgb(235, 0, 140);
@gymfit-yellow: rgb(245, 245, 0);
@gymfit-black: rgb(0, 0, 0);
@gymfit-gray: #f0f0f0;
@gymfit-dark-gray: #e1e1e1;
@gymfit-page-background: @gymfit-gray;
@gymfit-very-dark-gray: #888;

@twitter-brand: rgb(85,172,238);
@facebook-brand: rgb(59,89,152);

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url('/fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'), url('/fonts/Montserrat-Bold.ttf') format('truetype');
}

@navbar-height: 61px;
@navbar-default-bg: white;
@navbar-default-toggle-border-color: transparent;
@navbar-default-toggle-icon-bar-bg: @gymfit-purple;
@navbar-default-toggle-hover-bg: white;
@navbar-default-link-color: @gymfit-purple;
@navbar-default-link-hover-color: @gymfit-purple;

@brand-primary: @gymfit-purple;

@btn-primary-border: @gymfit-purple;
@btn-primary-color: @gymfit-purple;
@btn-primary-bg: transparent;

@btn-default-border: @gymfit-orange;
@btn-default-color: @gymfit-orange;
@btn-default-bg: transparent;


@btn-info-border: @gymfit-cyan;
@btn-info-color: @gymfit-cyan;
@btn-info-bg: transparent;

@btn-warning-border: @gymfit-orange;
@btn-warning-color: @gymfit-orange;
@btn-warning-bg: transparent;

@font-family-base: 'Montserrat';
@headings-font-family: 'Montserrat';
@headings-color: @gymfit-purple;
@font-size-base: 14px;

@state-success-bg: @gymfit-green;
@state-success-border: @gymfit-green;
@state-success-text: @gymfit-green;
@state-info-bg: @gymfit-cyan;
@state-info-border: @gymfit-cyan;
@state-info-text: @gymfit-cyan;
@state-warning-bg: @gymfit-orange;
@state-warning-border: @gymfit-orange;
@state-warning-text: @gymfit-orange;
@state-danger-bg: @gymfit-magenta;
@state-danger-border: @gymfit-magenta;
@state-danger-text: @gymfit-magenta;

@input-border-radius: 0;
