extends ../../layouts/fullscreen-hero-image-page
block content
  h1= string('Blog')
  
  each post, index in posts
    if index > 0
      .margin-top
  
    a(href=post.link)
      h2= post.name
    
    p= post.summary
    small.gray-text.margin-top= string('Published') + ' ' + post.published.fromNow()
    
  include ../../components/pagination
