extends ../../layouts/fullscreen-hero-image-page
block content
  h1= post.name
  
  .markdownContent!= post.bodyCopy
  small.gray-text.margin-top= string('Published') + ' ' + post.published.fromNow()
  
  include ../../components/disqus
