extends ../../layouts/standard-page

block metaBlock
  meta(property="og:title" content=update.title)
  meta(property="og:type" content="article")
  meta(property="og:url" content=update.link)
  meta(property="og:description" content=update.description)
  
  meta(name="twitter:site" content="@GymFit_UK")
  meta(name="twitter:url" content=update.link)
  meta(name="twitter:creator" content="@GymFit_UK")
  meta(name="twitter:title" content=update.title)
  meta(name="twitter:description" content=update.description)
  
  if update.videos.length > 0
    meta(property="og:image" content=update.videos[0].placeholderImageUrl)
    meta(property="og:video" content=update.videos[0].videoUrl)
    meta(property="og:video:width" content="480")
    meta(property="og:video:height" content="480")
    meta(property="og:video:type" content="video/mp4")
    meta(name="twitter:card" content="player")
    meta(name="twitter:image" content=update.videos[0].placeholderImageUrl)
    meta(name="twitter:player" content=update.embedLink)
    meta(name="twitter:player:width" content="480")
    meta(name="twitter:player:height" content="480")
    meta(name="twitter:player:stream" content=update.videos[0].videoUrl)
    meta(name="twitter:player:stream:content_type" content="video/mp4")
  
  else if update.images.length > 0
    meta(property="og:image" content=update.images[0] + '.png')
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:image" content=update.images[0] + '.png')
  
block content
  section
    h1= update.title
    
    .text-center
      if update.body
        .update-body= update.body
        
    .text-center(class= update.body ? 'margin-top' : '')
      each videoAttachment in update.videos
        .embed-responsive.embed-responsive-16by9
          video.video-js(controls autoplay poster=videoAttachment.placeholderImageUrl)
            source.evidence-src(src=videoAttachment.videoUrl type='video/mp4')
            p.vjs-no-js To view this video please enable JavaScript.
          
      each image in update.images
        a(href=image + '.png' target='_blank')
          img.img-thumbnail.img-responsive(src=image + '-sm.png')
          
    p
      .small.gray-text= update.created.fromNow()
    
    .btn-toolbar.notification-buttons.notification-buttons--large
      if loggedInUser
        button.btn.btn-like.pull-left.margin-top(type='button' title=string('Like') class=update.userLikes ? 'btn-liked' : '' data-update-id=update.id)
          i.fa.fa-thumbs-up
          span.likes.always-visible(data-update-id=update.id)= update.likes
      
      a.btn.btn-primary.window-popup.pull-left.margin-top(href='https://twitter.com/intent/tweet?url=' + update.link + '&text=' + update.title + ' ' + update.description, target='_blank')
        i.fa.fa-twitter
        span  
        span= string('Share')
      
      a.btn.btn-primary.window-popup.pull-left.margin-top(href='https://www.facebook.com/sharer/sharer.php?sdk=joey&u=' + update.link, target='_blank')
        i.fa.fa-facebook
        span  
        span= string('Share')
      
      if loggedInUser
        .dropdown.pull-right.margin-top
          button.btn.btn-default.dropdown-toggle(type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true")
             i.fa.fa-ellipsis-h
    
          ul.dropdown-menu(aria-labelledby="dropdownMenu1")
            if update.userId === loggedInUser.id
              li
                a.btn-delete(href="#" data-update-id=update.id)= string('Delete')
              
            li
              a.btn-flag(href="#" data-update-id=update.id)= string('Flag_As_Not_Appropriate')