doctype html
html(lang= language)
  body

  style video { width:100%; max-width:600px; height:480px; }

  if update.videos.length > 0
    video(width="100%" controls)
      source(src=update.videos[0].videoUrl type="video/mp4")