extends ../../layouts/page
block content
  include ../../components/saved-item-alert

  .panel.panel-default
    .panel-body 

      h2(class='page-heading') Featured

      if featured && featured.users && featured.users.length > 0
        include ../../components/user-featured-table
      else
        p= string('No_Data')

      a.btn.btn-primary(href='/user/featured/new/')
        i.fa.fa-plus
        span  
        span= string('New')

  if users && users.users.length > 0
    include ../../components/user-table
  else
    p= string('No_Data')
