extends ../../layouts/fullscreen-hero-image-page
block content
  h1= string('Register_Finally')
  
  include ../../components/validation-error-alert

  form(method='post')
    .form-group(class = getFieldValidationClass('MobileNumber'))
      label.control-label(for='MobileNumber')= string('Mobile_Number')
      input.form-control(type='tel', id='MobileNumber', name='MobileNumber', value=mobileNumber, autofocus)
    
    .form-group(class = getFieldValidationClass('Routine'))
      label.control-label(for='Routine')= string('Routine')
      select.form-control(id='Routine', name='Routine')
        if routine === undefined
          option(value = -1, disabled, selected)= string('Select')
        each routineTypeIterator, index in routineTypes
          option(value = routineTypeIterator.id, selected = (index + 1 == routine ? true : false))= string(routineTypeIterator.name.replace(/ /g, '_'))

    .form-group(class = getFieldValidationClass('Gym'))
      label.control-label(for='Gym')= string('Gym')
      input.form-control(type='text', id='Gym', name='Gym', value=gym)

    .form-group
      .checkbox
        label
          input(type='checkbox', name='IsPersonalTrainer', checked=isPersonalTrainer)
          strong= string('I_Am_A_Personal_Trainer')

    .btn-toolbar.text-center
      button.btn.btn-lg.btn-primary(type='submit')= string('Finish')
      button.btn.btn-lg.btn-default(type='submit', name='SkipButton', value='skip')= string('Skip')
