extends ../../layouts/fullscreen-hero-image-page
block content
  h1= string('Register_About_You')
  
  include ../../components/validation-error-alert
  
  form(method='post')
    .row
      .col-sm-6
        .form-group.required(class = getFieldValidationClass('FirstName'))
          label.control-label(for='FirstName')= string('First_Name')
          input.form-control(type='text', id='FirstName', name='FirstName', value=firstName, autofocus= !error)
      
      .col-sm-6
        .form-group.required(class = getFieldValidationClass('LastName'))
          label.control-label(for='LastName')= string('Last_Name')
          input.form-control(type='text', id='LastName', name='LastName', value=lastName, autofocus= !error)
      
    .form-group.required(class = getFieldValidationClass('Username'))
      label.control-label(for='Username')= string('Username')
      input.form-control(type='text', id='Username', name='Username', value=username, autofocus= !error, aria-describedby='UsernameHelpBlock')
      span.help-block(id='UsernameHelpBlock')= string('Username_Help')
      
    .form-group.required(class = getFieldValidationClass('Region'))
      label.control-label(for='Region')= string('Region')
      select.form-control(id='Region', name='Region')
        unless regionId
          option(value = -1, disabled, selected)= string('Select')
        each region in regions
          option(value= region.id, selected = region.id === parseInt(regionId))= region.name
      span.help-block(id='RegionHelpBlock')= string('Region_Help')
    
    .row
      .col-xs-6
        .form-group.required.no-form-group-bottom-margin(class = getFieldValidationClass('YearOfBirth'))
          label.control-label(for='YearOfBirth')= string('Year_Of_Birth')
          select.form-control(id='YearOfBirth', name='YearOfBirth', value=yearOfBirth, aria-describedby='DateOfBirthHelpBlock')
            unless yearOfBirth
              option(value = -1, disabled, selected)= string('Select')
              
            - for (var yearValue = 2000; yearValue >= 1900; yearValue--)
              option(value = yearValue, selected = yearValue === parseInt(yearOfBirth))= yearValue
          
      .col-xs-6
        .form-group.required.no-form-group-bottom-margin(class = getFieldValidationClass('MonthOfBirth'))  
          label.control-label(for='MonthOfBirth')= string('Month_Of_Birth')
          select.form-control(id='MonthOfBirth', name='MonthOfBirth', aria-describedby='DateOfBirthHelpBlock')
            unless monthOfBirth
              option(value = -1, disabled, selected)= string('Select')
            - var months = [ 'January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December' ];
            each month, index in months
              option(value = index, selected = index === parseInt(monthOfBirth))= string(month)
    
    .form-group(class = getFieldValidationClass('YearOfBirth'))
      span.help-block(id='DateOfBirthHelpBlock')= string('Date_Of_Birth_Requirement_Explanation')
    
    .text-center
      button.btn.btn-lg.btn-primary(type='submit')= string('Next')
