extends ../../layouts/fullscreen-hero-image-page
block content
  h1= string('Register_Your_Measurements')
  
  if flashWelcomeMessage
    .margin-bottom
      .alert.alert-success(role='alert')
        strong= string('Welcome_To_GymFit')
        p= string('You_Are_Now_A_Member')
  
  p= string('Leaderboard_Measurements_Explanation')
  
  include ../../components/validation-error-alert

  form(method='post')
    .form-group(class = getFieldValidationClass('District'))
      label.control-label(for='District')= string('District')
      #prefetch-registration-district
        input.form-control.typeahead(type='text', id='District', name='District', value=district, autofocus, placeholder=string('Registration_District_Placeholder'))
      
    .form-group(class = getFieldValidationClass('Gender'))
      label.control-label(for='Gender')= string('Gender')
      select.form-control(id='Gender', name='Gender')
        if gender === undefined
          option(value = -1, disabled, selected)= string('Select')
        option(value = 'male', selected = (gender == 'male'))= string('Male')
        option(value = 'female', selected = (gender == 'female'))= string('Female')
    
    .row(class = getFieldValidationClass('Height'))
      .col-sm-4
        .form-group
          label.control-label(for='HeightCm')= string('Height_Cm_Measurement')
          input.form-control(type='text', id='HeightCm', name='HeightCm', value=heightCm)
      .col-sm-4
        .form-group
          label.control-label(for='HeightFeet')= string('Or_Feet_Measurement')
          input.form-control(type='number', pattern='[0-9]*', id='HeightFeet', name='HeightFeet', value=heightFeet)
      .col-sm-4
        .form-group
          label.control-label(for='HeightInches')= string('And_Inches_Measurement')
          input.form-control(type='text', id='HeightInches', name='HeightInches', value=heightInches)
    
    .row(class = getFieldValidationClass('Weight'))
      .col-sm-4
        .form-group
          label.control-label(for='WeightKg')= string('Weight_Kg_Measurement')
          input.form-control(type='text', id='WeightKg', name='WeightKg', value=weightKg)
      .col-sm-4
        .form-group
          label.control-label(for='WeightLbs')= string('Or_Lbs_Measurement')
          input.form-control(type='number', pattern='[0-9]*', id='WeightLbs', name='WeightLbs', value=weightLbs)
      .col-sm-4
        .form-group
          label.control-label(for='WeightLbs')= string('And_Oz_Measurement')
          input.form-control(type='text', id='WeightOz', name='WeightOz', value=weightOz)
    
    .btn-toolbar.text-center
      button.btn.btn-lg.btn-primary(type='submit')= string('Next')
      button.btn.btn-lg.btn-default(type='submit', name='SkipButton', value='skip')= string('Skip')
