extends ../../layouts/fullscreen-hero-image-page
block content
  h1= string('Sign_Up')
  
  form(method='post')
    .register-sign-up.legal-wording
      .row
        .col-sm-12
          p We would like to contact you by email, text message or with a personalised online message with information and offers of products and services (including those of our <a href="/gb/partners/" target="_blank">GymFit Partners</a>) that we believe may interest you. <b>If you <u>do not want to receive information and offers</u> please tick the relevant boxes</b> (if you do not tick the boxes you will be consenting to receive information and offers as described. You can change your mind at any time):
      
      .row.margin-top
        include ../../components/user-privacy-preferences

      .row
        .col-sm-12
          ul.margin-top
            li I am over 16 years old
            li I have read and agree to the <a href="/gb/terms-and-conditions/" target="_blank">GymFit Terms and Conditions</a>
            li I have read and agree to my personal information being used as described in the <a href="/gb/privacy-policy/" target="_blank">GymFit Privacy Policy</a> and have selected my preferences
    
      .row
        .col-sm-12.text-center
          button.btn.btn-lg.btn-primary(type='submit')= string('Join')
