extends ../../layouts/fullscreen-hero-image-page
block content
  h1= string('Register')
  
  include ../../components/uk-registration-data-protection  
  include ../../components/validation-error-alert
  
  form(method='post')
    .form-group.required(class = getFieldValidationClass('EmailAddress'))
      label.control-label(for='Email')= string('Email_Address')
      input.form-control(type='email', id='Email', name='Email', value=email, autofocus= !error)
      
    .form-group.required(class = getFieldValidationClass('Password'))
      label.control-label(for='Password')= string('Password')
      input.form-control(type='password', id='Password', name='Password', aria-describedby='PasswordHelpBlock')
      span.help-block(id='PasswordHelpBlock')= string('Password_Help')
    
    .text-center
      button.btn.btn-lg.btn-primary(type='submit')= string('Next')
