extends ../../layouts/page
block content
  include ../../components/saved-item-alert
  
  if pages.length > 0
    include ../../components/pages-table
  else
    p= string('No_Data')
  
  a.btn.btn-primary(href='/page/new/')
    i.fa.fa-plus
    span  
    span= string('New')
