extends ../../layouts/fullscreen-hero-image-page
block content
  h1= string('Update_Privacy_Preferences')
  
  form(method='post')
    .register-sign-up.legal-wording
      .row
        .col-sm-12
          p We would like to contact you by email, text message or with a personalised online message with information and offers of products and services (including those of our <a href="/gb/partners/" target="_blank">GymFit Partners</a>) that we believe may interest you. <b>If you <u>do not want to receive information and offers</u> please tick the relevant boxes</b> (if you do not tick the boxes you will be consenting to receive information and offers as described. You can change your mind at any time):
      
      .row.margin-top
        include ../../components/user-privacy-preferences

      .row
        .col-sm-12
          .btn-toolbar.text-center
            button.btn.btn-primary.btn-lg(type="submit")= string('Update')
            a.btn.btn-default.btn-lg(href="../")= string('Back')
