extends ../../layouts/fullscreen-hero-image-page
block content
  h1= string('Update_Routine')
  
  include ../../components/validation-error-alert

  form(method='post')
    .row
      .col-sm-12
        .form-group.required(class = getFieldValidationClass('Routine'))
          label.control-label(for='Routine')= string('Routine')
          select.form-control(id='Routine', name='Routine')
            if !user.routineType
              option(value = -1, disabled, selected)= string('Select')
            each routineType, index in routineTypes
              option(value = routineType.id, selected = routineType.selected)= routineType.name
    
    .row
      .col-sm-12
        .btn-toolbar.text-center
          button.btn.btn-primary.btn-lg(type="submit")= string('Update')
          a.btn.btn-default.btn-lg(href="../")= string('Back')