extends ../../layouts/fullscreen-hero-image-page
block content
  h1= string('Update_Height')
  
  include ../../components/validation-error-alert

  form(method='post')
    .row(class = getFieldValidationClass('Height'))
      .col-sm-4
        .form-group
          label.control-label(for='HeightCm')= string('Height_Cm_Measurement')
          input.form-control(type='text', id='HeightCm', name='HeightCm', value=heightCm)
      .col-sm-4
        .form-group
          label.control-label(for='HeightFeet')= string('Or_Feet_Measurement')
          input.form-control(type='number', pattern='[0-9]*', id='HeightFeet', name='HeightFeet', value=heightFeet)
      .col-sm-4
        .form-group
          label.control-label(for='HeightInches')= string('And_Inches_Measurement')
          input.form-control(type='text', id='HeightInches', name='HeightInches', value=heightInches)
          
    .row
      .col-sm-12
        .btn-toolbar.text-center
          button.btn.btn-primary.btn-lg(type="submit")= string('Update')
          a.btn.btn-default.btn-lg(href="../")= string('Back')