extends ../../layouts/fullscreen-hero-image-page
block content
  h1= string('Update_Weight')
  
  include ../../components/validation-error-alert

  form(method='post')
    .row(class = getFieldValidationClass('Weight'))
      .col-sm-4
        .form-group
          label.control-label(for='WeightKg')= string('Weight_Kg_Measurement')
          input.form-control(type='text', id='WeightKg', name='WeightKg', value=weightKg)
      .col-sm-4
        .form-group
          label.control-label(for='WeightLbs')= string('Or_Lbs_Measurement')
          input.form-control(type='number', pattern='[0-9]*', id='WeightLbs', name='WeightLbs', value=weightLbs)
      .col-sm-4
        .form-group
          label.control-label(for='WeightLbs')= string('And_Oz_Measurement')
          input.form-control(type='text', id='WeightOz', name='WeightOz', value=weightOz)
          
    .row
      .col-sm-12
        .btn-toolbar.text-center
          button.btn.btn-primary.btn-lg(type="submit")= string('Update')
          a.btn.btn-default.btn-lg(href="../")= string('Back')