extends ../../layouts/fullscreen-hero-image-page
block content
  h1= string('Update_Notification_Preferences')
  
  include ../../components/validation-error-alert

  form(method='post')
    p= string('Notifications_By_Email')
    
    .checkbox
      label
        input(type='checkbox', name='Ranking' checked = ranking)
        = string('Ranking_Updates')
        
    .checkbox
      label
        input(type='checkbox', name='Progress' checked = progress)
        = string('Progress_Updates')
        
    .checkbox
      label
        input(type='checkbox', name='Nomination' checked = nomination)
        = string('Nominations')
        
    .checkbox
      label
        input(type='checkbox', name='News' checked = news)
        = string('News')
        
    .checkbox
      label
        input(type='checkbox', name='Promotion' checked = promotion)
        = string('Promotions')
    
    .row
      .col-sm-12
        .btn-toolbar.text-center
          button.btn.btn-primary.btn-lg(type="submit")= string('Update')
          a.btn.btn-default.btn-lg(href="../")= string('Back')