extends ../../layouts/fullscreen-hero-image-page
block content
  h1= string('Update_Location')
  
  include ../../components/validation-error-alert

  form(method='post')
    .row
      .col-md-6
        .form-group.required(class = getFieldValidationClass('Region'))
          label.control-label(for='Region')= string('Region')
          select.form-control(id='Region', name='Region')
            if !user.location.regionName
              option(value = -1, disabled, selected)= string('Select')
            each region in regions
              option(value= region.id, selected = region.selected)= region.name

      .col-md-6
        .form-group.required(class = getFieldValidationClass('District'))
          label.control-label(for='District')= string('District')
          #prefetch-edit-district
            input.form-control.typeahead(type='text', id='District', name='District', value=district, autofocus, placeholder=string('Registration_District_Placeholder'))
    
    .row
      .col-sm-12
        .btn-toolbar.text-center
          button.btn.btn-primary.btn-lg(type="submit")= string('Update')
          a.btn.btn-default.btn-lg(href="../")= string('Back')