extends ../../layouts/fullscreen-hero-image-page
block content
  h1= string('Update_Profile')
  
  .row
    .col-md-7
      include ../../components/edit-user-details-table
      
    .col-md-5.margin-bottom
      include ../../components/validation-error-alert
      #successfulAvatarUploadAlert.collapse
        strong= string('Profile_Picture')
        .alert.alert-success
          strong= string('Looking_Good')
          p= string('Avatar_Upload_Success')

      form#avatar-uploader(method='post', enctype='multipart/form-data')
        .form-group(class = getFieldValidationClass('Avatar'))
          label.control-label(for='Avatar')= string('Profile_Picture')
          
          .text-center
            img.img-circle.profile-picture-edit.lazyload(data-srcset=user.avatar + ' 1x, ' + user.avatarRetina + ' 2x', alt=user.username, title=user.username, src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
          
          #uploadProgressContainer.collapse
            span= ' ' + string('Uploading')
            .progress
              .progress-bar.progress-bar-success.active.progress-bar-striped(role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100")
                span
                span.collapse= string('Processing')
                
          input.form-control.margin-top(type='file', id='Avatar', name='Avatar', aria-describedby='AvatarUploadHelpBlock')
          span.help-block(id='AvatarUploadHelpBlock')= string('Avatar_Upload_Help')
          
        button.btn.btn-info(type='submit')= string('Upload')
  
  .row
    .col-sm-12.text-center
      a.btn.btn-primary.btn-lg(href="../")= string('Done')