extends ../../layouts/fullscreen-hero-image-page
block content
  h1= string('Update_Gym')
  
  include ../../components/validation-error-alert

  form(method='post')
    .row
      .col-sm-12
        .form-group(class = getFieldValidationClass('Gym'))
          label.control-label(for='Gym')= string('Gym')
          input.form-control(type='text', id='Gym', name='Gym', value=user.gym)

    .row
      .col-sm-12
        .btn-toolbar.text-center
          button.btn.btn-primary.btn-lg(type="submit")= string('Update')
          a.btn.btn-default.btn-lg(href="../")= string('Back')