extends ../../layouts/page-user-profile
block user-content
  if user.isGym || user.isPersonalTrainer
    if loggedInUser
      if loggedInUser.id !== user.id
        include ../../components/write-review
    include ../../components/user-reviews
    if user.reviews.count > user.reviews.perPage
      .object.view-more
        a(href="reviews/page/2/") See all their reviews
  else
    include ../../components/social-feed-panel