extends ../../layouts/page-user-profile

block user-content
  form(method="post" action="")
    input(type="hidden" name="userId" value=user.id)
    .object.choose-rating
      h2.heading Choose your rating out of five
      .rating
        ul
          li
            .star(class=(rating > 1 ? "active" : ""))
              input(type="radio" name="rating" value="1" id="rating1" checked=(rating==="1" ? "checked" :   undefined))
              label(for="rating1")
          li
            .star(class=(rating > 2 ? "active" : ""))
              input(type="radio" name="rating" value="2" id="rating2" checked=(rating==="2" ? "checked" :   undefined))
              label(for="rating2")
          li
            .star(class=(rating > 3 ? "active" : ""))
              input(type="radio" name="rating" value="3" id="rating3" checked=(rating==="3" ? "checked" :   undefined))
              label(for="rating3")
          li
            .star(class=(rating > 4 ? "active" : ""))
              input(type="radio" name="rating" value="4" id="rating4" checked=(rating==="4" ? "checked" :   undefined))
              label(for="rating4")
          li
            .star
              input(type="radio" name="rating" value="5" id="rating5" checked=(rating==="5" ? "checked" :   undefined))
              label(for="rating5")
  
    .object.write-review-form
        h2.heading Write your review
        include ../../components/validation-error-alert
        input(type="text" name="title" placeholder="Give your review a title")
        textarea(name="review" placeholder="Your review ...")
        .object.btn-style-one
          button(type="submit") Post my review


block sidebar
  .object.tips
    h3.heading Tips for leaving helpful reviews
    p Mauris gravida fringilla volutpat. Nam tristique lacus ac sem aliquet placerat. 
    ul
      li Mauris malesuada arcu nibh, non maximus odio viverra tempor. 
      li Mauris malesuada arcu nibh, non maximus odio viverra tempor. 
      li Mauris malesuada arcu nibh, non maximus odio viverra tempor. 
      li Mauris malesuada arcu nibh, non maximus odio viverra tempor. 

