extends ../../layouts/page-user-profile
block above-user-content
  .container.above
    .object.rating-bar
      include ../../components/user-star-rating
      .rating= user.reviews.rating + " / 5.0"
      .reviews= user.reviews.count + " Reviews"
block user-content
  include ../../components/user-reviews
  if user.reviews.pages > 1
  .object.page-left-right
    if page > 1
      .object.btn-style-one.outline.purple
        a(href="/user/" + user.username + "/reviews/page/" + (page - 1) + "/") &larr; Newer reviews
    if page < user.reviews.pages
      .object.btn-style-one.outline.purple.right
        a(href="/user/" + user.username + "/reviews/page/" + (page + 1) + "/") Older reviews &rarr;


block sidebar-top
  if !loggedInUser
    include ../../components/write-review
