extends ../../layouts/page
block content    
  include ../../components/saved-item-alert

  if advertisements.length > 0
    include ../../components/advertisements-table
  else
    p= string('No_Data')

  a.btn.btn-primary(href='/advertisement/new/')
    i.fa.fa-plus
    span  
    span= string('New')
