extends ../../layouts/page-base-no-nav
block content

  .tile.auth 
    .container

      .logo
        a.object.logo.dark(href="/")
    
      p.intro Welcome back to GymFit, let’s go! <br />Not a member yet? #[a.object.inline-link(href="#") Create an account]
      
      .form
        if loginReasonTitle
          .object.alert.alert-warning(role='alert')
            strong= string(loginReasonTitle)
            p= string(loginReasonMessage)
      
        include ../../components/validation-error-alert
        
        form(method='post' action='/login/')
          if redirectOnSuccess
            input(type="hidden" name="RedirectOnSuccess", value= redirectOnSuccess)
        
          ul.fields
            li
              .form-group.required(class = getFieldValidationClass('EmailOrUsername'))
                .object.field
                  label(for="EmailOrUsername")
                    .icon
                      .wrapper
                        img(src="/field-icon-person.png", srcset="/field-icon-person.png 1x, field-icon-person@2x.png 2x")
                  input.form-control(type='text', id='EmailOrUsername', name='EmailOrUsername',   placeholder= string('Email_Or_Username'), value= emailOrUsername, autofocus= !error)
            li
              .form-group.required(class = getFieldValidationClass('Password'))
                .object.field
                  label(for="Password")
                    .icon
                      .wrapper
                        img(src="/field-icon-eye.png", srcset="/field-icon-eye.png 1x, field-icon-eye@2x.png 2x")
                  input.form-control(type='password', id='Password', name='Password', placeholder=   string('Password'), autofocus= !error)
            li 
              .form-group
                .object.checkbox
                  .input-container
                    input(type="checkbox", id="KeepLoggedIn", value="1")
                    .mark
                  label(for="KeepLoggedIn") Keep me logged in for 2 weeks on this device
            li.submit 
              .object.btn-style-three
                button(type='submit')= string('Login')
            li.cta
              p
                a(href='/reset-password/') Forgotten your password?

    .background-image

  .tile.footer.large-wave
