extends ../../layouts/page-base-no-nav
block content

  .tile.auth 
    .container

      .logo
        a.object.logo.dark(href="/")
    
      p.intro Enter your email address and choose a new password for your account.
      
      .form

        include ../../components/validation-error-alert
        
        form(method='post')
          ul.fields
            li
              .form-group.required(class = getFieldValidationClass('EmailAddress'))
                .object.field
                  label(for="EmailAddress")
                    .icon
                      .wrapper
                        img(src="/field-icon-person.png", srcset="/field-icon-person.png 1x, field-icon-person@2x.png 2x")
                  input.form-control(type='text', id='EmailAddress', name='EmailAddress',   placeholder= string('Email_Address'), value= email, autofocus= !error)
            li
              .form-group.required(class = getFieldValidationClass('NewPassword'))
                .object.field
                  label(for="NewPassword")
                    .icon
                      .wrapper
                        img(src="/field-icon-eye.png", srcset="/field-icon-eye.png 1x, field-icon-eye@2x.png 2x")
                  input.form-control(type='password', id='NewPassword', name='NewPassword',   placeholder= string('New_Password'), autofocus= !error)
            li.submit 
              .object.btn-style-three
                button(type='submit')= string('Reset')


    .background-image

  .tile.footer.large-wave
