extends ../../layouts/page-base-no-nav
block content

  .tile.auth 
    .container

      .logo
        a.object.logo.dark(href="/")
    
      p.intro Forgotten your password? No problem! <br />Just enter the email address associated with your account below.
      
      .form

        include ../../components/validation-error-alert
        
        form(method='post')
          if redirectOnSuccess
            input(type="hidden" name="RedirectOnSuccess", value= redirectOnSuccess)
        
          ul.fields
            li
              .form-group.required(class = getFieldValidationClass('EmailAddress'))
                .object.field
                  label(for="EmailAddress")
                    .icon
                      .wrapper
                        img(src="/field-icon-person.png", srcset="/field-icon-person.png 1x, field-icon-person@2x.png 2x")
                  input.form-control(type='text', id='EmailAddress', name='EmailAddress',   placeholder= string('Email_Address'), value= emailAddress, autofocus= !error)
            li.submit 
              .object.btn-style-three
                button(type='submit')= string('Reset')
            li.cta
              p
                a(href='/login/') &larr; Back to Login


    .background-image

  .tile.footer.large-wave
    
