extends ../../layouts/page-base-no-nav
block content

  .tile.auth 
    .container

      .logo
        a.object.logo.dark(href="/")
    
      p.intro= string('Password_Reset_Email_Sent')
      
      .form
        
        form(method='post')
          ul.fields
            li.cta.align-left
              p
                a(href='/login/') &larr; Back to Login


    .background-image

  .tile.footer.large-wave
    
