extends ../../layouts/page
block content
  -
    var required = 0;
    var count = 0
    for (var coverageIndex = 0; coverageIndex < coverage.length; coverageIndex++) {
      for (var resultIndex = 0; resultIndex < coverage[coverageIndex].results.length; resultIndex++) {
        required++;
        var thisCount = coverage[coverageIndex].results[resultIndex].count;
        count += thisCount > 5 ? 5 : thisCount;
      }
    }
    
  .well #{count} result submissions from different users out of a required #{required * 5} (#{((count / (required * 5)) *100).toFixed(2)}%) for at least 5 results per challenge per group per district.

  .table-responsive
    table.table.table-bordered
      thead
        tr
          th Challenge
          each result in coverage[0].results
            th= result.name
      tbody
        each line in coverage
          tr
            td #{line.challenge} (#{line.challengeGroup})
            each result in line.results
              td(class= result.count < 5 ? 'danger' : 'success')= result.count
          
    
