extends ../../layouts/page
block content

  .row
    .col-sm-12
      h1 Stats
      p Total users:
        span &nbsp;
        b= charityData.totalRegistrations
        span , Total results: &nbsp;
        b= charityData.totalResults
      h1 Charity Donations
      p Registrations between 31-Jan-2016 00:00:00 and 21-Mar-2016 00:00:00:
        span &nbsp;
        b= charityData.registrations
      p Result submissions between 31-Jan-2016 00:00:00 and 21-Mar-2016 00:00:00:
        span &nbsp;
        b= charityData.results

  .row
    .col-sm-12
      h1= string('Graph_Info')
      include ../../components/dashboard-graph

  .row
    .col-sm-12
      h1= string('Latest_Results')
      
      if latestResults && latestResults.length > 0
        include ../../components/latest-result-table
      else
        p= string('No_Data')