extends ../../layouts/page
block content    
  include ../../components/saved-item-alert
  
  if posts.length > 0
    include ../../components/blog-post-table
  else
    p= string('No_Data')
  
  a.btn.btn-primary(href='/blog-posts/new/')
    i.fa.fa-plus
    span  
    span= string('New')
