extends ../../layouts/page
block content    
  include ../../components/saved-item-alert
  
  if emails.length > 0
    include ../../components/email-table
  else
    p= string('No_Data')
  
  a.btn.btn-primary(href='/email/new/')
    i.fa.fa-plus
    span  
    span= string('New')
