extends ../../layouts/page
block content
  include ../../components/saved-item-alert
  
  if regions && regions.length > 0
    include ../../components/region-table
  else
    p= string('No_Data')
  
  a.btn.btn-primary(href='/region/new/')
    i.fa.fa-plus
    span  
    span= string('New')
