extends ../../layouts/standard-page
block content
  section
    -
      var colours = {
        Strength: 'purple',
        Cardio: 'orange',
        Multi: 'green'
      };
    
    if userNominatedSuccess
      .margin-bottom
        .alert.alert-success(role='alert')
          strong= string('Success')
          p= string('You_have_Nominated') + userNominatedSuccess + '.'
    
    h1.pill(class= colours[challenge.category] + '-pill--big-with-icon')= challenge.name
  
    h2= string('Nominate_People_To_Compete_In_Challenge')
    
    include ../../components/validation-error-alert
    
    form(method='post' action=searchLink class=getFieldValidationClass('Query'))
      .form-group
        label.control-label(for='UserQuery')= string('Search_Query_User')
        input.form-control(type='text' id='UserQuery' name='UserQuery' value=userQuery)
        
      .form-group(class=getFieldValidationClass('Location'))
        label.control-label(for='LocationQuery')= string('Location')
        
        #search-all-locations
          input.form-control.typeahead(type='text' id='LocationQuery' name='LocationQuery' value=locationQuery)
        
      .text-center
        button.btn.btn-lg.btn-primary(type='submit')= string('Search')
  
  if noResultsFound
    section
      h2.purple-pill= string('Results')
      
      if noResultsFound
        p= string('No_Results_Found')
  else if results
    include ../../components/nominate-search-results
  else if nominationSuggestions
    include ../../components/nominate-user-suggestions