extends ../../layouts/page
block content
  include ../../components/saved-item-alert

  if flaggedResults && flaggedResults.length > 0
    include ../../components/flagged-result-table
  else
    p= string('No_Data')
