extends ../../layouts/page-base

block metaBlock
  - var name = (loggedInUser && result.userId === loggedInUser.id) ? 'My ' : result.firstName + ' ' + result.lastName + '\'s ';
  - var title = name + result.challengeName + ' ' + string('Challenge') + ' ' + string('Result');
  - var description = (result.group ? result.group + ' ' + string('Group') + ': ' : '') + result.result;

  meta(property="og:title" content=title)
  meta(property="og:type" content="article")
  meta(property="og:url" content=result.link)
  meta(property="og:description" content=description)
  
  meta(name="twitter:site" content="@GymFit_UK")
  meta(name="twitter:url" content=result.link)
  meta(name="twitter:creator" content="@GymFit_UK")
  meta(name="twitter:title" content=title)
  meta(name="twitter:description" content=description)
  
  if result.imageValidated
    meta(property="og:image" content=result.evidence)
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:image" content=result.evidence)
  
  else if result.videoValidated
    meta(property="og:image" content=result.videoImage)
    meta(property="og:video" content=result.evidence)
    meta(property="og:video:width" content="480")
    meta(property="og:video:height" content="480")
    meta(property="og:video:type" content="video/mp4")
    meta(name="twitter:card" content="player")
    meta(name="twitter:image" content=result.videoImage)
    meta(name="twitter:player" content=result.embedLink)
    meta(name="twitter:player:width" content="480")
    meta(name="twitter:player:height" content="480")
    meta(name="twitter:player:stream" content=result.evidence)
    meta(name="twitter:player:stream:content_type" content="video/mp4")
  
block content
  section
    - var name = (loggedInUser && result.userId === loggedInUser.id) ? 'My ' : result.firstName + ' ' + result.lastName + '\'s ';
    - var title = name + result.challengeName + ' ' + string('Challenge') + ' ' + string('Result');
    - var description = (result.group ? result.group + ' ' + string('Group') + ': ' : '') + result.result;

    h1= title
    h2= description
    
    .text-center
      if result.evidence
        .margin-top
          if result.imageValidated
            img.img-thumbnail.img-responsive(src=result.evidence)
          
          else if result.videoValidated
            .embed-responsive.embed-responsive-16by9
              video.video-js(controls autoplay poster='/purple-logo.svg')
                source.evidence-src(src=result.evidence type='video/mp4')
                p.vjs-no-js To view this video please enable JavaScript.
                
    p
      .small.gray-text= result.submitted.fromNow()
    
    .btn-toolbar.notification-buttons.notification-buttons--large
      if loggedInUser
        button.btn.btn-like.pull-left.margin-top(type='button' title=string('Like') class=result.userLikes ? 'btn-liked' : '' data-update-id=result.updateId)
          i.fa.fa-thumbs-up
          span.likes.always-visible(data-update-id=result.updateId)= result.likes
      
      a.btn.btn-primary.window-popup.pull-left.margin-top(href='https://twitter.com/intent/tweet?url=' + result.link + '&text=' + title + ' ' + description, target='_blank')
        i.fa.fa-twitter
        span  
        span= string('Share')
      
      a.btn.btn-primary.window-popup.pull-left.margin-top(href='https://www.facebook.com/sharer/sharer.php?sdk=joey&u=' + result.link, target='_blank')
        i.fa.fa-facebook
        span  
        span= string('Share')
      
      if loggedInUser
        .dropdown.pull-right.margin-top
          button.btn.btn-default.dropdown-toggle(type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true")
             i.fa.fa-ellipsis-h
    
          ul.dropdown-menu(aria-labelledby="dropdownMenu1")
            if result.userId === loggedInUser.id
              li
                a.btn-delete(href="#" data-update-id=result.updateId)= string('Delete')
              
            li
              a.btn-flag(href="#" data-update-id=result.updateId)= string('Flag_As_Not_Appropriate')