extends ../../layouts/standard-page
block content
  section
    h1= string('Search_Personal_Trainer')
    
    include ../../components/validation-error-alert
    
    form(method='post' action='/gb/personal-trainers/' class=getFieldValidationClass('Query'))
      .form-group
        label.control-label(for='UserQuery')= string('Search_Query_Personal_Trainer')
        input.form-control(type='text' id='UserQuery' name='UserQuery' value=userQuery)
        
      .form-group(class=getFieldValidationClass('Location'))
        label.control-label(for='LocationQuery')= string('Location')
        
        #search-all-locations
          input.form-control.typeahead(type='text' id='LocationQuery' name='LocationQuery' value=locationQuery)
        
      .text-center
        button.btn.btn-lg.btn-primary(type='submit')= string('Search')
  
  if noResultsFound
    section
      h2.purple-pill= string('Results')
      
      if noResultsFound
        p= string('No_Results_Found')
  else if results
    include ../../components/search-results