extends ../../layouts/standard-page
block content
  section
    -
      var colours = {
        Strength: 'purple',
        Cardio: 'orange',
        Multi: 'green'
      };
    
    h1.pill(class= colours[challenge.category] + '-pill--big-with-icon')= challenge.name
    
    include ../../components/validation-error-alert
    
    form(method='post')
      if groups.length > 1
        .form-group.required(class = getFieldValidationClass('Group'))
          label.control-label(for='FilterGroup')= string('Group')
          select.form-control(id='FilterGroup' name='FilterGroup')
            unless group
              option(value = -1 disabled selected)= string('Select')
            each group in groups
              option(value=group.name selected=group.selected)= group.name
      
      .text-center
        button.btn.btn-lg.btn-info(type='submit')= string('View_Leaderboards')