extends ../../layouts/page-base
block content

  .tile.page-title
    .container
       h1.heading <strong>GymFit</strong> Leaderboards
       h2.sub-heading See how you and your friends are performing against the rest of the country

  .tile.anchor-tabs
    .container
      ul
        each category,index in categories
          - var selectedCategory = (index == 0) ? 'selected' : ''
          li
            a.anchor(href="#" + category[0].category, class=selectedCategory, anchor-offset=40)= category[0].category

  include ../../components/leaderboard-list

    