extends ../../layouts/standard-page
block content
  section
    if resultSubmitSuccessfulFlash
      include ../../components/result-submit-successful-alert
    
    include ../../components/leaderboard-table-filter
    
    if results
      include ../../components/leaderboard-result-image-dialog
      include ../../components/leaderboard-result-video-dialog
      include ../../components/leaderboard-table
      
      unless isLeaderboardRealtime
        .leaderboard-details.margin-top= string('Last_Updated') + ' ' + lastUpdated.fromNow() + ', ' + string('Next_Update') + ' ' + nextUpdate.fromNow() + '.'
      
      include ../../components/pagination
    else
      p= string('No_Leaderboard_results')
