extends ../../layouts/standard-page
block content
  section
    .leaderboard-placeholder
      .content
        h1= string('Leaderboard_Coming_Soon_Title')
        p= string('Leaderboard_Coming_Soon_Message')
        
        if loggedInUser
          b= string('Leaderboard_Coming_Soon_Notification_Message')
