extends ../../layouts/page-base
block content


  .tile.page-title.with-back-button
    .container
       a.back(href="/gb/challenges/") Back to challenges
       h1.heading= challenge.name

  .tile.challenge
    .container
      -
        var colours = {
          Strength: 'purple',
          Cardio: 'orange',
          Multi: 'green'
        };

      .object.content!= challenge.bodyCopy

      include ../../components/submit-result


