doctype html
<!--[if IE 9]><!-->   <html class="ie9 no-focus"> <!--<![endif]-->
<!--[if gt IE 9]><!--> <html class="no-focus"> <!--<![endif]-->
html.no-focus(lang= language)
  include includes/head

  body
    .sidebar-l.sidebar-o.side-scroll.header-navbar-fixed#page-container
      include includes/nav
      
      header.content-mini.content-mini-full#header-navbar
        if isLive
          ul.nav-header.pull-left
            li.production-warning LIVE
        
        ul.nav-header.pull-right
          li
            a.btn.btn-success(href="mailto:phil@wearehinge.com?subject=GymFit Admin Support", role="button") Get Support
          
          li
            a.btn.btn-danger(href="tel:+447805548322", role="button") Emergency Out of Hours Support

      main#main-container
        .content.bg-gray-lighter
          .row.items-push
            .col-sm-7
              h1.page-heading= string('Page_' + viewName)

        .content
          block content        
        
      include includes/footer