doctype html
<!--[if IE 9]>         <html class="ie9 no-focus"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-focus"> <!--<![endif]-->
html.no-focus(lang= language)
  include includes/head

  body
    #page-container
      main#main-container
        .content.bg-gray-lighter
          .row.items-push
            .col-sm-7
              h1.page-heading= string('Login')

        .content
          block content        
        
    script(src="/assets/js/oneui.min.js")
