head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name="description" content="GymFit Admin")
  meta(name="author" content="Hinge Ltd")
  meta(name="robots" content="noindex, nofollow")
  meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0")
  title= string('Admin')
  link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.7.1/css/flag-icon.min.css')
  link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700")
  link(rel="stylesheet" href="/assets/css/bootstrap.min.css")
  link(rel="stylesheet" href="/assets/js/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css")
  link(rel="stylesheet" href="/assets/js/plugins/bootstrap-select/css/bootstrap-select.min.css")
  link(rel="stylesheet" id="css-main", href="/assets/css/oneui.min.css")
  link(rel="stylesheet" id="css-main", href="/style.css")
  script(src="/assets/js/oneui.min.js")
  script(src="/assets/js/plugins/bootstrap-datetimepicker/moment.min.js")
  script(src="/assets/js/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js")
  script(src="/assets/js/plugins/bootstrap-select/js/bootstrap-select.min.js")