nav#sidebar
  -
    var isActive = function isActive(name) {
      return viewName.indexOf('pages/' + name) === 0 ? 'active' : '';
    }
  #sidebar-scroll
    .sidebar-content
      .side-header.side-content.bg-white-op
        button.btn.btn-link.text-gray.pull-right.hidden-md.hidden-lg(type="button" data-toggle="layout" data-action="sidebar_close")
          .i.fa.fa-times

        .btn-group.pull-right
          button.btn.btn-link.text-gray.dropdown-toggle(data-toggle="dropdown" type="button")
            span.flag-icon.flag-icon-gb

          ul.dropdown-menu.dropdown-menu-right.font-s13
            li
              a(href="/")
                span.flag-icon.flag-icon-gb.pull-right
                span.font-w600= string('UK')
            li
              a(href="/")
                span.flag-icon.flag-icon-fr.pull-right
                span.font-w600= string('France')

        a.h5.text-white(href="/")
          span.h4.font-w600 GymFit Admin

      .side-content
        ul.nav-main
          li
            a(href="/", class=isActive('dashboard'))
              i.fa.fa-tachometer
              span= string('Dashboard')
          li
            a(href="/users/", class=isActive('user'))
              i.fa.fa-user
              span= string('Users')
          li
            a(href="/results/", class=isActive('result'))
              i.fa.fa-bar-chart
              span= string('Results')
              
          li
            a(href="/social-updates/", class=isActive('social-update'))
              i.fa.fa-share-alt
              span= string('Social_Updates')
          li
            a(href="/pages/", class=isActive('page'))
              i.fa.fa-file-text
              span= string('Pages')
          li
            a(href="/blog-posts/", class=isActive('blog'))
              i.fa.fa-pencil
              span= string('Blog_Posts')
          li
            a(href="/challenges/", class=isActive('challenge'))
              i.fa.fa-trophy
              span= string('Challenges')
          li
            a(href="/advertisements/", class=isActive('advertisement'))
              i.fa.fa-eye
              span= string('Advertisements')
          li
            a(href="/emails/", class=isActive('emails'))
              i.fa.fa-bullhorn
              span= string('Emails')
          li
            a(href="/email-templates/", class=isActive('email-template'))
              i.fa.fa-envelope
              span= string('Email_Templates')
          li
            a(href="/notifications/", class=isActive('notification'))
              i.fa.fa-bell-o
              span= string('Notifications')
          li
            a(href="/regions/", class=isActive('area'))
              i.fa.fa-map-marker
              span= string('Regions')
              
          li
            a(href="/admin-users/", class=isActive('admin-user'))
              i.fa.fa-key
              span= string('Admin_Users')
              
          li
            a(href="/configuration/", class=isActive('configuration'))
              i.fa.fa-wrench
              span= string('Configuration')

          //-li
            a(href="/help/", class=isActive('help'))
              i.fa.fa-question
              span= string('Help')

          li.nav-main-heading
            span= string('User')

          li
            a(href="/logout/")
              i.fa.fa-sign-out
              span= ' ' + string('Logout')
