extends page-base
block baseContent
  .container-fluid.home-page
    block hero
    .row.page-background
      - var showLeftAdvert = advertisements && advertisements.length > 0;
      - var showRightAdvert = advertisements && advertisements.length > 1;
      
      .col-sm-1(class=showLeftAdvert ? 'no-left-padding adv' : '')
        if showLeftAdvert
          a(href=advertisements[0].link, target='_blank')
            picture
              <!--[if IE 9]><video style="display: none"><![endif]-->
              source(data-srcset=advertisements[0].small, media='(max-width: 767px)')
              source(data-srcset=advertisements[0].large, media='(min-width: 768px)')
              <!--[if IE 9]></video><![endif]-->
              img.img-responsive.lazyload(src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==')
        
      .col-sm-10
        .row
          .col-sm-12
            block content

      .col-sm-1(class=showRightAdvert ? 'no-right-padding adv' : '')
        if showRightAdvert
          a(href=advertisements[1].link, target='_blank')
            picture
              <!--[if IE 9]><video style="display: none"><![endif]-->
              source(data-srcset=advertisements[1].small, media='(max-width: 767px)')
              source(data-srcset=advertisements[1].large, media='(min-width: 768px)')
              <!--[if IE 9]></video><![endif]-->
              img.img-responsive.lazyload(src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==')