extends page-base
block content

  script.
    console.log(!{JSON.stringify(user)})
      
  - if (!user.isPersonalTrainer && !user.isPersonalTrainer  ? bgImage = "background-image: url('/regular-user-bg.jpg')" : '');
  - if (user.isGym ? bgImage = "background-image: url('/gym-profile-bg.jpg')" : '');
  - if (user.isPersonalTrainer ? bgImage = "background-image: url('/pt-profile-bg.jpg')" : '');

  if isContentPage

    .tile.page-title.with-back-button(style=bgImage)
      .container
         a.back(href="/user/" + user.username + "/") Back to their profile
         h1.heading!= pageTitle
  else

     .tile.user-header(style=bgImage)
       .container

         if user.isGym || user.isPersonalTrainer
           .user-rating
             if user.reviews.rating > 0
               .rating= user.reviews.rating + " / 5.0"
             include ../components/user-star-rating
             if user.reviews.count > 0
               .reviews= user.reviews.count + " Reviews"

         h1.name= user.firstName + ' ' + user.lastName

         .details
           ul
            if user.isPersonalTrainer || user.isGym
              li.location
                img.icon(src="/user-details-location-icon.png", srcset="/user-details-location-icon.png  1x, /user-details-location-icon@2x.png 2x")
                p= (user.location.districtName ? user.location.districtName : user.location.countyName) + ", " + user.location.countryCode.toUpperCase()
              li.hours
                img.icon(src="/user-details-clock-icon.png", srcset="/user-details-clock-icon.png  1x, /user-details-clock-icon@2x.png 2x")
                p Mon - Sun • 6am to 11pm
              li.price
                img.icon(src="/user-details-price-icon.png", srcset="/user-details-price-icon.png  1x, /user-details-price-icon@2x.png 2x")
                p Prices from £21.99 a month

            if (!user.isPersonalTrainer && !user.isGym)
              if user.routineType
                li.routine-type
                  img.icon(src="/user-details-bars-icon.png", srcset="/user-details-bars-icon. png 1x, /user-details-bars-icon@2x.png 2x")
                  p= user.routineType
              if user.gym && user.gym.toLowerCase() !== 'none'
                li.gym
                  img.icon(src="/user-details-gym-icon.png", srcset="/user-details-gym-icon.png  1x, /user-details-gym-icon@2x.png 2x")
                  p= user.gym
     
      .tile.user-nav
        .container

          .sections
            ul
              if user.isGym || user.isPersonalTrainer 
                li
                  - var selected = pageUrl.match(/^\/user\/[-a-z0-9]+\/$/)
                  a(href="/user/" + user.username + "/", class=(selected ? 'selected' : '')) Reviews
                if isLoggedInUser
                  li
                    - var selected = pageUrl.match(/^\/user\/[-a-z0-9]+\/feed\/$/)
                    a(href="/user/" + user.username + "/feed/", class=(selected ? 'selected' : '')) Global Feed
                li
                  - var selected = pageUrl.match(/^\/user\/[-a-z0-9]+\/posts\/$/)
                  a(href="/user/" + user.username + "/posts/", class=(selected ? 'selected' : ''))= (isLoggedInUser == true ? "My Posts" : "Posts" )
              else
                li
                  - var selected = pageUrl.match(/^\/user\/[-a-z0-9]+\/$/)
                  a(href="/user/" + user.username + "/", class=(selected ? 'selected' : ''))= (isLoggedInUser == true ? "Global Feed" : "Posts" )
                if isLoggedInUser
                  li
                    - var selected = pageUrl.match(/^\/user\/[-a-z0-9]+\/posts\/$/)
                    a(href="/user/" + user.username + "/posts/", class=(selected ? 'selected' : '')) My Posts

          .other 
            .followers-following
             if user.isPersonalTrainer
                .block
                  - var selected = pageUrl.match(/^\/user\/[-a-z0-9]+\/clients\/$/)
                  a(href="/user/" + user.username + "/clients/", class=(selected ? 'selected' : ''))
                    .number= user.clients.length
                    .phrase Clients
              .block
                - var selected = pageUrl.match(/^\/user\/[-a-z0-9]+\/following\/$/)
                a(href="/user/" + user.username + "/following/", class=(selected ? 'selected' : ''))
                  .number= user.following.length
                  .phrase Following
              .block
                - var selected = pageUrl.match(/^\/user\/[-a-z0-9]+\/followers\/$/)
                a(href="/user/" + user.username + "/followers/", class=(selected ? 'selected' : ''))
                  .number= user.followers.length
                  .phrase Followers

            .calls-to-action
              form(method='post')
                ul
                  if !isLoggedInUser
                    if loggedInUser
                      if loggedInUser.isPersonalTrainer && (user.isPersonalTrainer === false && user.isGym === false)
                        li
                          .object.btn-style-one.outline
                            if user.isClient
                              input.btn.btn-lg.btn-info(type='submit' name='unset-client' value="Remove client")
                            else
                              input.btn.btn-lg.btn-info(type='submit' name='set-client' value="Set as client")
                  if !isLoggedInUser
                    if loggedInUser
                      if user.isBeingFollowed
                        li
                          .object.btn-style-one
                            input(type='submit' name='unfollow' value=string('Unfollow'))
                      else 
                        li
                          .object.btn-style-one
                            input(type='submit' name='follow' value=string('Follow')) 


  .tile.user-content
    block above-user-content
    .container
      .content
        block user-content
      .sidebar
        block sidebar-top
        block sidebar
          .object.profile-card
            .avatar
              img.profile-picture.lazyload(data-srcset=user.avatar + ' 1x, ' + user.avatarRetina + ' 2x', alt=user.  username, title=user.username, src="data:image/gif;base64,  R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
            .name
              p= user.firstName + ' ' + user.lastName
            if user.bio
              .bio 
                p= user.bio
        block sidebar-bottom

//-   section
//-     .row
//-       .col-sm-12
//-         .user-profile
//-           img.img-circle.profile-picture.lazyload(data-srcset=user.avatar + ' 1x, ' + user.avatarRetina + ' 2x', alt=user.username, title=user.username, src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
          
//-           .profile-name
//-             if user.bio
//-               h1= user.firstName + ' ' + user.lastName + ' (' + user.username + ')'
//-               p= user.bio
//-             else
//-               h1= user.firstName + ' ' + user.lastName
//-               h2= user.username

//-     include ../../components/user-stats-table
    
//-     form(method='post')
//-       .btn-toolbar
//-         if isLoggedInUser
//-           a.btn.btn-lg.btn-info(href="update/")= string('Update_Profile')
//-         else
//-           if user.isBeingFollowed
//-             input.btn.btn-lg.btn-info(type='submit' name='unfollow' value=string('Unfollow'))
//-           else
//-             input.btn.btn-lg.btn-info(type='submit' name='follow' value=string('Follow'))
            
//-           if loggedInUser.isPersonalTrainer
//-             if user.isClient
//-               input.btn.btn-lg.btn-info(type='submit' name='unset-client' value=string('Unset_Client'))
//-             else
//-               input.btn.btn-lg.btn-info(type='submit' name='set-client' value=string('Set_Client'))
  
//-   if nominations && nominations.length > 0
//-     include ../../components/nominated-challenges-section
    
//-   include ../../components/user-challenges-section

//- block sidebar
//-   if user.isPersonalTrainer
//-     include ../../components/personal-trainer-clients-panel
  
//-   include ../../components/following-users-panel
//-   include ../../components/followers-users-panel
  
//-   if isLoggedInUser && socialUpdates.length > 0
//-     include ../../components/social-feed-panel