doctype html
html(lang= language)
  head
    include includes/head
  body
    .site.no-nav
      .site-container
        include includes/nav
        block content
        include includes/footer
      include includes/nav-responsive

    include includes/scripts
