doctype html
html(lang= language)
  head
    
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge',)
    meta(name='viewport', content='width=device-width, initial-scale=1,user-scalable=0')
    meta(name="description" content="ONCE YOU SEE RESULTS IT BECOMES AN ADDICTION - Be part of the biggest fitness trend in 2016 and take on a GymFit Challenge")
    meta(name="author" content="GymFit")
    
    block metaBlock
    title GymFit... The 1st True Social Fitness Experience!
    link(rel='stylesheet', href='/style.css?v21')
    
    link(rel="apple-touch-icon", sizes="57x57", href="/apple-touch-icon-57x57.png?v15")
    link(rel="apple-touch-icon", sizes="60x60", href="/apple-touch-icon-60x60.png?v15")
    link(rel="apple-touch-icon", sizes="72x72", href="/apple-touch-icon-72x72.png?v15")
    link(rel="apple-touch-icon", sizes="76x76", href="/apple-touch-icon-76x76.png?v15")
    link(rel="apple-touch-icon", sizes="114x114", href="/apple-touch-icon-114x114.png?v15")
    link(rel="apple-touch-icon", sizes="120x120", href="/apple-touch-icon-120x120.png?v15")
    link(rel="apple-touch-icon", sizes="144x144", href="/apple-touch-icon-144x144.png?v15")
    link(rel="apple-touch-icon", sizes="152x152", href="/apple-touch-icon-152x152.png?v15")
    link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon-180x180.png?v15")
    link(rel="icon", type="image/png", href="/favicon-32x32.png?v15", sizes="32x32")
    link(rel="icon", type="image/png", href="/android-chrome-192x192.png?v15", sizes="192x192")
    link(rel="icon", type="image/png", href="/favicon-96x96.png?v15", sizes="96x96")
    link(rel="icon", type="image/png", href="/favicon-16x16.png?v15", sizes="16x16")
    link(rel="manifest", href="/manifest.json")
    link(rel="mask-icon", href="/safari-pinned-tab.svg?v15", color="#6e2d91")
    meta(name="msapplication-TileColor", content="#6e2d91")
    meta(name="msapplication-TileImage", content="/mstile-144x144.png?v15")
    meta(name="theme-color", content="#6e2d91")
    
    include includes/google-analytics
    script(src="/videojs-ie8.min.js")

  body

    .site

        .tile.modal.video
            .modal-wrapper
                .modal-container
                    .container
                        .modal-box
                            .video
                                .object.success
                                    .success-wrapper
                                        .success-container
                                            .content
                                                .watch-again
                                                    .icon
                                                        a(href="#")
                                                    p Watch our video again
                                                span.pre-heading What are you waiting for?
                                                h4.heading Create your GymFit account today
                                                p We’ll be launching soon and your account will<br />be waiting for you when we do! 
                                                .object.btn-style-two Pre-register your account today
                                div(id="player")

                            button.object.btn-style-one.close Close X


        .tile.header
            .container
                .logo
                    a.object.logo(href="/")
                .nav
                    ul
                        li.social.facebook
                            a.object.social.facebook(href="https://www.facebook.com/GymFit-UK-1568366210139723/", target="_blank")
                        li.social.twitter
                            a.object.social.twitter(href="https://twitter.com/GymFit_UK", target="_blank")
                        li.social.instagram
                            a.object.social.instagram(href="https://www.instagram.com/gymfit_uk/", target="_blank")
                        li.spacer
                        li.button
                            a.object.btn-style-one.outline.anchor(href="#" scroll-to="#register") Pre-register your account today

        .tile.feature-video.curve-down(id="start")
            .image(style="background-image: url('/feature-video-bg.jpg');")
            .container
                .feature-wrapper
                    .feature-container
                        h1.object.heading-style-one <strong>GymFit...</strong> The 1st true social fitness experience!<br /><strong>Challenges</strong>, <strong>Leaderboards</strong>, <strong>Real Reviews</strong> &amp; <strong>Ratings</strong>.

                        .watch-video
                            a(href="#")
                                .icon
                                .title Watch our video
                                .time 1:33
                        .register
                            a.object.btn-style-one.shadow.anchor(scroll-to="#register") Pre-register your account today
                            .object.content
                                p
                                    a.anchor(href="#" scroll-to="#challenges") <strong>FIND OUT MORE</strong>

            .object.curve
                .down 
                    .image(style="background-image: url('/feature-video-bg.jpg');")

        .tile.feature-image-with-content.challenge.curve-up.right(id="challenges")
            .container
                .image(style="background-image: url('/challenge-background.jpg'); height:1385px; width:1039px; top:-106px; left: -537px;")
                .object.content
                    span.pre-heading Challenges & Leaderboards
                    h2.heading Challenge yourself<br /> friends & clients
                    p Do you play <strong>Rugby</strong>, <strong>American Football</strong>, <strong>Cricket</strong>, <strong>Baseball</strong> or <strong>Basketball</strong>? Are you a <strong>Gymnast</strong>, <strong>Bodybuilder</strong>, <strong>Weightlifter</strong>, <strong>Personal Trainer</strong>, <strong>Instructor</strong> or <strong>Rower</strong>? Do you specialise in <strong>Martial Arts</strong>, <strong>Street Sports</strong>, <strong>Athletics</strong> or <strong>Swimming</strong>?
                    p Are you ready to <strong>Compete</strong>, <strong>Nominate</strong> and <strong>Challenge</strong>? Test your <strong>strength</strong> and <strong>fitness</strong> with <strong>video evidence</strong>! 
                    p Compare yourself against people of the same age and weight category, we have all the features you’ll ever need!
                    p
                        a.anchor(href="#" scroll-to="#social") Next
                        |  or 
                        a.anchor(href="#" scroll-to="#start") Back to top

        .tile.feature-image-with-content.curve-down(id="social")
            .container
                .image(style="background-image: url('/social-background.jpg'); height:422px; width: 648px; top:120px; right: -145px; background-position: top right;")
                .object.content
                    span.pre-heading Social feed - Results - Progress
                    h2.heading Post photos, videos & updates
                    p With our <strong>free iOS App</strong> you can <strong>follow</strong> your Friends, Clients, Members, Trainers and Gyms. View exercises, <strong>routines and results</strong> on a daily basis whilst we keep you up to date with a <strong>Global Feed</strong> and <strong>Push Notifications</strong>
                    p
                        a.anchor(href="#" scroll-to="#features") Next
                        |  or 
                        a.anchor(href="#" scroll-to="#start") Back to top

            .object.curve.with-border
                .down

        .tile.features(id="features")
            .container
                ul
                    li
                        .icon.fa.fa-user(aria-hidden="true")
                        p Create your Own Personalised Profile Page.
                    li
                        .icon.fa.fa-bullhorn(aria-hidden="true")
                        p Advertise Your Packages, Prices and Special Offers.
                    li
                        .icon.fa.fa-star(aria-hidden="true")
                        p Encourage your Clients and Customers to Create a Profile confirming their reviews are REAL.
                    li
                        .icon.fa.fa-list-ol(aria-hidden="true")
                        p Build up your REAL reviews which effects how you Rank in the Local Searches.
                    li
                        .icon.fa.fa-line-chart(aria-hidden="true")
                        p Follow, Track and Compare Results of everyone throughout the Year.
                    li
                        .icon.fa.fa-picture-o(aria-hidden="true")
                        p View what’s happening with REAL Video and Photographic evidence.



        .tile.feature-image-with-content.gym-pt.curve-up(id="gym-pt")
            .container
                .object.content
                    span.pre-heading Look professional - Rate the best
                    h2.heading Gym & trainer profiles
                    p Invite all your <strong>Clients</strong> and <strong>Customers</strong> to submit <strong>independent reviews</strong> and <strong>promote your services</strong>.
                    p View your rating and members progress with <strong>unlimited video</strong> and <strong>photographic evidence</strong>.

                    .card 
                        h3.card-heading Ready to go?
                        p Pre-register your account today and we'll notifiy you as soon as it's ready to be customised!
                        p 
                            a.anchor(href="#" scroll-to="#register") Pre-register your account today

            .object.curve.with-border
                .up
                    .container
                        .image(style="background-image: url('/pt-background.jpg'); top:25px; right: -260px; background-position: top left; height: 831px; width:927px;")

        .tile.feature-image-with-content.reviews.right.curve-down(id="reviews")
            .container
                .object.content
                    span.pre-heading Reviews - Ratings
                    h2.heading Real<br /> independent reviews
                    p Imagine Checkatrade, Instagram, Facebook, Linkedin, Trip Advisor all wrapped into one, GymFit brings <strong>reality</strong> into the fitness industry to <strong>inspire</strong>, <strong>motivate</strong>, <strong>encourage</strong> and <strong>raise standards</strong>.
                    p Now there is <strong>no hiding place</strong> for poor Gyms or inadequate Personal Trainers and Instructors.  
                    p
                        a.anchor(href="#" scroll-to="#register") Pre-register your account today

            .object.curve
                .down 
                    .container 
                        .image(style="background-image: url('/reviews-background.jpg'); height:547px; width: 634px; bottom:0; left: -200px;")

        .tile.register(id="register")
            .container
                h3.object.heading-style-two On your marks, get set...
                p.intro We’ll be launching soon, all you need to do is register your account and it'll be waiting for you when we do! 

                form.form(method="post", class={ success: success })

                    if validationErrors
                        .object.form-msg.failed
                            if validationErrors[0][1] == 'Error_Email_Already_Registered'
                                p An account has already been pre registered with the email address: <strong>#{email}</strong>
                            else 
                                p There was an error pre registering your account, please check you've filled in all of the fields correctly and please try again.

                    h4.form-heading Choose your account type
                    ul.types
                        li.selected
                            input(type="radio",name="Type",id="pt",checked="checked",value="pt")
                            label.pt(for="pt")
                            span.title PT / Instructor
                        li
                            input(type="radio",name="Type",id="gym", value="gym")
                            label.gym(for="gym")
                            span.title Gym
                        li
                            input(type="radio",name="Type",id="fitness")
                            label.client(for="fitness")
                            span.title Keeping<br/>Fit
                    ul.fields
                        li
                            .object.field
                                input(type="text",name="Name",placeholder="Your name or Company name")
                        li
                            .object.field
                                input(type="text",name="Email",placeholder="Email address")
                        li.submit
                            button.object.btn-style-two Pre-register your account
                    .object.success
                        .success-wrapper
                            .success-container
                                .icon
                                span.pre-heading Congratulation
                                h4.heading Your account has been created!
                                p We’ll be launching soon and your account will be waiting for you when we do! 
                                p Share <strong>GymFit</strong> with a friend & follow us on social media for all the latest.
                                ul.social
                                    li.facebook
                                        a(href="https://www.facebook.com/GymFit-UK-1568366210139723/", target="_blank")
                                    li.twitter
                                        a(href="https://twitter.com/GymFit_UK", target="_blank")
                                    li.instagram
                                        a(href="https://www.instagram.com/gymfit_uk/", target="_blank")

    include includes/footer
    include includes/scripts
