extends ../../layouts/page-base
block content

  .tile.page-title
    .container


  .tile.search
    .container

      .object.search-form

         if search
           h1.heading!= "Searching for <strong>" + search.For + "</strong> in <strong>" + search.LocationQuery + "</strong>"
         else if !locationQuery
           h1.heading!= "Search <strong>GymFit</strong> for <strong>Gyms & Personal Trainers</strong> near you"
         else
           h1.heading!= "Searching <strong>GymFit</strong> for <strong>" + locationQuery + "</strong>"
         
         include ../../components/validation-error-alert
         
         form(method='post' action='/search/' class=getFieldValidationClass('Query'))
           ul
            li 
             .form-group(class=getFieldValidationClass('Location'))
               label.control-label(for='LocationQuery')= string('Location')
               .input-wrapper.has-icon
                 .icon.location
                 #search-all-locations
                   input.form-control.typeahead(type='text' id='LocationQuery' name='LocationQuery' value=locationQuery placeholder="Enter a Location")
            li
             .form-group
               label.control-label(for='For') For
               .select-wrapper
                 select(name="For")
                    option(value="Gyms & Personal Trainers" selected=(search && search.For == "Gyms & Personal Trainers" ? true : null )) All
                    option(value="Personal Trainers" selected=(search && search.For == "Personal Trainers" ? true : null )) Personal Trainers
                    option(value="Gyms" selected=(search && search.For == "Gyms" ? true : null )) Gyms
            li
             .form-group
               label.control-label(for='Rating') With Ratings Above
               .select-wrapper
                 select(name="Rating")
                  option(value="Any" selected=(search && search.Rating == "Any" ? true : null )) Any
                  option(value="1" selected=(search && search.Rating == "1" ? true : null )) 1 Stars
                  option(value="2" selected=(search && search.Rating == "2" ? true : null )) 2 Stars
                  option(value="3" selected=(search && search.Rating == "3" ? true : null )) 3 Stars
                  option(value="4" selected=(search && search.Rating == "4" ? true : null )) 4 Stars
                  option(value="5" selected=(search && search.Rating == "5" ? true : null )) 5 Stars
            li
             .object.btn-style-two
               button.btn(type='submit') Refine Results

      .object.number-of-results
        .results= totalResults + " Results"
        .filter
      
      if noResultsFound
        section
          h2.purple-pill= string('Results')
          
          if noResultsFound
            p= string('No_Results_Found')
      else if results
        include ../../components/search-results