nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1", aria-expanded="false")
        span.sr-only= string('Toggle_Navigation')
        span.icon-bar
        span.icon-bar
        span.icon-bar

      if loggedInUser
        a.pull-right.visible-xs-block.new-challenge-button(href='/gb/new/')
          img(alt=string('New_Challenge'), title=string('New_Challenge'), src="/new-challenge.svg")
      
      a.navbar-brand(href=loggedInUser ? ('/user/' + loggedInUser.username + '/') : '/')
        img(alt=string('GymFit'), title=string('GymFit'), src="/purple-logo.svg")
    .collapse.navbar-collapse(id="bs-example-navbar-collapse-1")
      ul.nav.navbar-nav  
        li
          a(href='/gb/')= string('Leaderboards')
        li
          a(href='/gb/new/')= string('Exercises')
        li
          a(href='/search/')= string('Search')
        li
          a(href='/gb/about/')= string('About')
        
        li
          a(href='/gb/benefits/')= string('Benefits')
        
        li
          a(href='/gb/personal-trainers/')= string('Personal_Trainers')
          
        //-li
          a(href='/gb/blog/')= string('Blog')
        
      ul.nav.navbar-nav.navbar-right
        if loggedInUser
          li
            a.user-avatar(href='/user/' + loggedInUser.username + '/')
              img.img-circle.lazyload(data-srcset=loggedInUser.avatar + ' 1x, ' + loggedInUser.avatarRetina + ' 2x', alt=loggedInUser.username, title=loggedInUser.username, src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
              
              span.visible-xs-inline= loggedInUser.username
          li.hidden-xs.hidden-sm
            a(href='/user/' + loggedInUser.username + '/')= loggedInUser.username
          li
            a.hidden-xs.new-challenge-button(href='/gb/new/')
              img(alt=string('New_Challenge'), title=string('New_Challenge'), src="/new-challenge.svg")
          li
            a(href='/logout/')
              .cyan-nav-pill= string('Logout')
        else
          li
            a(href='/login/')= string('Login_Join')
//.nav-spacer
