unless loggedInUser
  script#cookiebanner(src="/cookiebanner.min.js" data-linkmsg=string('Cookie_Banner_Learn_More') data-message=string('Cookie_Banner_Message') data-moreinfo='/' + location.countryCode + '/privacy-policy/')
