.tile.footer
    .container
        .logo
            a.object.logo(href="/")
        .social-container
            ul 
                li
                    a.object.social.facebook(href="https://www.facebook.com/GymFit-UK-1568366210139723/", target="_blank")
                li
                    a.object.social.twitter(href="https://twitter.com/GymFit_UK", target="_blank")
                li
                    a.object.social.instagram(href="https://www.instagram.com/gymfit_uk/", target="_blank")

        .copyright
            .text &copy;GymFit 2016 - All rights reserved
                ul.nav 
                    li
                        a(href="/gb/privacy-policy", target="_blank") Privacy Policy
                    li
                        a(href="/gb/terms-and-conditions", target="_blank") Terms & Conditions
                    li
                        a(href="mailto:admin@gymfit.com") Contact Us

//- footer
//-   .container-fluid
//-     p Copyright &copy; 2016 GymFit | <a href="/gb/privacy-policy/">Privacy Policy</a> | <a href="/gb/terms-and-conditions/">Terms and Conditions</a>
//-     p Contact us: <a href="mailto:admin@gymfit.com">admin@gymfit.com</a>
    
//-     div
//-       a(href="https://gymfit.com/")
//-         img(alt=string('GymFit'), title=string('GymFit'), src="/white-icon.svg")
        
//-       a(href="https://twitter.com/GymFit_UK" target="_blank")
//-         .fa-stack.fa-lg
//-           i.fa.fa-circle.fa-stack-2x
//-           i.fa.fa-twitter.fa-stack-1x
      
//-       a(href="https://www.facebook.com/GymFitChallenge/" target="_blank")
//-         .fa-stack.fa-lg
//-           i.fa.fa-circle.fa-stack-2x
//-           i.fa.fa-facebook.fa-stack-1x
          
//-       a(href="https://www.instagram.com/gymfit_uk/" target="_blank")
//-         .fa-stack.fa-lg
//-           i.fa.fa-circle.fa-stack-2x
//-           i.fa.fa-instagram.fa-stack-1x