meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge',)
meta(name='viewport', content='width=device-width, initial-scale=1,user-scalable=0')
meta(name="description" content="GymFit, The Website And Mobile App To Review, Rate And Challenge The Fitness Industry With Our Complete Social Fitness Network")
meta(name="author" content="GymFit")

block metaBlock

title GymFit... The 1st True Social Fitness Experience!
link(rel='stylesheet', href='/style.css?v51')

link(rel="apple-touch-icon", sizes="57x57", href="/apple-touch-icon-57x57.png?v15")
link(rel="apple-touch-icon", sizes="60x60", href="/apple-touch-icon-60x60.png?v15")
link(rel="apple-touch-icon", sizes="72x72", href="/apple-touch-icon-72x72.png?v15")
link(rel="apple-touch-icon", sizes="76x76", href="/apple-touch-icon-76x76.png?v15")
link(rel="apple-touch-icon", sizes="114x114", href="/apple-touch-icon-114x114.png?v15")
link(rel="apple-touch-icon", sizes="120x120", href="/apple-touch-icon-120x120.png?v15")
link(rel="apple-touch-icon", sizes="144x144", href="/apple-touch-icon-144x144.png?v15")
link(rel="apple-touch-icon", sizes="152x152", href="/apple-touch-icon-152x152.png?v15")
link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon-180x180.png?v15")
link(rel="icon", type="image/png", href="/favicon-32x32.png?v15", sizes="32x32")
link(rel="icon", type="image/png", href="/android-chrome-192x192.png?v15", sizes="192x192")
link(rel="icon", type="image/png", href="/favicon-96x96.png?v15", sizes="96x96")
link(rel="icon", type="image/png", href="/favicon-16x16.png?v15", sizes="16x16")
link(rel="manifest", href="/manifest.json")
link(rel="mask-icon", href="/safari-pinned-tab.svg?v15", color="#6e2d91")
meta(name="msapplication-TileColor", content="#6e2d91")
meta(name="msapplication-TileImage", content="/mstile-144x144.png?v15")
meta(name="theme-color", content="#6e2d91")

script(src="/videojs-ie8.min.js")