.tile.responsive-nav
  ul.nav 
    li
      a(href="#") Home
    li
      a(href="/gb/challenges/") Challenges
    li
      a(href="/gb/leaderboards/") Leaderboards
    li
      a(href="#") About
    li
      a(href="#") Benefits
  ul.buttons
    li
      .object.btn-style-one.outline
        a(href="/login/") Login
    li
      .object.btn-style-one
        a(href="#") Sign Up