.tile.header
  .container
    .logo
      a.object.logo(href="/")
    .nav
      ul
        li
          - var selected = (pageUrl ? pageUrl.match(/^\/[a-z]+\/challenges\/.*/) : '')
          a.link(href="/gb/challenges/", class=(selected ? 'selected' : '')) Challenges
        li
          - var selected = (pageUrl ? pageUrl.match(/^\/[a-z]+\/leaderboards\/.*/) : '')
          a.link(href="/gb/leaderboards/", class=(selected ? 'selected' : '')) Leaderboards
        li.has-children
          - var selected = (pageUrl ? pageUrl.match(/^\/[a-z]+\/(about|benefits)\//) : '')
          a.link(href="#", class=(selected ? 'selected' : '')) More
          span.arrow
          ul.children
            li
              - var selected = (pageUrl ? pageUrl.match(/^\/[a-z]+\/about\//) : '')
              a.link(href="/gb/about/", class=(selected ? 'selected' : '')) About
            li
              - var selected = (pageUrl ? pageUrl.match(/^\/[a-z]+\/benefits\//) : '')
              a.link(href="/gb/benefits/", class=(selected ? 'selected' : '')) Benefits
        li.search
          .object.btn-style-one
            a(href="/search/")
        if !loggedInUser
          li.login
            .object.btn-style-one.outline
              a(href="/login/")
        else 
          li.logged-in.has-children
            .object.btn-style-one.outline
              a(href="/user/" + loggedInUser.username + "/")= loggedInUser.firstName + ' ' + loggedInUser.lastName
            ul.children
              li
                - var selected = (pageUrl ? pageUrl.match(/^\/user\/[-a-z0-9]+\/$/) : '')
                a(href="/user/" + loggedInUser.username + "/", class=(selected ? 'selected' : '')) My Profile
              if loggedInUser.isPersonalTrainer
                li
                  - var selected = (pageUrl ? pageUrl.match(/^\/user\/[-a-z0-9]+\/clients\/$/) : '')
                  a(href="/user/" + loggedInUser.username + "/clients/", class=(selected ? 'selected' : '')) Clients
              li
                - var selected = (pageUrl ? pageUrl.match(/^\/user\/[-a-z0-9]+\/following\/$/) : '')
                a(href="/user/" + loggedInUser.username + "/following/", class=(selected ? 'selected' : '')) Following
              li
                - var selected = (pageUrl ? pageUrl.match(/^\/user\/[-a-z0-9]+\/followers\/$/) : '')
                a(href="/user/" + loggedInUser.username + "/followers/", class=(selected ? 'selected' : '')) Followers
              li
                a(href="/user/" + loggedInUser.username + "/update/") Account Settings
              li.logout
                a(href="/logout/") Logout


        if !loggedInUser
          li.create-account
            .object.btn-style-one
              a(href="/gb/register/")
    .responsive-nav 
      ul 
        li.search
          .object.btn-style-one
            a(href="/search/")
        li.menu
          .object.btn-style-one
            a(href="#")
