script(src='/app.js?v41')
script(src='/bootstrap-filestyle.min.js')
script(src='/placeholder.min.js')

include cookie-banner

script.
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga'); 

  ga('create', 'UA-84658817-1', 'auto');
  ga('send', 'pageview');

if (!isProduction)
  script document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>');

 