extends ../../layouts/page
block content    
  include ../../components/saved-item-alert
  
  if notifications.length > 0
    include ../../components/notification-table
  else
    p= string('No_Data')
  
  a.btn.btn-primary(href='/notification/new/')
    i.fa.fa-plus
    span  
    span= string('New')
