extends ../layouts/home-page

block hero
  unless loggedInUser
    .row
      .home-hero
        .col-md-1
        
        .col-md-10
          .row
            .col-md-6
              
            .col-md-6.rr
              .row
                .col-xs-12
                  h1= string('Home_Hero_Line_1')
                  h1= string('Home_Hero_Line_2')
                  h1= string('Home_Hero_Line_3')
                  h1= string('Home_Hero_Line_4')
              .row
                .col-xs-12
                  .embed-responsive.embed-responsive-16by9
                    iframe(src="https://www.youtube.com/embed/videoseries?list=PLoezu9NZr21yZrlluYJ8vdOsX9Ffszom8&amp;showinfo=0" frameborder="0" allowfullscreen)
              
              .row.margin-top
                .col-xs-6
                  a(href='https://itunes.apple.com/gb/app/gymfit-challenge/id1071073922?mt=8')
                    img(src='/app-store.svg')
                    
                .col-xs-6
                  h2= string('Pre_Register_Today')
              
              .row
                a.btn.btn-lg.btn-info.registerButton(href='/' + location.countryCode + '/register/')= string('Register')
        .col-md-1
    .row.hidden-sm.hidden-xs
      .col-md-1
      
      .col-md-10
        .challenges-list-header
          h1.purple-pill= categories[0][0].category
        
      .col-md-1
block content

  if loggedInUser
    section.text-center.no-margin-bottom.margin-top.hidden-sm.hidden-xs
      h1.margin-top= string('View_The_Leaderboards')
    section.text-center.hidden-md.hidden-lg
      h1.margin-top= string('View_The_Leaderboards')

  - var challengeListClasses = loggedInUser ? 'hidden' : 'hidden-sm hidden-xs';
  - var challengeListComponentClasses = loggedInUser ? 'top-padding' : 'hidden-md hidden-lg';
  
  .row(class=challengeListClasses)
    each category in categories
        unless category === categories[0]
          .col-md-12
            .challenges-list-header
              h1(class= category[0].colour + '-pill')= category[0].category
              
        .col-md-12
          .challenge-list-box
            .row
              each challenge in category
                .col-md-4
                  .challenges-list-challenge
                    if challenge.comingSoon
                      a.btn.btn-block(disabled class= challenge.colour + '-challenge')= challenge.name
                        div
                          .white-pill= string('Coming_Soon')
                    else
                      a.btn.btn-block(href=challenge.link class= challenge.colour + '-challenge')= challenge.name
                        div
                          .white-pill= challenge.type
  
  .row(class=challengeListComponentClasses)
    include ../components/challenge-list

  include ../components/custom-home-page-html