extends ../layouts/page-base
block content

  include ../objects/gym-pt-sign-up-widget

  .tile.modal.video
      .modal-wrapper
          .modal-container
              .container
                  .modal-box
                      .video
                          .object.success
                              .success-wrapper
                                  .success-container
                                      .content
                                          .watch-again
                                              .icon
                                                  a(href="#")
                                              p Watch our video again
                                          span.pre-heading What are you waiting for?
                                          h4.heading Create your GymFit account today
                                          p We’ll be launching soon and your account will<br />be waiting for you when we do! 
                                          .object.btn-style-two 
                                            button Register your account today
                          div(id="player")
  
                      .object.btn-style-one.close 
                        button Close X
  

  .tile.hero-search
    .container 
      .search-wrapper
        .search-container
          .object.search
            h1.heading Find a Gym or Personal Trainer with <strong>GymFit</strong>
            form(method="post" action="/search/")
              .field-group
                .input-wrapper
                  #search-all-locations
                   input.typeahead(type='text' id='LocationQuery' name='LocationQuery' value=locationQuery placeholder="Enter a Location")

                .select-wrapper
                  select(name="For")
                    option(value="Gyms & Personal Trainers") All
                    option(value="Personal Trainers") Personal Trainers
                    option(value="Gyms") Gyms

              .object.btn-style-one
                button(type="submit") Search
      .app-download
        .ios
          p Download the <strong>GymFit app</strong> <br/>form the <strong>App Store</strong>
          a(href="#")
            img(src="/download-on-the-app-store.png", srcset="/download-on-the-app-store.png 1x, /download-on-the-app-store@2x.png 2x")

  .tile.feature-video(id="start")
    .container
      img.icon(src="/trophy-icon.png", srcset="/trophy-icon.png 1x, /trophy-icon@2x.png 2x")
      h2.heading <strong>GymFit</strong> The 1st <strong>true</strong> social <br/>fitness experience!
      p.strapline Challenges, Leaderboards, Real Reviews &amp; Ratings

      .watch-video
        a(href="#")
          .video-container
            .image
              .play-icon

  .tile.feature-image-with-content.challenge-tile.right(id="challenges")
      .container
          .image(style="background-image: url('/challenge-background.jpg'); height:1385px; width:1039px; top:-298px; left: -417px;")
          .object.content
              span.pre-heading Challenges & Leaderboards
              h2.heading Challenge yourself<br /> friends & clients
              p Do you play <strong>Rugby</strong>, <strong>American Football</strong>, <strong>Cricket</strong>, <strong>Baseball</strong> or <strong>Basketball</strong>? Are you a <strong>Gymnast</strong>, <strong>Bodybuilder</strong>, <strong>Weightlifter</strong>, <strong>Personal Trainer</strong>, <strong>Instructor</strong> or <strong>Rower</strong>? Do you specialise in <strong>Martial Arts</strong>, <strong>Street Sports</strong>, <strong>Athletics</strong> or <strong>Swimming</strong>?
              p Are you ready to <strong>Compete</strong>, <strong>Nominate</strong> and <strong>Challenge</strong>? Test your <strong>strength</strong> and <strong>fitness</strong>   with <strong>video evidence</strong>! 
              p Compare yourself against people of the same age and weight category, we have all the features you’ll ever need!
              p
                  a.anchor(href="#" scroll-to="#social") Next
                  |  or 
                  a.anchor(href="#" scroll-to="#start") Back to top
  
  .tile.feature-image-with-content(id="social")
      .container
          .image(style="background-image: url('/social-background.jpg'); height:422px; width: 648px; top:120px; right: -15px; background-position: top right;")
          .object.content
              span.pre-heading Social feed - Results - Progress
              h2.heading Post photos, videos & updates
              p With our <strong>free iOS App</strong> you can <strong>follow</strong> your Friends, Clients, Members, Trainers and Gyms. View exercises, <strong>routines and results  </strong> on a daily basis whilst we keep you up to date with a <strong>Global Feed</strong> and <strong>Push Notifications</strong>
              p
                  a.anchor(href="#" scroll-to="#features") Next
                  |  or 
                  a.anchor(href="#" scroll-to="#start") Back to top
  
  .tile.features(id="features")
      .container
          ul
              li
                  .icon.fa.fa-user(aria-hidden="true")
                  p Create your Own Personalised Profile Page.
              li
                  .icon.fa.fa-bullhorn(aria-hidden="true")
                  p Advertise Your Packages, Prices and Special Offers.
              li
                  .icon.fa.fa-star(aria-hidden="true")
                  p Encourage your Clients and Customers to Create a Profile confirming their reviews are REAL.
              li
                  .icon.fa.fa-list-ol(aria-hidden="true")
                  p Build up your REAL reviews which effects how you Rank in the Local Searches.
              li
                  .icon.fa.fa-line-chart(aria-hidden="true")
                  p Follow, Track and Compare Results of everyone throughout the Year.
              li
                  .icon.fa.fa-picture-o(aria-hidden="true")
                  p View what’s happening with REAL Video and Photographic evidence.
    
  .tile.feature-image-with-content.gym-pt(id="gym-pt")
      .container
          .image(style="background-image: url('/pt-background.jpg'); top:25px; right: -130px; background-position: top left; height: 831px; width:927px;")
          .object.content
              span.pre-heading Look professional - Rate the best
              h2.heading Gym & trainer profiles
              p Invite all your <strong>Clients</strong> and <strong>Customers</strong> to submit <strong>independent reviews</strong> and <strong>promote your services</strong>.
              p View your rating and members progress with <strong>unlimited video</strong> and <strong>photographic evidence</strong>.
  
              p
                  a.anchor(href="#" scroll-to="#reviews") Next
                  |  or 
                  a.anchor(href="#" scroll-to="#start") Back to top
  
  .tile.feature-image-with-content.reviews.right.curve-down(id="reviews")
      .container
          .object.content
              span.pre-heading Reviews - Ratings
              h2.heading Real<br /> independent reviews
              p Imagine Checkatrade, Instagram, Facebook, Linkedin, Trip Advisor all wrapped into one, GymFit brings <strong>reality</strong> into the fitness industry to <strong>  inspire</strong>, <strong>motivate</strong>, <strong>encourage</strong> and <strong>raise standards</strong>.
              p Now there is <strong>no hiding place</strong> for poor Gyms or inadequate Personal Trainers and Instructors.  
              p
                  a.anchor(href="#" scroll-to="#register") Register your account today
  
      .object.curve
          .down 
              .container 
                  .image(style="background-image: url('/reviews-background.jpg'); height:547px; width: 634px; bottom:0; left: -70px;")
  
  .tile.register.last(id="register")
      .container
          h3.object.heading-style-two On your marks, get set...
          p.intro All you need to do is ask your clients or customers to register and review and we’ll do the rest.   
  
          form.form(method="post", class={ success: success })
  
              if validationErrors
                  .object.form-msg.failed
                      if validationErrors[0][1] == 'Error_Email_Already_Registered'
                          p An account has already been pre registered with the email address: <strong>#{email}</strong>
                      else 
                          p There was an error pre registering your account, please check you've filled in all of the fields correctly and please try again.
  
              h4.form-heading Choose your account type
              ul.types
                  li.selected
                      input(type="radio",name="Type",id="pt",checked="checked",value="pt")
                      label.pt(for="pt")
                      span.title PT / Instructor
                  li
                      input(type="radio",name="Type",id="gym", value="gym")
                      label.gym(for="gym")
                      span.title Gym
                  li
                      input(type="radio",name="Type",id="fitness")
                      label.client(for="fitness")
                      span.title Keeping<br/>Fit
              ul.fields
                  li
                    .object.field
                      label(for="EmailOrUsername")
                        .icon
                          .wrapper
                            img(src="/field-icon-person.png", srcset="/field-icon-person.png 1x, field-icon-person@2x.png 2x")
                      input.form-control(type='text', id='Name', name='Name',   placeholder= 'Your name or Company name', value= '')
                  li
                    .object.field
                      label(for="EmailOrUsername")
                        .icon
                          .wrapper
                            img(src="/field-icon-email.png", srcset="/field-icon-email.png 1x, field-icon-email@2x.png 2x")
                      input.form-control(type='text', id='Email', name='Email',   placeholder= 'Email address', value= '')
                  li.submit
                      .object.btn-style-two 
                        button Create your account
              .object.success
                  .success-wrapper
                      .success-container
                          .icon
                          span.pre-heading Congratulation
                          h4.heading Your account has been created!
                          p We’ll be launching soon and your account will be waiting for you when we do! 
                          p Share <strong>GymFit</strong> with a friend & follow us on social media for all the latest.
                          ul.social
                              li.facebook
                                  a(href="https://www.facebook.com/GymFit-UK-1568366210139723/", target="_blank")
                              li.twitter
                                  a(href="https://twitter.com/GymFit_UK", target="_blank")
                              li.instagram
                                  a(href="https://www.instagram.com/gymfit_uk/", target="_blank")
  
