doctype html
html(lang= language)
  head
    include ../layouts/includes/head

  body
    .fullscreen-hero-image
      .container
        .row
          .fullscreen-hero-image-content
            section
              .gymfit-not-available
                img(alt="GymFit Logo" src="/purple-logo.svg")
                h1= string('Not_Yet_Available')
                h2!= string('Connect_With_GymFit')
              
  footer
    .container-fluid
      p Copyright &copy; 2016 GymFit
      
      div
        a(href="https://gymfit.com/")
          img(alt=string('GymFit'), title=string('GymFit'), src="/white-icon.svg")
          
        a(href="https://twitter.com/GymFit_UK")
          .fa-stack.fa-lg
            i.fa.fa-circle.fa-stack-2x
            i.fa.fa-twitter.fa-stack-1x
        
        a(href="https://www.facebook.com/GymFit-Challenge-992057027482928/")
          .fa-stack.fa-lg
            i.fa.fa-circle.fa-stack-2x
            i.fa.fa-facebook.fa-stack-1x