extends ../layouts/page-base
block content


  .tile.page
    .container
      
      - var useLegalWording = page.name === 'Privacy Policy' || page.name === 'Terms and     Conditions';
      .object.content(class= useLegalWording ? 'legal-wording' : '')!= page.bodyCopy
