&.anchor-tabs {
	padding: 0;
	background: #FFFFFF;
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.07), 0px 4px 14px 0px rgba(0,0,0,0.09);	
	z-index: 20;
	ul {
		display: block;
		text-align: center;
		font-size: 0px;
		li {
			display: inline-block;
			font-size: 16px;
			.link-selected(){
				color: @gymfit-orange;
				&:before {
					background-color: @gymfit-orange;
				}
			}
			a {
				display: block;
				font-weight: 600;
				font-size: 0.875em; // 14 / 16
				color: #9B9B9B;
				letter-spacing: 2px;
				line-height: 12px;
				text-transform: uppercase;
				text-decoration: none;
				padding: 27px 35px 26px;
				position: relative;
				.transition();
				&:hover {
					.link-selected();
				}
				&:before {
					content: "";
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 3px;
					background-color: white;
					.transition();
				}
				&.selected {
					.link-selected();
				}
			}
		
		}
	}
}