&.auth {
	height: ~"calc(100% - 322px)";
	padding-top: 120px;
	padding-bottom: 120px;
	.container {
		max-width: 470px;
		position: relative;
		z-index: 10;
	}	
	.intro {
		display: block;
		font-family: @font-averta;
		font-size: 25px;
		line-height: 34px;
		margin-top: 38px;
	}
	.form {
		display: block;
		margin-top: 41px;
	}
	.fields {
		list-style: none;
		li {
			& + li {
				margin-top: 20px;
			}
			&.submit {
				margin-top: 30px;
				.object.btn-style-three {
					display: block;
					width: 100%;
				}
			}
			&.cta {
				text-align: center;
				&.align-left {
					text-align: left;
				}
				&.align-right {
					text-align: right;
				}
				a {
					text-decoration: none;
					position: relative;
					.transition(@ease: ease-out);
					&:after {
						content: "";
						position: absolute;
						bottom: -5px;
						left: 0;
						width: 100%;
						height: 2px;
						background-color: #4A4A4A;
					}
					&:hover {
						color: @gymfit-purple;
						&:after {
							background-color: @gymfit-purple;
						}
					}
				}
			}
		}
	}
	.object.alert + form {
		margin-top: 20px;
	}
	.background-image {
		position: absolute;
		z-index: 0;
		top: -220px;
		left: -390px;
		width: 1300px;
		height: 1528px;
		background-image: url('/bg-woman-facing-right.jpg');
		&:after {
			content: "";
			background-color: white;
			width: 500%;
			height: 500%;
			top: 0;
			right: -500%;
			position: absolute;
		}
	}
}