&.challenge {
	background-color: #F7F7F7;
	.container {
		position: relative;
		padding-right: 410px; // 410 / 1110
	}
	.object.content {
		display: inline-block;
		background: #FFFFFF;
		.rounded(5px);
		width: 100%; // 700 / 1110
		padding: 25px 25px 30px;
		h2,h3,h4,h5,h6 {
			font-size: 1.78571428571429em; // 25 / 14
		}
		ol li + li {
			margin-top: 5px;
		}
		p + h2,
		ul + h2,
		ol + h2 {
			margin-top: 56px;
		}
		.object.video {
			display: block;
			margin-bottom: 32px;
			iframe {
				margin: 0;
				padding: 0;
				width: 100%;
				height: 360px;
				border:none;
				display: block;
			}
		}
	}
	.sidebar {
		position: absolute;
		top: 0;
		right: 0;
		width: 350px;
		.object.submit-result + .object.nominate-a-friend {
			margin-top: 85px;
		}
	}
}