&.challenge-list {
	background-color: #F7F7F7;
	padding-top: 65px;
	padding-bottom: 110px;
	.category {
		display: block;
		.heading {
			font-family: @font-averta-light;
			font-weight: normal;
			font-size: 1.875em; // 30 / 16
			color: @gymfit-deep-purple;
			letter-spacing: 0px;
			line-height: 60px;
			text-transform: uppercase;
			display: block;
			text-align: center;
			margin-bottom: 13px;
		}
		& + .category {
			margin-top: 67px;
		}
	}
	.challenges {
		ul {
			list-style: none;
			display: block;
			text-align: left;
			font-size: 0px;
			margin-top: -50px;
			li {
				display: inline-block;
				width: 31.531531531532%; // 350 / 1110
				height: 270px;
				position: relative;
				font-size: 16px;
				margin-top: 50px;
				margin-left: 2.702702702703%; // 30 /1110
				a {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					text-decoration: none;
				}
				&:nth-child(3n-2){
					margin-left: 0px;
				}
			}
		}
	}
	.challenge {
		width: 100%;
		height: 100%;
		position: relative;
		background: @gymfit-deep-purple;
		text-align: center;
		box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.07), 0px 4px 14px 0px rgba(0,0,0,0.09);
		.rounded(8px);
		overflow: hidden;
		&.disabled {
			.image {
				background-image: none !important;
				&:after {
					background-image: none;
				}
			}
		}
		.image {
			position: relative;
			width: 100%;
			height: 100%;
			.background-size(cover);
			&:after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				background-image: linear-gradient(-180deg, rgba(255,255,255,0.00) 0%, #000000 100%);
				width: 100%;
				height: 100%;
			}
		}
		.details {
			color: #fff;
			position: absolute;
			bottom: 30px;
			left: 0;
			width: 100%;
			padding: 0 20px;
			.name {
				display: block;
				font-weight: 600;
				font-size: 1em;
				color: #F8C31C;
				letter-spacing: 0.84px;
				line-height: 16px;
				text-transform: uppercase;
				position: relative;
				span {
					display: block;
				}
				&:after {
					content: "";
					display: block;
					width: 100px;
					height: 6px;
					margin: 8px auto 9px;
					.background-size(cover);
					background-image: url('/challenge-separator.png');
					background: -webkit-image-set(url('/challenge-separator.png') 1x, url('/challenge-separator@2x.png') 2x);
					background: image-set(url('/challenge-separator.png') 1x, url('/challenge-separator@2x.png') 2x);

				}
			}
			.type {
				font-weight: 500;
				font-size: 0.875em; // 14 / 16
				color: #FFFFFF;
				letter-spacing: 1px;
				line-height: 14px;
				display: block;
				text-transform: uppercase;
			}
		}
	}
	// .purple {
	// 	.heading {
	// 		color: @gymfit-deep-purple;
	// 	}
	// 	.challenge {
	// 		background-color: @gymfit-deep-purple;
	// 		&:hover {
	// 			background-color: black;
	// 		}
	// 	}
	// }
	// .orange {
	// 	.heading {
	// 		color: @gymfit-orange;
	// 	}
	// 	.challenge {
	// 		background-color: @gymfit-orange;
	// 		&:hover {
	// 			background-color: black;
	// 		}
	// 	}
	// }
	// .green {
	// 	.heading {
	// 		color: @gymfit-green;
	// 	}
	// 	.challenge {
	// 		background-color: @gymfit-green;
	// 		&:hover {
	// 			background-color: black;
	// 		}
	// 	}
	// }
}