&.feature-video {
	text-align: center;
	z-index: 20;
	position: relative;
	background-color: white;
	background-image: url('/video-background.jpg');
	background-repeat: repeat-x;
	overflow: hidden;
	background-position: center center;
	& + .tile.feature-image-with-content.challenge {
		margin-top: -29px;
	}
	.container {
		height: 100%;
		z-index: 10;
	}
	.icon {
		display: inline-block;
		margin-bottom: 24px;
	}
	.heading {
		font-size: 2.1875em; // 35 / 16
		color: @gymfit-deep-purple; 
		font-family: @font-averta-light;
		font-weight: 300;
		strong {
			font-family: @font-averta;
			font-weight: 700;
		}
	}
	.strapline {
		font-size: 1.25em; // 20 / 16
		color: #4A4A4A;
		line-height: 26px;
		font-weight: 700;
		margin-top: 15px;
	}
	.watch-video {
		display: inline-block;
		margin-top: 44px;
		.play-icon {
			width: 126px;
			height: 126px;
			display: block;
			position: absolute;
			top: ~"calc(50% - 63px)";
			left: ~"calc(50% - 63px)";
			background-image: url('/feature-video-play-button.png');
			background: -webkit-image-set(url('/feature-video-play-button.png') 1x, url('/feature-video-play-button@2x.png') 2x);
			background: image-set(url('/feature-video-play-button.png') 1x, url('/feature-video-play-button@2x.png') 2x);
			.background-size;
		}
		.video-container {
			display: inline-block;
			background: #FFFFFF;
			box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.07), 0px 4px 14px 0px rgba(0,0,0,0.09);
			.rounded(5px);
			padding: 20px 20px;
			position: relative;
			.image {
				display: block;
				width: 700px;
				height: 380px;
				.background-size(cover);
				background-image: url('/feature-video-placeholder.jpg');
			}
		}
	}
	.register {
		display: block;
		text-align: center;
		margin-top: 61px;
		.object.content {
			margin-top: 33px;
			color: #fff;
			p a {
				color: #fff;
				font-size: 14px;
				&:after {
					background-color: #fff;
					bottom: 2px;
				}
			}	
		}
	}
}