&.feature-image-with-content {
	padding: 0; 
	position: relative;
	overflow: hidden;
	z-index: 11;
	background-color: #fff;
	& + .tile.feature-image-with-content {
		border-top: 1px solid #EBEAEA;
	}
	&.right {
		direction: rtl;
		.content {
			direction: ltr;
			text-align: right;
		}
	}
	&.curve-down {
		background-color: transparent;
		.container {
	    	padding-bottom: 125px;
		}
	}
	&.curve-up {
		background-color: transparent;
		&.reviews {
			.container {
				padding-top: 215px;
			}
			.image {
				.border-radius(34%, 0,0,34%);
			}
		}
	}
	&.challenge-tile {
		background-color: #fff;
	}
	.image {
		position: absolute;
		width: 100%;
		background-repeat: no-repeat;
		z-index: 5;
		overflow: visible;
	}
	.container {
		position: relative;
		padding-top: 140px;
		padding-bottom: 80px;
	}
	.content {
		position: relative;
		z-index: 10;
		max-width: 500px;
		.heading {	
			text-transform: uppercase;
			display: inline-block;
			font-family: @font-averta-light;
			font-weight: 300;
			font-size: 3.57142857142857em;
			color: @gymfit-deep-purple;
			letter-spacing: 3px;
			line-height: 56px;
		}
		.pre-heading {
			color: @gymfit-orange;
			font-size: 1em; // 14 / 14
			letter-spacing: 2px;
			line-height: 12px;
			display: inline-block;
			font-weight: 600;
			text-transform: uppercase;
			margin-right: 3px;
			margin-bottom: 4px;
		}
		.heading + p {
			margin-top: 23px;
		}
		p a:after {
			background-color: @gymfit-purple;
		}
		p {
			max-width: 480px;
			font-size: 1.28571428571429em; // 18 / 14
		}
	}
	// .card {
	// 	max-width: 356px;
	// 	background-color: #fff;
	// 	padding: 25px 25px;
	// 	margin-top: 31px;
	// 	.box-shadow(0px 1px 3px 0px rgba(0,0,0,0.07), 0px 4px 14px 0px rgba(0,0,0,0.09));
	// 	.border-radius(5px,5px,5px,5px);
	// 	.card-heading {
	// 		display: block;
	// 		font-weight: 600;
	// 		font-size: 15px;
	// 		color: #67377E;
	// 		letter-spacing: 0.83px;
	// 		text-transform: uppercase;
	// 		& + p {
	// 			margin-top: 7px;
	// 		}
	// 	}
	// 	p {
	// 		display: block;
	// 		font-size: 18px;
	// 		color: #9B9B9B;
	// 		line-height: 27px;
	// 		& + p {
	// 			margin-top: 7px;
	// 		}
	// 		a {
	// 			color: @gymfit-orange;
	// 			text-transform: uppercase;
	// 			font-size: 14px;
	// 			font-weight: 600;
	// 			letter-spacing: 0.93px;
	// 			&:after {
	// 				background-color: @gymfit-orange;
	// 			}
	// 		}
	// 	}
	// }
}