&.features {
	padding: 145px 0;
	.background-size;
	background-image: url(/features-background.jpg);
	position: relative;
	z-index: 20;
	&:before,
	&:after {
		content: "";
		width: 30%;
		position: absolute;
		top: -4px;
		left: ~"calc(50% - 15%)";
		background-color: @gymfit-orange;
		height: 7px;
		.rounded(10px);
		z-index: 10;
	}
	&:after {
		top: auto;
		bottom: -4px;
	}

	ul {
		display: block;
		text-align: center;
		margin-top: -79px;
		font-size: 0em;
		li {
			display: inline-block;
			width: 30.612244897959%; // 300 / 980
			vertical-align: top;
			margin-right: 3.673469387755%; // 36 / 980
			margin-top: 79px;
			&:nth-child(3n){
				margin-right: 0;
			}
			.icon {
				color: #fff;
				font-size: 40px;
				& + p {
					margin-top: 16px;
				}
			}
			p {
				color: #9B9B9B;
				line-height: 27px;
				font-size: 18px;
			}
		}
	}
}