&.footer {
	background-color: @gymfit-deep-purple;
	text-align: center;
	padding-bottom: 40px;
	padding-top: 67px;
	.logo {
		display: block;
		a {
			display: inline-block;
		}
	}
	.social-container {
		display: block;
		margin-top: 36px;
		ul {
			display: block;
			li {
				display: inline-block;
				& + li {
					margin-left: 16px;
				}
			}
		}
	}
	.copyright {
		color: #fff;
		display: block;
		font-weight: 700;
		text-transform: uppercase;
		font-size: 12px;
		letter-spacing: 1px;
		line-height: 29px;
		margin-top: 26px;
		ul {
			display: block;
			margin-top: 1px;
			li {
				display: inline-block;
				list-style: none;
				& + li {
					margin-left: 20px;
				}
			}
		}
		a {
			color: #C08FD7;
			text-decoration: none;
			.transition;
			&:hover {
				color: #fff;
			}
		}
	}
	&.large-wave {
		padding: 0;
		height: 346px;
		width: 100%;
		background-color: transparent;
		background-image: url('/footer-large-wave.png');
		.background-size;
		background-position: center;
		margin-top: -55px;
	}
	&.repeat-wave {
		position: relative;
		background-color: rgb(93, 48, 118);
		&:before {
			content: "";
			width: 100%;
			height: 109px;
			background-image: url('/footer-repeat-wave.png');
			background-repeat: repeat-x;
			position: absolute;
			top: -109px;
			left: 0;
		}

	}
}