&.header {
	position: absolute;
	top: 40px;
	left: 0;
	width: 100%;
	z-index: 50;
	padding: 0;
	min-height: 55px;
	background-color: transparent;
	& + .tile:not(.tile.page-title) {
		padding-top: 95px;
	}
	& + .tile.page {
		padding-top: 360px;
	}
	&.scrolled {
		position: fixed;
		background-color: #fff;
		box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.07), 0px 4px 14px 0px rgba(0,0,0,0.09);
		top: -70px;
		.nav .logged-in.has-children {
			.object.btn-style-one.outline a {
				border-color: @gymfit-deep-purple;
				background-color: @gymfit-deep-purple;
			}
		}
		.container {
			height: 70px;
		}
		.logo {
			top: 7px;
		}
		.object.logo {
			background-image: url('/gymfit-purple-logo.png');
			height: 40px;
			width: 111px;
		}
		.nav > ul > li {
			a.link {
				color: @gymfit-deep-purple;
			}
			&:hover {
				> a.link {
					color: #000;
					&:before {
						width: 100%;
						background-color: #000;
					}
				}
			}
		}
		
		.nav .create-account .object.btn-style-one {
			a:not(:hover) {
				background-color: @gymfit-deep-purple;
				color: #fff;
			}
		}

		.nav .search .object.btn-style-one {
			a {
				background-color: @gymfit-deep-purple;
				&:before {
					background: url('/white-search-icon.png');
					background: -webkit-image-set( url('/white-search-icon.png') 1x, url('/white-search-icon@2x.png') 2x );
					background: image-set( url('/white-search-icon.png') 1x, url('/white-search-icon@2x.png') 2x );
				}
				&:hover {
					background-color: #000;
				}
			}
		}
		.nav .login .object.btn-style-one.outline {
			a:not(:hover) {
				border-color: @gymfit-deep-purple;
				color: @gymfit-deep-purple;
			}
		}
		.nav .has-children {
			&:hover {
				.arrow:before {
					background: url('/nav-down-arrow-black.png');
					background: -webkit-image-set( url('/nav-down-arrow-black.png') 1x, url('/nav-down-arrow-black@2x.png') 2x );
					background: image-set( url('/nav-down-arrow-black.png') 1x, url('/nav-down-arrow-black@2x.png') 2x );					
				}
			}
			.arrow:before {
				background: url('/nav-down-arrow-purple.png');
				background: -webkit-image-set( url('/nav-down-arrow-purple.png') 1x, url('/nav-down-arrow-purple@2x.png') 2x );
				background: image-set( url('/nav-down-arrow-purple.png') 1x, url('/nav-down-arrow-purple@2x.png') 2x );
			}
		}
	}
	.container {
		height: 55px;
		width: 1240px;
		z-index: 20;
	}
	.logo {
		position: absolute;
		top: 0;
		left: 0;
	}
	.responsive-nav {
		display: none;
		width: 100%;
		height: 100%;
		> ul {
			display: table-cell;
			vertical-align: middle;
			list-style: none;
			width: 100%;
			height: 100%;
			text-align: right;
			> li {
				display: inline-block;
				vertical-align: middle;
				& + li {
					margin-left: 5px;
				}
			}
		}
		.search {
			overflow: hidden;
			a {
				display: inline-block;
				min-width: 45px;
				border: 2px solid @gymfit-deep-purple;
				position: relative;
				&:before {
					content: "";
					position: absolute;
					top: 7px;
					left: 13px;
					width: 16px;
					height: 17px;
					background: url('/purple-search-icon.png');
					background: -webkit-image-set( url('/purple-search-icon.png') 1x, url('/purple-search-icon@2x.png') 2x );
					background: image-set( url('/purple-search-icon.png') 1x, url('/purple-search-icon@2x.png') 2x );
				}
				&:hover {
					&:before {
						background: url('/white-search-icon.png');
						background: -webkit-image-set( url('/white-search-icon.png') 1x, url('/white-search-icon@2x.png') 2x );
						background: image-set( url('/white-search-icon.png') 1x, url('/white-search-icon@2x.png') 2x );
					}
					border-color: #000;
				}
			}
		}
		.menu {
			a {
				&:not(:hover){
					background-color: @gymfit-deep-purple;
					color: #fff;
				}
				&:before {
					content: "";
					display: inline-block;
					width: 12px;
					height: 10px;
					.background-size(cover);
					background-image: url('/menu-icon.png');
					background: -webkit-image-set(url('/menu-icon.png') 1x, url('/menu-icon@2x.png') 2x);
					background: image-set(url('/menu-icon.png') 1x, url('/menu-icon@2x.png') 2x);
					margin-right: 9px;
				}
				&:after {
					content: "Menu";
					display: inline-block;
				}
			}
		}
	}	
	.nav {
		display: table;
		width: 100%;
		height: 100%;
		// Top level styling
		> ul {
			display: table-cell;
			vertical-align: middle;
			list-style: none;
			width: 100%;
			height: 100%;
			text-align: right;
			> li {
				display: inline-block;
				vertical-align: middle;
				& + li {
					margin-left: 40px;
				}
				&:hover {
					> a.link {
						color: #fff;
						&:before {
							width: 100%;
							background-color: #fff;
						}
					}
				}
				a.link {
					display: inline-block;
					vertical-align: middle;
					font-family: @font-averta;
					font-weight: 600;
					font-size: 0.875em; // 14 / 16
					color: #D8CADF;
					letter-spacing: 2px;
					text-transform: uppercase;
					text-decoration: none;
					transition: all .3s ease-out;
					position: relative;
					&.selected {
						color: #fff;
						&:before {
							width: 100%;
							background-color: white;
						}
					}
					&:before {
						content: "";
						position: absolute;
						bottom : -3px;
						left: 0;
						height: 2px;
						background-color: #D8CADF;
						width: 0;
						transition: all .3s ease-out;
					}
				}
			}
		}
		.search {
			margin-left: 60px;
			min-width: 50px;
			.object.btn-style-one {
				display: block;
				position: relative;
				a {
					&:before {
						content: "";
						position: absolute;
						top: 12px;
						left: 17px;
						width: 16px;
						height: 17px;
						background: url('/purple-search-icon.png');
						background: -webkit-image-set( url('/purple-search-icon.png') 1x, url('/purple-search-icon@2x.png') 2x );
						background: image-set( url('/purple-search-icon.png') 1x, url('/purple-search-icon@2x.png') 2x );
					}
				}
				&:hover {
					a {
						&:before {
							background: url('/white-search-icon.png');
							background: -webkit-image-set( url('/white-search-icon.png') 1x, url('/white-search-icon@2x.png') 2x );
							background: image-set( url('/white-search-icon.png') 1x, url('/white-search-icon@2x.png') 2x );
						}
					}
				}
			}
		}
		.logged-in {
			margin-left: 9px;
			&:hover {
				.object.btn-style-one.outline a {
					background-color: @gymfit-deep-purple;
					border-color: @gymfit-deep-purple;
				}
			}
			.object.btn-style-one.outline a {
				font-weight: 500;
				.font-size(18, 16);
				color: #FFFFFF;
				line-height: 18px;
				text-transform: none;
				transition: none;
				&:after {
					content: "";
					display: inline-block;
					width: 12px;
					height: 7px;
				    vertical-align: top;
				    margin-top: 6px;
				    margin-left: 10px;
					.background-size(cover);
					background-image: url('/nav-logged-in-down-arrow.png');
					background: -webkit-image-set( url('/nav-logged-in-down-arrow.png') 1x, url('/nav-logged-in-down-arrow@2x.png') 2x );
					background: image-set( url('/nav-logged-in-down-arrow.png') 1x, url('/nav-logged-in-down-arrow@2x.png') 2x );
				}
			}
			&.has-children {
				.children {
				    min-width: 160px;
				    width: 110%;
				    left: auto;
				    right: 0;
				    text-align: left;
				    top: 36px;
					padding-bottom: 13px;
					padding-top: 15px;
				    &:before {
						left: auto;
					    right: 21px;
				    }
				    &:after {
				    	display: none;
				    }
				    a {
				    	text-decoration: none;
						.font-size(15, 16);
						color: @gymfit-deep-purple;
						.transition();
						&:hover {
							color: #000;
						}
						&.selected {
							color: #000;
						}
				    }
				    li + li {
				    	margin-top: 13px;
				    }
				    .logout {
				    	position: relative;
				    	margin-top: 23px;
				    	&:before {
				    		content: "";
				    		width: ~"calc(100% + 40px)";
				    		height: 1px; 
				    		background-color: #D8D8D8;
				    		position: absolute;
				    		top: -10px;
				    		left: -20px;
				    	}
				    	a:not(:hover) {
				    		color: #D0021B;
				    	}
				    }
				}
			}
		}
		.login {
			margin-left: 9px;
			.object.btn-style-one.outline {
				a:not(:hover) {
					color: #D8CADF;
					border-color: #D8CADF;
				}
				a {
					&:before {
						content: "Login";
						display: inline-block;
					}
				}
			}
		}
		.create-account {
			margin-left: 9px;
			a {
				&:before {
					content: "Create Account";
					display: inline-block;
				}
			}
		}
		.has-children {
			position: relative;
			.arrow {
				display: inline-block;
				vertical-align: middle;
				margin-left: 5px;
				&:before {
					content: "";
					display: inline-block;
					width: 10px;
					height: 6px;
				    vertical-align: top;
				    margin-top: 7px;
					.background-size(cover);
					.image-set('/nav-down-arrow.png', '/nav-down-arrow@2x.png');
				}
			}
			.selected + .arrow:before {
				.image-set('/nav-down-arrow-white.png', '/nav-down-arrow-white@2x.png');
			}
			&:hover {
				.arrow {
					&:before {
						.image-set('/nav-down-arrow-white.png', '/nav-down-arrow-white@2x.png');
					}
				}
			}
			.children {
				display: none;
				position: absolute;
				top: 28px;
				left: -26px;
				width: 170px;
				background: #FFFFFF;
				box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.07), 0px 4px 14px 0px rgba(0,0,0,0.09);
				border-radius: 7px;
				text-align: center;
				padding: 20px 20px;
				list-style: none;
				&:before {
					content: "";
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 0 8px 5px 8px;
					border-color: transparent transparent white transparent;
					position: absolute;
					top: -5px;
					left: ~"calc(50% - 8px)";
				}
				// Used to aid selection from dissapearing on hover
				&:after {
					content: "";
					width: 100%;
					height: 25px;
					position: absolute;
					top: -25px;
					left: 0; 
				}
				a.link {
					color: #67377E;
				}
				li {
					& + li {
						margin-top: 9px;
					}
					&:hover {
						a.link {
							color: #000;
							&:before {
								width: 100%;
								background-color: #000;
							}
						}
					}
					a.link.selected {
						color: #000;
						&:before {
							width: 100%;
							background-color: #000;
						}
					}
				}
			}
			&:hover {
				.children {
					display: inline-block;
				}
			}
		}
	}
}