&.hero-search {
	.background-size(cover);
	background-color: @gymfit-deep-purple;
	background-image: url('/search-bg.jpg');
	height: 705px;
	padding-bottom: 50px;
	.container {
		height: 100%;
		width: 90%;
		text-align: center;
	}
	.search-wrapper {
		display: table;
		width: 100%;
		height: 100%;
		.search-container {
			display: table-cell;
			width: 100%;
			vertical-align: middle;
		}
	}
	.app-download {
		font-size: 0.875em; // 14 / 16
		color: #FFFFFF;
		letter-spacing: 1px;
		position: absolute;
		bottom: 0;
		left: 0; 
		width: 100%;
		.ios img {
			display: inline-block;
			margin-top: 10px;
		}
	}
	#search-all-locations {
		display: block;
		height: 100%;
		.twitter-typeahead {
			height: 100%;
			display: block;
			width: 100%;
		}
	}
}