&.leaderboard-list {
	background-color: #F7F7F7;
	padding-top: 65px;
	padding-bottom: 110px;
	.category {
		display: block;
		background: #FFFFFF;
		padding: 40px 40px;
		.rounded(5px);
		.heading {
			font-family: @font-averta-light;
			font-weight: normal;
			font-size: 1.875em; // 30 / 16
			color: @gymfit-deep-purple;
			letter-spacing: 0px;
			line-height: 60px;
			text-transform: uppercase;
			display: block;
			text-align: center;
			margin-top: -12px;
		}
		& + .category {
			margin-top: 50px;
		}
	}
	.challenges {
		ul {
			list-style: none;
			display: block;
			text-align: left;
			font-size: 0px;
			margin-top: -10px;
			li {
				display: inline-block;
				width: 31.067961165049%; // 320 / 1030
				position: relative;
				font-size: 16px;
				margin-top: 30px;
				margin-left: 3.398058252427%; // 35 / 1030
				vertical-align: top;
				&:nth-child(3n-2){
					margin-left: 0px;
				}
				a {
					display: block;
					text-decoration: none;
				}
			}
		}
	}
	.challenge {
		background: #67377E;
		.rounded(8px);
		overflow: hidden;
		text-align: left;
		padding: 23px 20px;
		.transition();
		position: relative;
		&:after {
			content: "";
			width: 6px;
			height: 10px;
			position: absolute;
			top: 26px;
			right: 20px;
			.background-size();
			background-image: url('/leaderboard-challenge-arrow.png');
			background: -webkit-image-set(url('/leaderboard-challenge-arrow.png') 1x, url('/leaderboard-challenge-arrow@2x.png') 2x);
			background: image-set(url('/leaderboard-challenge-arrow.png') 1x, url('/leaderboard-challenge-arrow@2x.png') 2x);
		}
		&:hover {
			background-color: black;
		}
		&.disabled {
			.opacity(0.4);
		}
		.details {
			display: block;
			.name {
				font-weight: 500;
				font-size: 0.875em; // 14 / 16
				color: #FFFFFF;
				letter-spacing: 0px;
				text-transform: uppercase;
				span {
					display: block;
				}
			}
		}
	}
	.purple {
		.heading {
			color: @gymfit-deep-purple;
		}
		.challenge {
			background-color: @gymfit-deep-purple;
			&:hover:not(.disabled) {
				background-color: black;
			}
		}
	}
	.orange {
		.heading {
			color: @gymfit-orange;
		}
		.challenge {
			background-color: @gymfit-orange;
			&:hover:not(.disabled) {
				background-color: black;
			}
		}
	}
	.green {
		.heading {
			color: @gymfit-green;
		}
		.challenge {
			background-color: @gymfit-green;
			&:hover:not(.disabled) {
				background-color: black;
			}
		}
	}
}