&.modal {
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(255,255,255,0.9);
	z-index: 1000;
	width: 100%;
	height: 100%;
	display: none;
	overflow-y: scroll;
	.container {
		max-width: 900px;
	}
	.modal-wrapper {
		display: table;
		width: 100%;
		height: 100%;
		.modal-container{
			display: table-cell;
			vertical-align: middle;
		}		
	}
	.modal-box {
		background: #FFFFFF;
		.box-shadow(0px 1px 3px 0px rgba(0,0,0,0.07), 0px 4px 14px 0px rgba(0,0,0,0.09));
		.rounded(8px);
		padding: 20px;
		overflow: hidden;
	}
	&.video {
		text-align: center;
		.video {
			position: relative;
			max-width: 860px;
			&.finished {
				.object.success {
					display: block;
				}
			}
			iframe {
				display: block;
				position: relative;
				z-index: 10;
			}
			.watch-again {
				display: block;
				margin-bottom: 37px;
				.icon {
					display: block;
					text-align: center;
					a {
						display: inline-block;
						width: 72px;
						height: 72px;
						background-image: url('/replay-video-button.png');
						.background-size;
					}
				}
				p {
					font-weight: 500;
					font-size: 16px;
					color: #9B9B9B;
					line-height: 21px;
					margin-top: 3px;
				}
			}
			.object.success {
				// display: block;
				&:before {
					content: "";
					width: 125%;
					height: ~"calc(100% + 20px)";
					position: absolute;
					top: -20px;
					left: -12.5%;
					background-color: #FAFAFA;
					background-image: url('/video-finished-pattern.png');
					background-position:  top center;
				}
			}
			.content {
				display: block;
				max-width: 680px;
				margin: -20px auto 0;
				position: relative;
				z-index: 10;
			}
			.object.btn-style-two {
				margin-top: 29px;
			}
		}
		.object.btn-style-one {
			// .btn-style(@bg-color: #000);
			margin-top: 30px;
			margin-bottom: 10px;
			a, button {
				background-color: black;
				color: #fff;
			}
			// &:hover {
			// 	.opacity(0.5);
			// }
		}
	}
}