&.page {
	position: relative;
	overflow: hidden;
	&:before {
		content: "";
		width: 100%;
		height: 360px;
		background-color: @gymfit-deep-purple;
		position: absolute;
		top: 0;
		left: 0;
	}
	.container {
		max-width: 850px;
	}
	.object.content;
	h1 {
		display: block;
		font-family: @font-averta-light;
		font-size: 3.57142857142857em; // 50 / 14 (context set by object content)
		color: #FFFFFF;
		letter-spacing: 1.66px;
		line-height: 60px;
		margin-top: -86px;
		margin-bottom: 93px;
		font-weight: normal;
		text-transform: uppercase;
		position: relative;
		strong {
			font-family: @font-averta;
			font-weight: 700;
		}
		&:after {
			width: 500%;
			height: 150%;
			content: "";
			position: absolute;
			bottom: -25px;
			left: -250%;
			background-color: @gymfit-deep-purple;
			z-index: -1;
		}
	}
	.container > h1,
	.container > h2,
	.container > h3,
	.container > h4,
	.container > h5, 
	.container > h6 {
		padding-top: 0;
	}
}