&.page-title {
	background-color: @gymfit-deep-purple;
	text-align: center;
	padding-bottom: 56px;
	padding-top: 195px;
	min-height: 275px;
	.background-size(cover);
	& + .tile.search {
		.container {
			margin-top: -170px;
		}	
	}
	.heading {
		display: block;
		font-family: @font-averta-light;
		font-size: 3.125em; // 50 / 16
		color: #FFFFFF;
		letter-spacing: 1.66px;
		line-height: 60px;
		font-weight: normal;
		text-transform: uppercase;
		position: relative;
		strong {
			font-family: @font-averta;
			font-weight: 700;
		}
	}
	.sub-heading {
		/* See how you and your: */
		font-weight: 500;
		font-size: 1.25em; // 20 / 16
		color: #FFFFFF;
		line-height: 26px;
		margin-top: 7px;
	}
	&.with-back-button {
		padding-top: 161px;
		.heading {
			margin-top: 15px;
			margin-bottom: -34px;
		}
		.back {
			font-weight: 600;
			font-size: 0.875em; // 14 / 16 
			color: #FFFFFF;
			letter-spacing: 1px;
			line-height: 18px;
			text-decoration: none;
			text-transform: uppercase;
			position: relative;
			&:hover {
				&:after {
					width: 30%;
				}
			}
			&:before {
				content: "";
				width: 6px;
				height: 10px;
				position: absolute;
			    top: 4px;
			    left: -17px;
				.background-size(cover);
				.image-set('/page-title-back-arrow.png', '/page-title-back-arrow@2x.png')
			}
			&:after {
				content: "";
				width: 100%;
				height: 2px;
				background-color: #fff;
				position: absolute;
				left: 0;
				bottom: -4px;
				.transition();
			}
		}
	}
}