&.register {
	.background-size;
	background-image: url(/register-background.jpg);
	text-align: center;
	.object.heading-style-two {
		display: block;
		max-width: 500px;
		margin: 0 auto;
	}
	.intro {
		font-size: 20px;
		color: #000000;
		line-height: 29px;
		max-width: 500px;
		display: block;
		margin: 14px auto 0;
	}
	.object.btn-style-two {
		a, button {
			font-size: 1.125em;
		}
	}
	.form {
		display: block;
		background: #FFFFFF;
		max-width: 565px;
		position: relative;
		margin: 40px auto 0;
		.box-shadow(0px 1px 3px 0px rgba(0,0,0,0.07), 0px 4px 14px 0px rgba(0,0,0,0.09));
		.border-radius(5px,5px,5px,5px);
		padding: 30px 40px 40px;
		border-top: 6px solid @gymfit-purple;
		overflow: hidden;
		&.success {
			.object.success {
				display: block;
				.icon {
					display: block;
					width: 64px;
					height: 72px;
					margin: 0 auto;
					background-image: url('/thumbs-up.png');
					.background-size;
					margin-bottom: 22px;
				}
				.social {
					display: block;
					list-style: none;
					margin-top: 31px;
					li {
						display: inline-block;
						vertical-align: top;
						margin-right: -5px;
						position: relative;
						& + li {
							margin-left: 20px;
						}
						a {
							display: inline-block;
							width: 30px;
							height: 30px;
							cursor: pointer;
							.background-size;
							.transition;
							&:hover {
								.opacity(0.5);
							}
						}
						&.share {
							a {
								background-image: url('/icon-p-share.png');
							}
						}
						&.facebook {
							a {
								background-image: url('/icon-p-facebook.png');
							}
						}
						&.twitter {
							a {
								background-image: url('/icon-p-twitter.png');
							}
						}
						&.instagram {
							a {
								background-image: url('/icon-p-instagram.png');
							}
						}
					}
				}
			}
		}
		.object.form-msg {
			margin-bottom: 20px;
		}
		.form-heading {
			font-weight: 500;
			font-size: 25px;
			color: #000000;
			line-height: 29px;
			display: block;
			text-align: center;
			margin-bottom: 25px;
		}
		.fields {
			list-style: none;
			li {
				display: block;
				& + li {
					margin-top: 20px;
				}
				&.submit {
					margin-top: 40px;
				}
			}
		}
		.types {
			list-style: none;
			text-align: left;
			li {
				text-align: center;
				background: #FFFFFF;
				.box-shadow(0px 1px 3px 0px rgba(0,0,0,0.07), 0px 4px 14px 0px rgba(0,0,0,0.09));
				.border-radius(8px,8px,8px,8px);
				display: inline-block;
				width: 31.958762886598%; // 155 / 485
				background-color: #fff;
				display: inline-block;
				margin-right: -5px;
				height: 184px;
				overflow: hidden;
				position: relative;
				& + li {
					margin-left: 2.061855670103%; // 10 / 485	
				}
				label {
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					width: 100%;
					background-color: #fff;
					cursor: pointer;
					.box-sizing;
					z-index: 5;
					&:after {
						content: "";
						position: absolute;
						top: 25px;
						left: 0px;
						width: 100%;
						height: 75px;
						.background-size(contain);
						background-position: center;
						background-repeat: no-repeat;
					}
					&.pt {
						&:after {
							background-image: url('/type-pt.png');
						}
					}
					&.gym {
						&:after {
							background-image: url('/type-gym.png');
						}
					}
					&.client {
						&:after {
							background-image: url('/type-client.png');
						}
					}
				}
				input {
					position: absolute;
					top: 0;
					left: 0;
					.opacity(0);
				}
				&.selected { 
					label {
						&:before {
							content: "";
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							.rounded(9px);
							border: 3px solid @gymfit-purple;
							.box-sizing;
							background-color: #fff;
						}
						&.pt {
							&:after {
								background-image: url('/type-pt-selected.png');
							}
						}
						&.gym {
							&:after {
								background-image: url('/type-gym-selected.png');
							}
						}
						&.client {
							&:after {
								background-image: url('/type-client-selected.png');
							}
						}
					}
					.title {
						color: @gymfit-purple;
					}
				}
				.title {
					padding: 0 20px;
					text-align: center;
					font-weight: 500;
					font-size: 20px;
					color: #000000;
					position: relative;
					z-index: 10;
					position: absolute;
					bottom: 25px;
					left: 0;
					width: 100%;
					cursor: pointer;
				}
			}
			& + .fields {
				margin-top: 32px;
			}
		}
	}
}