&.responsive-nav {
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	width: 260px;
	overflow-y: scroll;
	z-index: 20;
	padding: 24px 22px 30px;
	background-color: #fff;
	.transition();
	// &:before {
	// 	content: "";
	// 	position: absolute;
	// 	top: 0;
	// 	left: -100px;
	// 	width: 100px;
	// 	height: 100%;
	// 	box-shadow:  3px 1px 3px 0px rgba(0,0,0,0.01),  3px 2px 14px 0px rgba(0,0,0,0.10);
	// }
	.nav {
		list-style: none;
		text-align: right;
		a {
			text-transform: uppercase;
			text-decoration: none;
			font-weight: 600;
			font-size: 0.9375em; // 15 / 16
			color: @gymfit-deep-purple;
			letter-spacing: 2.14px;
			position: relative;
			transition: all .3s ease-out;
			&:before {
				content: "";
				position: absolute;
				bottom : -3px;
				left: 0;
				height: 2px;
				background-color: @gymfit-deep-purple;
				width: 0;
				transition: all .3s ease-out;
			}
			&:hover {
				color: black;
				&:before {
					width: 100%;
					background-color: black;
				}
			}
		}
		li {
			display: block;
			& + li {
				margin-top: 28px;
			}
		}
	}
	.buttons {
		list-style: none;
		display: block;
		text-align: center;
		margin-top: 80px;
		li {
			display: inline-block;
			vertical-align: middle;
			& + li {
				margin-left: 6px;
			}
		}
		a {
			background-color: @gymfit-deep-purple;
			color: #fff;
		}
		.object.btn-style-one.outline {
			a {
				border-color: @gymfit-deep-purple;
				color: @gymfit-deep-purple;
				&:hover {
					border-color: black;
					color: #fff;
				}
			}
		}
	}
}