&.search {
	.object.number-of-results {
		margin-top: 47px;
	}
	.results {
		display: block;
		margin-top: 30px;
		ul {
			display: block;
			font-size: 0px;
			list-style: none;
			li {
				font-size: 16px;
				display: block;
				& + li {
					margin-top: 40px;
				}
			}
		}
	}
	.object.pagination {
		display: none;
	}
}