&.user-content {
	background-color: #F7F7F7;
	min-height: 900px;
	.container {
		position: relative;
		padding-right: 410px; // 410 / 1110
	}
	.container.above {
		padding-right: 0;
		margin-bottom: 50px;
	}
	.content {
		width: 100%;
	}
	.sidebar {
		position: absolute;
		top: 0;
		right: 0;
		width: 350px;
		.object + .object {
			margin-top: 50px;
		}
		.object.submit-result + .object.nominate-a-friend {
			margin-top: 85px;
		}
		.object.write-review {
			.heading {
				width: 100%;
				padding-top: 30px;
				padding-left: 30px;
				padding-right: 30px;
				background-color: transparent;
				&:after {
					.rotation(-4deg);
					left: -25%;
					right: auto;
					width: 150%;
					top: -47px;
				}
				h2 {
					display: block;
					text-align: center;
				}
			}
			.rating {
				position: relative;
				display: block;
				padding-left: 30px;
				text-align: center;
				padding-bottom: 25px;
				padding-top: 33px;
				ul {
					li {
						&.go {
							margin: 28px 0 0 0;
						}
					}
				}
			}	
		}
	}
}