&.user-header {
	display: block;
    padding-top: 230px;
    margin-top: -11px;
    min-height: 360px;
	padding-bottom: 50px;
	background-position: center center;
	background-color: @gymfit-deep-purple;
	.background-size(cover);
	position: relative;
	.user-rating {
		position: absolute;
		top: -53px;
		left: 0;
		width: 100%;
		color: #fff;
		text-transform: uppercase;
		font-weight: 500;
		text-align: center;
		.font-size(16, 16);
		.rating {
			display: inline-block;
			vertical-align: middle;
		}
		.reviews {
			display: inline-block;
			vertical-align: middle;
		}
		.object.star-rating {
			margin-left: 30px;
			margin-right: 30px;
		}
	}
	.name {
		display: block;
		text-align: center;
		font-family: @font-averta-light;
		font-weight: normal;
		text-transform: uppercase;
		.font-size(50);
		color: #FFFFFF;
		letter-spacing: 0px;
		line-height: 60px;
	}
	.details {
		display: block;
		margin-top: 12px;
		ul {
			display: block;
			font-size: 0px;
			text-align: center;
			li {
				font-size: 16px;
				display: inline-block;
				p {
					.font-size(16);
					color: #FFFFFF;
					display: inline-block;
					vertical-align: middle;
				}
				& + li {
					margin-left: 40px;
				}
			}
		}
		.icon {
			display: inline-block;
			vertical-align: middle;
			.opacity(0.68);
			margin-right: 3px;
		}
	}
}