&.user-nav {
	padding: 0;
	background: #FFFFFF;
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.07), 0px 4px 14px 0px rgba(0,0,0,0.09);	
	z-index: 20;
	.container {
		position: relative;
	}
	.other {
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		text-align: right;
		font-size: 0px;
		z-index: 5;
		.followers-following {
			text-align: center;
			display: inline-block;
			vertical-align: top;
			font-size: 0px;
			border-right: 1px solid #F0F0F0;
			.block {
				font-size: 16px;
				display: inline-block;
				vertical-align: middle;
				min-width: 122px;
				border-left: 1px solid #F0F0F0;
				a {
					padding: 11px 0 13px;
					display: block;
					text-decoration: none;
				}
				.number {
					display: block;
					.font-size(25, 16);
					color: #F57800;
					line-height: 25px;
					text-transform: uppercase;
				}
				.phrase {
					display: block;
					font-weight: 600;
					.font-size(12,16);
					color: #9B9B9B;
					letter-spacing: 2px;
					line-height: 12px;
					text-transform: uppercase;
					margin-top: 4px;
				}
				.selected {
					position: relative;
					.phrase {
						color: @gymfit-orange;
					}
					&:after {
						content: "";
						width: 100%;
						height: 3px;
						position: absolute;
						bottom: 0;
						left: 0;
						background-color: @gymfit-orange;
					}
				}
			}
		}
		.calls-to-action {
			text-align: center;
			display: inline-block;
			padding: 12px 0 13px;
			vertical-align: top;
			ul {
				font-size: 0;
				list-style: none;
				li {
					display: inline-block;
					vertical-align: middle;
					font-size: 16px;
					margin-left: 15px;
					& + li {
						margin-left: 20px;
					}
				}
			}
			.object.btn-style-one {
				input:not(:hover){
					color: #fff;
					background-color: @gymfit-orange;
				}
			}
			.object.btn-style-one.outline {
				input:not(:hover){
					color: @gymfit-deep-purple;
					background-color: transparent;
					border-color: @gymfit-deep-purple;
				}
			}
		}
	}
	.sections {
		display: inline-block;
		position: relative;
		z-index: 10;
		ul {
			display: block;
			text-align: center;
			font-size: 0px;
			li {
				display: inline-block;
				font-size: 16px;
				.link-selected(){
					color: @gymfit-orange;
					&:before {
						background-color: @gymfit-orange;
					}
				}
				a {
					display: block;
					font-weight: 600;
					font-size: 0.875em; // 14 / 16
					color: #9B9B9B;
					letter-spacing: 2px;
					line-height: 12px;
					text-transform: uppercase;
					text-decoration: none;
					padding: 27px 35px 26px;
					position: relative;
					.transition();
					&:hover {
						.link-selected();
					}
					&:before {
						content: "";
						position: absolute;
						bottom: 0;
						left: 0;
						width: 100%;
						height: 3px;
						background-color: white;
						.transition();
					}
					&.selected {
						.link-selected();
					}
				}
			
			}
		}
	}
}